# This file is auto-generated. DO NOT EDIT.
swagger: "2.0"
info:
  title: "\U0001F52E Instill AI API"
  description: Interact with Instill AI through its public API
  version: v0.43.0-beta
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: User
    description: User namespaces
  - name: Organization
    description: Organization namespaces
  - name: Memberships
    description: Organization memberships
  - name: Token
    description: API tokens
  - name: Subscription
    description: Subscriptions to pricing plans
  - name: Credit
    description: Instill Credit
  - name: Metric
    description: Usage metrics
  - name: Region
    description: Model regions
  - name: Util
    description: Utils
  - name: Component
    description: Components
  - name: Pipeline
    description: Pipelines
  - name: Pipeline Release
    description: Pipeline Releases
  - name: Pipeline Trigger
    description: Pipeline Triggers
  - name: Secret
    description: Namespace Secrets
  - name: Integration
    description: Namespace Integrations
  - name: Model Definition
    description: Model definitions
  - name: Model
    description: Models
  - name: Model Version
    description: Model versions
  - name: Model Trigger
    description: Model triggers
  - name: Catalog
    description: Catalogs
  - name: App
    description: Apps
  - name: Conversation
    description: Conversations
  - name: Message
    description: Messages
  - name: Playground
    description: Playgrounds
host: api.instill.tech
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1alpha/namespaces/{namespaceId}/apps:
    get:
      summary: List all apps info
      operationId: AppPublicService_ListApps
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListAppsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: User ID for which to list the apps
          in: path
          required: true
          type: string
      tags:
        - App
    post:
      summary: Create a app
      operationId: AppPublicService_CreateApp
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateAppResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The app's owner(namespaces).
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppPublicServiceCreateAppBody'
      tags:
        - App
  /v1alpha/namespaces/{namespaceId}/apps/{appId}:
    delete:
      summary: Delete a app
      operationId: AppPublicService_DeleteApp
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteAppResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The owner's id. i.e. namespace.
          in: path
          required: true
          type: string
        - name: appId
          description: The app id.
          in: path
          required: true
          type: string
      tags:
        - App
    put:
      summary: Update a app info
      operationId: AppPublicService_UpdateApp
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateAppResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace id.
          in: path
          required: true
          type: string
        - name: appId
          description: App id.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppPublicServiceUpdateAppBody'
      tags:
        - App
  /v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations:
    get:
      summary: List conversations
      operationId: AppPublicService_ListConversations
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListConversationsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: pageSize
          description: page size
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: page token
          in: query
          required: false
          type: string
        - name: conversationUid
          description: |-
            conversation_uid this is optional, if provided, only the conversation with the given conversation_uid will be returned
            first check conversation_uid, then check conversation_id, then check if_all
          in: query
          required: false
          type: string
        - name: conversationId
          description: conversation_id this is optional, if provided, only the conversation with the given conversation_id will be returned
          in: query
          required: false
          type: string
        - name: ifAll
          description: If true, all conversations will be returned. This has higher priority over conversation_id, page_size, and page_token.
          in: query
          required: false
          type: boolean
      tags:
        - Conversation
    post:
      summary: Create a Conversation
      operationId: AppPublicService_CreateConversation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateConversationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppPublicServiceCreateConversationBody'
      tags:
        - Conversation
  /v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations/{conversationId}:
    delete:
      summary: Delete a conversation
      operationId: AppPublicService_DeleteConversation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteConversationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: conversationId
          description: conversation id
          in: path
          required: true
          type: string
      tags:
        - Conversation
    put:
      summary: Update a conversation
      operationId: AppPublicService_UpdateConversation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateConversationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: conversationId
          description: conversation id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppPublicServiceUpdateConversationBody'
      tags:
        - Conversation
  /v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations/{conversationId}/messages:
    get:
      summary: List messages
      operationId: AppPublicService_ListMessages
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListMessagesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: conversationId
          description: conversation id
          in: path
          required: true
          type: string
        - name: latestK
          description: latest k messages
          in: query
          required: false
          type: integer
          format: int32
        - name: pageSize
          description: page size
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: page token
          in: query
          required: false
          type: string
        - name: includeSystemMessages
          description: include system messages
          in: query
          required: false
          type: boolean
        - name: ifAll
          description: If true, all messages will be returned. This has higher priority over latest_k, page_size, and page_token.
          in: query
          required: false
          type: boolean
        - name: messageUid
          description: message_uid this is optional, if provided, only the message with the given message_uid will be returned
          in: query
          required: false
          type: string
      tags:
        - Message
    post:
      summary: Create a message
      operationId: AppPublicService_CreateMessage
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateMessageResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: conversationId
          description: conversation id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppPublicServiceCreateMessageBody'
      tags:
        - Message
  /v1alpha/namespaces/{namespaceId}/apps/{appId}/conversations/{conversationId}/messages/{messageUid}:
    delete:
      summary: Delete a message
      operationId: AppPublicService_DeleteMessage
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteMessageResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: conversationId
          description: conversation id
          in: path
          required: true
          type: string
        - name: messageUid
          description: message uid
          in: path
          required: true
          type: string
      tags:
        - Message
    put:
      summary: Update a message
      operationId: AppPublicService_UpdateMessage
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateMessageResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: appId
          description: app id
          in: path
          required: true
          type: string
        - name: conversationId
          description: conversation id
          in: path
          required: true
          type: string
        - name: messageUid
          description: message uid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppPublicServiceUpdateMessageBody'
      tags:
        - Message
  /v1alpha/namespaces/{namespaceId}/apps/{appId}/ai_assistant_playground/conversation:
    get:
      summary: Get Playground Conversation
      description: get the latest conversation of auth user(e.g. login user and api key user)
      operationId: AppPublicService_GetPlaygroundConversation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetPlaygroundConversationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The namespace id.
          in: path
          required: true
          type: string
        - name: appId
          description: The app id.
          in: path
          required: true
          type: string
      tags:
        - Playground
  /v1alpha/namespaces/{namespaceId}/apps/{appId}/ai_assistant_playground/restart:
    post:
      summary: Restart Playground Conversation
      description: |-
        create a new conversation and use the auth user uid as creator uid and auto
        generate a new conversation id on the behalf of auth user.
      operationId: AppPublicService_RestartPlaygroundConversation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaRestartPlaygroundConversationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The namespace id.
          in: path
          required: true
          type: string
        - name: appId
          description: The app id.
          in: path
          required: true
          type: string
      tags:
        - Playground
  /v1alpha/namespaces/{namespaceId}/apps/{appId}/chat:
    post:
      summary: Chat
      description: |-
        Chat sends a message asynchronously and streams back the response.
        This method is intended for real-time conversation with a chatbot
        and the response needs to be processed incrementally.
      operationId: AppPublicService_Chat
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaChatResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: appId
          description: App ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppPublicServiceChatBody'
      tags:
        - App
  /v1alpha/namespaces/{namespaceId}/catalogs:
    get:
      summary: Get all catalogs info
      operationId: ArtifactPublicService_ListCatalogs
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListCatalogsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: User ID for which to list the catalogs
          in: path
          required: true
          type: string
      tags:
        - Catalog
    post:
      summary: Create a catalog
      operationId: ArtifactPublicService_CreateCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The catalog's owner(namespaces).
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ArtifactPublicServiceCreateCatalogBody'
      tags:
        - Catalog
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}:
    get:
      summary: Get file catalog
      operationId: ArtifactPublicService_GetFileCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetFileCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: id of the namespace
          in: path
          required: true
          type: string
        - name: catalogId
          description: id of the catalog
          in: path
          required: true
          type: string
        - name: fileId
          description: id of the file(i.e. file name)
          in: query
          required: false
          type: string
        - name: fileUid
          description: Uid of the file
          in: query
          required: false
          type: string
      tags:
        - Catalog
    delete:
      summary: Delete a catalog
      operationId: ArtifactPublicService_DeleteCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The owner's id. i.e. namespace.
          in: path
          required: true
          type: string
        - name: catalogId
          description: The catalog id.
          in: path
          required: true
          type: string
      tags:
        - Catalog
    put:
      summary: Update a catalog info
      operationId: ArtifactPublicService_UpdateCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The catalog owner(namespace).
          in: path
          required: true
          type: string
        - name: catalogId
          description: The catalog id.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ArtifactPublicServiceUpdateCatalogBody'
      tags:
        - Catalog
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files:
    get:
      summary: List catalog files
      operationId: ArtifactPublicService_ListCatalogFiles
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListCatalogFilesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The owner/namespace uid id.
          in: path
          required: true
          type: string
        - name: catalogId
          description: The catalog id.
          in: path
          required: true
          type: string
        - name: pageSize
          description: The page size (default:10; max 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: The next page token(default from first file's token).
          in: query
          required: false
          type: string
        - name: filter.fileUids
          description: The file uids.
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - Catalog
    post:
      summary: Create a file
      operationId: ArtifactPublicService_UploadCatalogFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUploadCatalogFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: owner/namespace uid
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id
          in: path
          required: true
          type: string
        - name: file
          description: file
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaFile'
      tags:
        - Catalog
  /v1alpha/catalogs/files:
    delete:
      summary: Delete a file
      operationId: ArtifactPublicService_DeleteCatalogFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteCatalogFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: fileUid
          description: The file uid.
          in: query
          required: true
          type: string
      tags:
        - Catalog
  /v1alpha/catalogs/files/processAsync:
    post:
      summary: Process catalog files
      operationId: ArtifactPublicService_ProcessCatalogFiles
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaProcessCatalogFilesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaProcessCatalogFilesRequest'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Catalog
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks:
    get:
      summary: List catalog chunks
      operationId: ArtifactPublicService_ListChunks
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListChunksResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: owner/namespace id (not uid)
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id (not uid)
          in: path
          required: true
          type: string
        - name: fileUid
          description: unique identifier of the file
          in: query
          required: false
          type: string
        - name: chunkUids
          description: repeated chunk uid(not implemented yet)
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - Catalog
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}/source:
    get:
      summary: Get catalog single-source-of-truth file
      operationId: ArtifactPublicService_GetSourceFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetSourceFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: owner/namespace id
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id
          in: path
          required: true
          type: string
        - name: fileUid
          description: unique identifier of the original uploaded file
          in: path
          required: true
          type: string
      tags:
        - Catalog
  /v1alpha/chunks/{chunkUid}:
    post:
      summary: Update catalog chunk
      operationId: ArtifactPublicService_UpdateChunk
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateChunkResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: chunkUid
          description: chunk uid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ArtifactPublicServiceUpdateChunkBody'
      tags:
        - Catalog
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks/retrieve:
    post:
      summary: Retrieve similar chunks
      operationId: ArtifactPublicService_SimilarityChunksSearch
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaSimilarityChunksSearchResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: owner/namespace id
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ArtifactPublicServiceSimilarityChunksSearchBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Catalog
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/ask:
    post:
      summary: Ask a question
      operationId: ArtifactPublicService_QuestionAnswering
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaQuestionAnsweringResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: id of the namespace
          in: path
          required: true
          type: string
        - name: catalogId
          description: id of the catalog
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ArtifactPublicServiceQuestionAnsweringBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Catalog
  /v1beta/namespaces/{namespaceId}/catalogs/{catalogId}/runs:
    get:
      summary: List Catalog Runs
      operationId: ArtifactPublicService_ListCatalogRuns
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListCatalogRunsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The ID of the owner of the catalog.
          in: path
          required: true
          type: string
        - name: catalogId
          description: The ID of the catalog for which the runs will be listed.
          in: path
          required: true
          type: string
        - name: page
          description: The page number to retrieve.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageSize
          description: |-
            The maximum number of items per page to return. The default and cap values
            are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Catalog
  /v1alpha/namespaces/{namespaceId}/object-upload-url:
    get:
      summary: Get Object Upload URL
      operationId: ArtifactPublicService_GetObjectUploadURL
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetObjectUploadURLResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: id of the namespace
          in: path
          required: true
          type: string
        - name: objectName
          description: |-
            name of the object with length limit to 1024 characters.
            this is the unique identifier of the object in the namespace
          in: query
          required: true
          type: string
        - name: urlExpireDays
          description: |-
            Expiration time in days for the URL.
            Minimum is 1 day and maximum is 7 days. If not set or set to 0, defaults to 1 day.
          in: query
          required: false
          type: integer
          format: int32
        - name: lastModifiedTime
          description: |-
            last modified time this value is provided by the client when the object url is created
            it must be in RFC3339 formatted date-time string
          in: query
          required: false
          type: string
          format: date-time
        - name: objectExpireDays
          description: |-
            object live time in days
            minimum is 1 day. if set to 0, the object will not be deleted automatically
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Object
  /v1alpha/namespaces/{namespaceId}/object-download-url:
    get:
      summary: Get Object Download URL
      operationId: ArtifactPublicService_GetObjectDownloadURL
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetObjectDownloadURLResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: id of the namespace
          in: path
          required: true
          type: string
        - name: objectUid
          description: |-
            uid of the object
            if provided, object name is not required
            uid has priority over name
          in: query
          required: false
          type: string
        - name: objectName
          description: |-
            object name
            if provided, object uid is not required
          in: query
          required: false
          type: string
        - name: urlExpireDays
          description: |-
            Expiration time in days for the URL.
            Minimum is 1 day and maximum is 7 days. If not set or set to 0, defaults to 1 day.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Object
  /v1beta/user:
    get:
      summary: Get the authenticated user
      description: Returns the details of the authenticated user.
      operationId: MgmtPublicService_GetAuthenticatedUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetAuthenticatedUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - User
    patch:
      summary: Update the authenticated user
      description: |-
        Updates the information of the authenticated user.

        In REST requests, only the supplied user fields will be taken into account
        when updating the resource.
      operationId: MgmtPublicService_PatchAuthenticatedUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaPatchAuthenticatedUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user
          description: The user fields that will replace the existing ones.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaAuthenticatedUser'
            required:
              - user
      tags:
        - User
  /v1beta/users:
    get:
      summary: List users
      description: Returns a paginated list of users.
      operationId: MgmtPublicService_ListUsers
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListUsersResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of users to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - User
  /v1beta/users/{userId}:
    get:
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: MgmtPublicService_GetUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - User
  /v1beta/organizations:
    get:
      summary: List organizations
      description: Returns a paginated list of organizations.
      operationId: MgmtPublicService_ListOrganizations
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of organizations to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - Organization
    post:
      summary: Create an organization
      description: Creates an organization.
      operationId: MgmtPublicService_CreateOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization
          description: The properties of the organization to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaOrganization'
      tags:
        - Organization
  /v1beta/organizations/{organizationId}:
    get:
      summary: Get an organization
      description: Returns the organization details by its ID.
      operationId: MgmtPublicService_GetOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Organization
    delete:
      summary: Delete an organization
      description: Accesses and deletes an organization by ID.
      operationId: MgmtPublicService_DeleteOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
      tags:
        - Organization
    patch:
      summary: Update an organization
      description: |-
        Accesses and updates an organization by ID.

        In REST requests, only the supplied organization fields will be taken into
        account when updating the resource.
      operationId: MgmtPublicService_UpdateOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: organization
          description: The organization fields that will replace the existing ones.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaOrganization'
      tags:
        - Organization
  /v1beta/users/{userId}/memberships:
    get:
      summary: List user memberships
      description: Returns the memberships of a user.
      operationId: MgmtPublicService_ListUserMemberships
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListUserMembershipsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
      tags:
        - Membership
  /v1beta/users/{userId}/memberships/{organizationId}:
    get:
      summary: Get a user membership
      description: |-
        Returns the details of the relationship between a user and an
        organization. The authenticated must match the membership parent.
      operationId: MgmtPublicService_GetUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Membership
    delete:
      summary: Delete a user membership
      description: Accesses and deletes a user membership by parent and membership IDs.
      operationId: MgmtPublicService_DeleteUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
      tags:
        - Membership
    put:
      summary: Update a user membership
      description: Accesses and updates a user membership by parent and membership IDs.
      operationId: MgmtPublicService_UpdateUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaUserMembership'
            required:
              - membership
        - name: updateMask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - Membership
  /v1beta/organizations/{organizationId}/memberships:
    get:
      summary: List organization memberships
      description: Returns a paginated list of the user memberships in an organization.
      operationId: MgmtPublicService_ListOrganizationMemberships
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationMembershipsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
      tags:
        - Membership
  /v1beta/organizations/{organizationId}/memberships/{userId}:
    get:
      summary: Get a an organization membership
      description: Returns the details of a user membership within an organization.
      operationId: MgmtPublicService_GetOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Membership
    delete:
      summary: Delete an organization membership
      description: Deletes a user membership within an organization.
      operationId: MgmtPublicService_DeleteOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
      tags:
        - Membership
    put:
      summary: Uppdate an organization membership
      description: Updates a user membership within an organization.
      operationId: MgmtPublicService_UpdateOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaOrganizationMembership'
            required:
              - membership
        - name: updateMask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - Membership
  /v1beta/user/subscription:
    get:
      summary: Get the subscription of the authenticated user
      description: Returns the subscription details of the authenticated user.
      operationId: MgmtPublicService_GetAuthenticatedUserSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetAuthenticatedUserSubscriptionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - Subscription
  /v1beta/organizations/{organizationId}/subscription:
    get:
      summary: Get the subscription of an organization
      description: Returns the subscription details of an organization.
      operationId: MgmtPublicService_GetOrganizationSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationSubscriptionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organizationId
          description: Oragnization ID
          in: path
          required: true
          type: string
      tags:
        - Subscription
  /v1beta/tokens:
    get:
      summary: List API tokens
      description: Returns a paginated list of the API tokens of the authenticated user.
      operationId: MgmtPublicService_ListTokens
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListTokensResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of tokens to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
      tags:
        - Token
    post:
      summary: Create an API token
      description: Creates an API token for the authenticated user.
      operationId: MgmtPublicService_CreateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: token
          description: The properties of the token to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaApiToken'
      tags:
        - Token
  /v1beta/tokens/{tokenId}:
    get:
      summary: Get an API token
      description: Returns the details of an API token.
      operationId: MgmtPublicService_GetToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: tokenId
          description: Token ID
          in: path
          required: true
          type: string
      tags:
        - Token
    delete:
      summary: Delete an API token
      description: Deletes an API token.
      operationId: MgmtPublicService_DeleteToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: tokenId
          description: Token ID
          in: path
          required: true
          type: string
      tags:
        - Token
  /v1beta/validate_token:
    post:
      summary: Validate an API token
      description: Validates an API token.
      operationId: MgmtPublicService_ValidateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaValidateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - Token
  /v1beta/namespaces/{namespaceId}/credit:
    get:
      summary: Get the remaining Instill Credit
      description: |-
        This endpoint returns the remaining [Instill Credit](https://www.instill.tech/docs/vdp/credit) of a given user or
        organization. The requested credit owner must be either the authenticated
        user or an organization they belong to.

        On Instill Core, this endpoint will return a 404 Not Found status.
      operationId: MgmtPublicService_GetRemainingCredit
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetRemainingCreditResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
      tags:
        - Credit
  /v1beta/check-namespace:
    post:
      summary: Check if a namespace is in use
      description: |-
        Returns the availability of a namespace or, alternatively, the type of
        resource that is using it.
      operationId: MgmtPublicService_CheckNamespace
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCheckNamespaceResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          description: |-
            CheckNamespaceRequest represents a request to verify if a namespace is
            available.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaCheckNamespaceRequest'
      tags:
        - Utils
  /v1beta/metrics/vdp/pipeline/triggers:
    get:
      summary: List pipeline triggers
      description: Returns a paginated list of pipeline executions.
      operationId: MgmtPublicService_ListPipelineTriggerRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListPipelineTriggerRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of triggers to return. If this parameter is unspecified,
            at most 100 pipelines will be returned. The cap value for this parameter is
            1000 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - Metric
  /v1beta/metrics/vdp/pipeline/charts:
    get:
      summary: List pipeline trigger time charts
      description: |-
        Returns a timeline of pipline trigger counts for the pipelines of a given
        owner.
        NOTE: This method will soon return the trigger counts of a given requester.
      operationId: MgmtPublicService_ListPipelineTriggerChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListPipelineTriggerChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: aggregationWindow
          description: Aggregation window in nanoseconds.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - Metric
  /v1beta/metrics/credit/charts:
    get:
      summary: List Instill Credit consumption time charts
      description: |-
        Returns a timeline of Instill Credit consumption for a given owner. The
        response will contain one set of records (datapoints) per consumption
        source (e.g. "pipeline", "model"). Each datapoint represents the amount
        consumed in a time bucket.
      operationId: MgmtPublicService_ListCreditConsumptionChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListCreditConsumptionChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: The ID of the namespace that owns the credit.
          in: query
          required: true
          type: string
        - name: aggregationWindow
          description: |-
            Aggregation window. The value is a positive duration string, i.e. a
            sequence of decimal numbers, each with optional fraction and a unit
            suffix, such as "300ms", "1.5h" or "2h45m".
            The minimum (and default) window is 1h.
          in: query
          required: false
          type: string
        - name: start
          description: |-
            Beginning of the time range from which the records will be fetched.
            The default value is the beginning of the current day, in UTC.
          in: query
          required: false
          type: string
          format: date-time
        - name: stop
          description: |-
            End of the time range from which the records will be fetched.
            The default value is the current timestamp.
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - Metric
  /v1alpha/model-definitions:
    get:
      summary: List model definitions
      description: Returns a paginated list of model definitions.
      operationId: ModelPublicService_ListModelDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListModelDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of model definitions to return. If this parameter
            is unspecified, at most 10 definitions will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model Definition
  /v1alpha/available-regions:
    get:
      summary: List available regions
      description: Returns a paginated list of available regions.
      operationId: ModelPublicService_ListAvailableRegions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListAvailableRegionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - Region
  /v1alpha/model-definitions/{modelDefinitionId}:
    get:
      summary: Get a model definition
      description: Returns the details of a model definition.
      operationId: ModelPublicService_GetModelDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetModelDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: modelDefinitionId
          description: |-
            The resource name of the model definition, which allows its access by ID.
            - Format: `model-definitions/{id}`.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model Definition
  /v1alpha/models:
    get:
      summary: List models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models:
    get:
      summary: List namespace models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListNamespaceModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListNamespaceModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of a namespace. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}:
    get:
      summary: Get a model
      description: Returns the detail of a model, accessing it by the model ID and its parent namespace.
      operationId: ModelPublicService_GetNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_DeleteNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
      tags:
        - Model
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent namespace and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: model
          description: The model to update
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
            required:
              - model
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_RenameNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaRenameNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceRenameNamespaceModelBody'
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/watch:
    get:
      summary: Watch the state of a model version
      description: |-
        Returns the state of a model. The model resource allocation and scaling actions take some
        time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
      tags:
        - Model Version
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/watch:
    get:
      summary: Watch the state of the latest model version
      description: |-
        Returns the state of the latest model version. The model resource allocation and scaling actions
        take some time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions:
    get:
      summary: List namespace model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the specified namespace.
        Contains model version and digest.
      operationId: ModelPublicService_ListNamespaceModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListNamespaceModelVersionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of versions to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Model Version
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}:
    delete:
      summary: Delete a model version
      description: |-
        Deletes a model version, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model, and version.
      operationId: ModelPublicService_DeleteNamespaceModelVersion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteNamespaceModelVersionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
      tags:
        - Model Version
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerNamespaceModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/trigger-async:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncNamespaceModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerNamespaceLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/trigger-async:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncNamespaceLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/operation:
    get:
      summary: |-
        Get the details of the long-running operation from a namespace model
        with a particular version
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as trigger.
      operationId: ModelPublicService_GetNamespaceModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetNamespaceModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired operation result in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/operation:
    get:
[...]
