# This file is auto-generated. DO NOT EDIT.
swagger: "2.0"
info:
  title: Instill Core API
  description: Interact with Instill Core through API
  version: v0.56.0
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: support@instill-ai.com
  license:
    name: MIT
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: Namespace
    description: Namespaces (e.g. User, Organization) that structure the resource hierarchy.
  - name: Pipeline
    description: Pipeline orchestration.
  - name: Artifact
    description: Data orchestration for unified unstructured data representation.
  - name: Model
    description: AI Model orchestration
  - name: Metrics
    description: Resource usage metrics.
host: api.instill-ai.com
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1alpha/namespaces/{namespaceId}/catalogs:
    get:
      summary: Get all catalogs info
      description: Returns a paginated list of catalogs.
      operationId: ArtifactPublicService_ListCatalogs
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListCatalogsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: User ID for which to list the catalogs
          in: path
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
    post:
      summary: Create a catalog
      description: Creates a catalog.
      operationId: ArtifactPublicService_CreateCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The catalog's owner(namespaces).
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCatalogBody'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}:
    get:
      summary: Get the catalog file.
      description: |-
        Returns a view of the file within the catalog, with the text and chunks it
        generated after being processed.
      operationId: ArtifactPublicService_GetFileCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetFileCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: catalogId
          description: Catalog ID.
          in: path
          required: true
          type: string
        - name: fileUid
          description: File UID.
          in: query
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
    delete:
      summary: Delete a catalog
      description: Deletes a catalog.
      operationId: ArtifactPublicService_DeleteCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The owner's id. i.e. namespace.
          in: path
          required: true
          type: string
        - name: catalogId
          description: The catalog id.
          in: path
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
    put:
      summary: Update a catalog info
      description: Updates the information of a catalog.
      operationId: ArtifactPublicService_UpdateCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The catalog owner(namespace).
          in: path
          required: true
          type: string
        - name: catalogId
          description: The catalog id.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateCatalogBody'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files:
    get:
      summary: List catalog files
      description: Returns a paginated list of catalog files.
      operationId: ArtifactPublicService_ListCatalogFiles
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListCatalogFilesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The owner/namespace uid id.
          in: path
          required: true
          type: string
        - name: catalogId
          description: The catalog id.
          in: path
          required: true
          type: string
        - name: pageSize
          description: The page size (default:10; max 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: The next page token(default from first file's token).
          in: query
          required: false
          type: string
        - name: filter.fileUids
          description: File UIDs.
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: filter.processStatus
          description: |-
            Processing status of the files.

             - FILE_PROCESS_STATUS_NOTSTARTED: NOTSTARTED
             - FILE_PROCESS_STATUS_WAITING: file is waiting for embedding process
             - FILE_PROCESS_STATUS_CONVERTING: file is converting
             - FILE_PROCESS_STATUS_CHUNKING: file is chunking
             - FILE_PROCESS_STATUS_EMBEDDING: file is embedding
             - FILE_PROCESS_STATUS_COMPLETED: completed
             - FILE_PROCESS_STATUS_FAILED: failed
             - FILE_PROCESS_STATUS_SUMMARIZING: file is summarizing
          in: query
          required: false
          type: string
          enum:
            - FILE_PROCESS_STATUS_NOTSTARTED
            - FILE_PROCESS_STATUS_WAITING
            - FILE_PROCESS_STATUS_CONVERTING
            - FILE_PROCESS_STATUS_CHUNKING
            - FILE_PROCESS_STATUS_EMBEDDING
            - FILE_PROCESS_STATUS_COMPLETED
            - FILE_PROCESS_STATUS_FAILED
            - FILE_PROCESS_STATUS_SUMMARIZING
      tags:
        - Artifact
      x-stage: alpha
    post:
      summary: Create a file
      description: Creates a file.
      operationId: ArtifactPublicService_UploadCatalogFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UploadCatalogFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: owner/namespace uid
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id
          in: path
          required: true
          type: string
        - name: file
          description: file
          in: body
          required: true
          schema:
            $ref: '#/definitions/File'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/catalogs/files:
    delete:
      summary: Delete a file
      description: Deletes a file.
      operationId: ArtifactPublicService_DeleteCatalogFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteCatalogFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: fileUid
          description: The file uid.
          in: query
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/catalogs/files/processAsync:
    post:
      summary: Process catalog files
      description: Processes catalog files.
      operationId: ArtifactPublicService_ProcessCatalogFiles
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ProcessCatalogFilesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProcessCatalogFilesRequest'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}:
    get:
      summary: Get catalog file
      description: Gets the file of a catalog.
      operationId: ArtifactPublicService_GetCatalogFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetCatalogFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The namespace id.
          in: path
          required: true
          type: string
        - name: catalogId
          description: The catalog id.
          in: path
          required: true
          type: string
        - name: fileUid
          description: The file uid.
          in: path
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks:
    get:
      summary: List catalog chunks
      description: Returns a paginated list of catalog chunks.
      operationId: ArtifactPublicService_ListChunks
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListChunksResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: owner/namespace id (not uid)
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id (not uid)
          in: path
          required: true
          type: string
        - name: fileUid
          description: unique identifier of the file
          in: query
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/chunks:
    get:
      summary: Search catalog chunks
      description: Returns a paginated list of catalog chunks based on search criteria.
      operationId: ArtifactPublicService_SearchChunks
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/SearchChunksResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: owner/namespace id (not uid)
          in: path
          required: true
          type: string
        - name: chunkUids
          description: chunk uids
          in: query
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - Artifact
      x-stage: beta
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}/source:
    get:
      summary: Get catalog single-source-of-truth file
      description: Gets the single-source-of-truth file of a catalog.
      operationId: ArtifactPublicService_GetSourceFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetSourceFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: owner/namespace id
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id
          in: path
          required: true
          type: string
        - name: fileUid
          description: unique identifier of the original uploaded file
          in: path
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}/summary:
    get:
      summary: Get summary from a catalog file
      description: Gets summary from a catalog file
      operationId: ArtifactPublicService_GetFileSummary
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetFileSummaryResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: owner/namespace id
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id
          in: path
          required: true
          type: string
        - name: fileUid
          description: unique identifier of the original uploaded file
          in: path
          required: true
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/source-files:
    get:
      summary: Search single-source-of-truth files
      description: Searches the single-source-of-truth files of a catalog.
      operationId: ArtifactPublicService_SearchSourceFiles
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/SearchSourceFilesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: owner/namespace id
          in: path
          required: true
          type: string
        - name: fileUids
          description: search file uid
          in: query
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - Artifact
      x-stage: beta
  /v1alpha/chunks/{chunkUid}:
    post:
      summary: Update catalog chunk
      description: Updates a catalog chunk.
      operationId: ArtifactPublicService_UpdateChunk
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateChunkResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: chunkUid
          description: chunk uid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateChunkBody'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks/retrieve:
    post:
      summary: Retrieve similar chunks
      description: Returns the top-K most similar chunks to a text prompt.
      operationId: ArtifactPublicService_SimilarityChunksSearch
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/SimilarityChunksSearchResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: ID of the namespace owning the catalog.
          in: path
          required: true
          type: string
        - name: catalogId
          description: ID of the catalog.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SimilarityChunksSearchBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/ask:
    post:
      summary: Answer a question
      description: |-
        Provides the response to the prompted question, returning contextual
        information like the chunks used to build the answer.
      operationId: ArtifactPublicService_QuestionAnswering
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/QuestionAnsweringResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: ID of the namespace owning the catalog.
          in: path
          required: true
          type: string
        - name: catalogId
          description: ID of the catalog.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/QuestionAnsweringBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/runs:
    get:
      summary: List Catalog Runs
      description: Returns a paginated list of catalog runs.
      operationId: ArtifactPublicService_ListCatalogRuns
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListCatalogRunsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The ID of the owner of the catalog.
          in: path
          required: true
          type: string
        - name: catalogId
          description: The ID of the catalog for which the runs will be listed.
          in: path
          required: true
          type: string
        - name: page
          description: The page number to retrieve.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageSize
          description: |-
            The maximum number of items per page to return. The default and cap values
            are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/object-upload-url:
    get:
      summary: Get Object Upload URL
      description: Returns the upload URL of an object.
      operationId: ArtifactPublicService_GetObjectUploadURL
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetObjectUploadURLResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: id of the namespace
          in: path
          required: true
          type: string
        - name: objectName
          description: |-
            name of the object with length limit to 1024 characters.
            this is the unique identifier of the object in the namespace
          in: query
          required: true
          type: string
        - name: urlExpireDays
          description: |-
            expiration time in days for the URL.
            maximum is 7 days. if set to 0, URL will not expire.
          in: query
          required: false
          type: integer
          format: int32
        - name: lastModifiedTime
          description: |-
            last modified time this value is provided by the client when the object url is created
            it must be in RFC3339 formatted date-time string
          in: query
          required: false
          type: string
          format: date-time
        - name: objectExpireDays
          description: |-
            object live time in days
            minimum is 1 day. if set to 0, the object will not be deleted automatically
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/object-download-url:
    get:
      summary: Get Object Download URL
      description: Returns the download URL of an object.
      operationId: ArtifactPublicService_GetObjectDownloadURL
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetObjectDownloadURLResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: id of the namespace
          in: path
          required: true
          type: string
        - name: objectUid
          description: uid of the object
          in: query
          required: true
          type: string
        - name: urlExpireDays
          description: |-
            expiration time in days for the URL.
            maximum is 7 days. if set to 0, URL will not expire.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files:move:
    post:
      summary: Move file to another catalog
      description: Moves a file to another catalog.
      operationId: ArtifactPublicService_MoveFileToCatalog
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/MoveFileToCatalogResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: namespace id
          in: path
          required: true
          type: string
        - name: catalogId
          description: catalog id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/MoveFileToCatalogBody'
      tags:
        - Artifact
      x-stage: alpha
  /v1beta/user:
    get:
      summary: Get the authenticated user
      description: Returns the details of the authenticated user.
      operationId: MgmtPublicService_GetAuthenticatedUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetAuthenticatedUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      tags:
        - Namespace
      x-stage: beta
    patch:
      summary: Update the authenticated user
      description: |-
        Updates the information of the authenticated user.

        In REST requests, only the supplied user fields will be taken into account
        when updating the resource.
      operationId: MgmtPublicService_PatchAuthenticatedUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/PatchAuthenticatedUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: user
          description: The user fields that will replace the existing ones.
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthenticatedUser'
            required:
              - user
      tags:
        - Namespace
      x-stage: beta
  /v1beta/users:
    get:
      summary: List users
      description: Returns a paginated list of users.
      operationId: MgmtPublicService_ListUsers
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListUsersResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of users to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - Namespace
      x-stage: beta
  /v1beta/users/{userId}:
    get:
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: MgmtPublicService_GetUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Namespace
      x-stage: beta
  /v1beta/organizations:
    get:
      summary: List organizations
      description: Returns a paginated list of organizations.
      operationId: MgmtPublicService_ListOrganizations
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListOrganizationsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of organizations to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - Namespace
      x-stage: beta
    post:
      summary: Create an organization
      description: Creates an organization.
      operationId: MgmtPublicService_CreateOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organization
          description: The properties of the organization to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Organization'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/organizations/{organizationId}:
    get:
      summary: Get an organization
      description: Returns the organization details by its ID.
      operationId: MgmtPublicService_GetOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Namespace
      x-stage: beta
    delete:
      summary: Delete an organization
      description: Accesses and deletes an organization by ID.
      operationId: MgmtPublicService_DeleteOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
    patch:
      summary: Update an organization
      description: |-
        Accesses and updates an organization by ID.

        In REST requests, only the supplied organization fields will be taken into
        account when updating the resource.
      operationId: MgmtPublicService_UpdateOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: organization
          description: The organization fields that will replace the existing ones.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Organization'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/users/{userId}/memberships:
    get:
      summary: List user memberships
      description: Returns the memberships of a user.
      operationId: MgmtPublicService_ListUserMemberships
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListUserMembershipsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
  /v1beta/users/{userId}/memberships/{organizationId}:
    get:
      summary: Get a user membership
      description: |-
        Returns the details of the relationship between a user and an
        organization. The authenticated must match the membership parent.
      operationId: MgmtPublicService_GetUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Namespace
      x-stage: beta
    delete:
      summary: Delete a user membership
      description: Accesses and deletes a user membership by parent and membership IDs.
      operationId: MgmtPublicService_DeleteUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
    put:
      summary: Update a user membership
      description: Accesses and updates a user membership by parent and membership IDs.
      operationId: MgmtPublicService_UpdateUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserMembership'
            required:
              - membership
        - name: updateMask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
  /v1beta/organizations/{organizationId}/memberships:
    get:
      summary: List organization memberships
      description: Returns a paginated list of the user memberships in an organization.
      operationId: MgmtPublicService_ListOrganizationMemberships
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListOrganizationMembershipsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
  /v1beta/organizations/{organizationId}/memberships/{userId}:
    get:
      summary: Get an organization membership
      description: Returns the details of a user membership within an organization.
      operationId: MgmtPublicService_GetOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Namespace
      x-stage: beta
    delete:
      summary: Delete an organization membership
      description: Deletes a user membership within an organization.
      operationId: MgmtPublicService_DeleteOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
    put:
      summary: Update an organization membership
      description: Updates a user membership within an organization.
      operationId: MgmtPublicService_UpdateOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: Organization ID
          in: path
          required: true
          type: string
        - name: userId
          description: User ID
          in: path
          required: true
          type: string
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrganizationMembership'
            required:
              - membership
        - name: updateMask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
  /v1beta/organizations/{organizationId}/invite-members:
    post:
      summary: Invite members to an organization
      description: Invites members to an organization.
      operationId: MgmtPublicService_InviteOrganizationMembers
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/InviteOrganizationMembersResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: organizationId
          description: The organization ID.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/InviteOrganizationMembersBody'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/tokens:
    get:
      summary: List API tokens
      description: Returns a paginated list of the API tokens of the authenticated user.
      operationId: MgmtPublicService_ListTokens
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListTokensResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of tokens to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
      tags:
        - Namespace
      x-stage: beta
    post:
      summary: Create an API token
      description: Creates an API token for the authenticated user.
      operationId: MgmtPublicService_CreateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: token
          description: The properties of the token to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/ApiToken'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/tokens/{tokenId}:
    get:
      summary: Get an API token
      description: Returns the details of an API token.
      operationId: MgmtPublicService_GetToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: tokenId
          description: Token ID
          in: path
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
    delete:
      summary: Delete an API token
      description: Deletes an API token.
      operationId: MgmtPublicService_DeleteToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: tokenId
          description: Token ID
          in: path
          required: true
          type: string
      tags:
        - Namespace
      x-stage: beta
  /v1beta/validate_token:
    post:
      summary: Validate an API token
      description: Validates an API token.
      operationId: MgmtPublicService_ValidateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ValidateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/check-namespace:
    post:
      summary: Check if a namespace is in use
      description: |-
        Returns the availability of a namespace or, alternatively, the type of
        resource that is using it.
      operationId: MgmtPublicService_CheckNamespace
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CheckNamespaceResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: body
          description: |-
            CheckNamespaceRequest represents a request to verify if a namespace is
            available.
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckNamespaceRequest'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/pipeline-runs/query-charts:
    get:
      summary: List pipeline trigger time charts
      description: |-
        Returns a timeline of pipeline trigger counts for a given requester. The
        response will contain one set of records (datapoints), representing the
        amount of triggers in a time bucket.
      operationId: MgmtPublicService_ListPipelineTriggerChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPipelineTriggerChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: requesterId
          description: The ID of the namespace that requested the pipeline triggers.
          in: query
          required: true
          type: string
        - name: aggregationWindow
          description: |-
            Aggregation window. The value is a positive duration string, i.e. a
            sequence of decimal numbers, each with optional fraction and a unit
            suffix, such as "300ms", "1.5h" or "2h45m".
            The minimum (and default) window is 1h.
          in: query
          required: false
          type: string
        - name: start
          description: |-
            Beginning of the time range from which the records will be fetched.
            The default value is the beginning of the current day, in UTC.
          in: query
          required: false
          type: string
          format: date-time
        - name: stop
          description: |-
            End of the time range from which the records will be fetched.
            The default value is the current timestamp.
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - Metrics
      x-stage: beta
  /v1beta/model-runs/query-charts:
    get:
      summary: List model trigger time charts
      description: |-
        Returns a timeline of model trigger counts for a given requester. The
        response will contain one set of records (datapoints), representing the
        amount of triggers in a time bucket.
      operationId: MgmtPublicService_ListModelTriggerChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelTriggerChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: requesterId
          description: The ID of the namespace that requested the model triggers.
          in: query
          required: true
          type: string
        - name: aggregationWindow
          description: |-
            Aggregation window. The value is a positive duration string, i.e. a
            sequence of decimal numbers, each with optional fraction and a unit
            suffix, such as "300ms", "1.5h" or "2h45m".
            The minimum (and default) window is 1h.
          in: query
          required: false
          type: string
        - name: start
          description: |-
            Beginning of the time range from which the records will be fetched.
            The default value is the beginning of the current day, in UTC.
          in: query
          required: false
          type: string
          format: date-time
        - name: stop
          description: |-
            End of the time range from which the records will be fetched.
            The default value is the current timestamp.
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - Metrics
      x-stage: beta
  /v1alpha/model-definitions:
    get:
      summary: List model definitions
      description: Returns a paginated list of model definitions.
      operationId: ModelPublicService_ListModelDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of model definitions to return. If this parameter
            is unspecified, at most 10 definitions will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
  /v1alpha/available-regions:
    get:
      summary: List available regions
      description: Returns a paginated list of available regions.
      operationId: ModelPublicService_ListAvailableRegions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListAvailableRegionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      tags:
        - Model
      x-stage: alpha
  /v1alpha/model-definitions/{modelDefinitionId}:
    get:
      summary: Get a model definition
      description: Returns the details of a model definition.
      operationId: ModelPublicService_GetModelDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetModelDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: modelDefinitionId
          description: |-
            The resource name of the model definition, which allows its access by ID.
            - Format: `model-definitions/{id}`.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
  /v1alpha/models:
    get:
      summary: List models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or
            `update_time`. Format: `order_by=id` or `order_by=create_time desc`,
            default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models:
    get:
      summary: List namespace models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListNamespaceModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespaceModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or
            `update_time`. Format: `order_by=id` or `order_by=create_time desc`,
            default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of a namespace. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Model'
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}:
    get:
      summary: Get a model
      description: |-
        Returns the detail of a model, accessing it by the model ID and its parent
        namespace.
      operationId: ModelPublicService_GetNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_DeleteNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
      tags:
        - Model
      x-stage: alpha
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent namespace and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: model
          description: The model to update
          in: body
          required: true
          schema:
            $ref: '#/definitions/Model'
            required:
              - model
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_RenameNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/RenameNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RenameNamespaceModelBody'
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/watch:
    get:
      summary: Watch the state of a model version
      description: |-
        Returns the state of a model. The model resource allocation and scaling
        actions take some time, during which a model will be in various state. This
        endpoint allows clients to track the state.
      operationId: ModelPublicService_WatchNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/WatchNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/watch:
    get:
      summary: Watch the state of the latest model version
      description: |-
        Returns the state of the latest model version. The model resource
        allocation and scaling actions take some time, during which a model will be
        in various state. This endpoint allows clients to track the state.
      operationId: ModelPublicService_WatchNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/WatchNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions:
    get:
      summary: List namespace model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the
        specified namespace. Contains model version and digest.
      operationId: ModelPublicService_ListNamespaceModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespaceModelVersionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of versions to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}:
    delete:
      summary: Delete a model version
      description: |-
        Deletes a model version, accesing it by its resource name, which is defined
        by the parent namespace and the ID of the model, and version.
      operationId: ModelPublicService_DeleteNamespaceModelVersion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteNamespaceModelVersionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerNamespaceModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/trigger-async:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerAsyncNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerAsyncNamespaceModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers the latest deployed model version to infer the result of a set of
        task or questions.
      operationId: ModelPublicService_TriggerNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerNamespaceLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/trigger-async:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers the latest deployed model version to infer the result of a set of
        task or questions.
      operationId: ModelPublicService_TriggerAsyncNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerAsyncNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerAsyncNamespaceLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/operation:
    get:
      summary: |-
        Get the details of the long-running operation from a namespace model
        with a particular version
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as trigger.
      operationId: ModelPublicService_GetNamespaceModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespaceModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired operation result in the
            response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/operation:
    get:
      summary: Get the details of the latest long-running operation from a namespace model
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as trigger.
      operationId: ModelPublicService_GetNamespaceLatestModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespaceLatestModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired operation result in the
            response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
  /v1alpha/operations/{operationId}:
    get:
      summary: Get the details of a long-running operation
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as trigger.
      operationId: ModelPublicService_GetModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: operationId
          description: The resource name of the model, which allows its access ID.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/runs:
    get:
      summary: List Model Runs
      description: |-
        Returns a paginated list of runs for a given model. When the requester is
        the owner of the model, they will be able to all the model runs,
        regardless who requested the trigger (the view will be partial to hide
        sensitive data like e.g. the trigger input and output). Other requesters
        will only be able to see the runs requested by themselves.
      operationId: ModelPublicService_ListModelRuns
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelRunsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID.
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of runs to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
        - name: orderBy
          description: |-
            Sort the results by the given expression.
            Format: `field [ASC | DESC], where `field` can be:
            - `create_time`
            - `update_time`
            By default, results are sorted by descending creation time.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            The filter can be applied to the following fields:
            - `create_time`
          in: query
          required: false
          type: string
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/dashboard/models/runs:
    get:
      summary: List Model Runs By Requester
      description: |-
        Returns a paginated list of runs requested by a namespace. The response
        may contain runs from several models.
      operationId: ModelPublicService_ListModelRunsByRequester
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelRunsByRequesterResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of runs to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
        - name: orderBy
          description: |-
            Sort the results by the given expression.
            Format: `field [ASC | DESC], where `field` can be:
            - `create_time`
            - `update_time`
            By default, results are sorted by descending creation time.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `status="RUN_STATUS_COMPLETED"`.
            The filter can be applied to the following fields:
            - `status`
            - `source`
          in: query
          required: false
          type: string
        - name: start
          description: |-
            Beginning of the time range from which the records will be fetched.
            The default value is the beginning of the current day, in UTC.
          in: query
          required: false
          type: string
          format: date-time
        - name: stop
          description: |-
            End of the time range from which the records will be fetched.
            The default value is the current timestamp.
          in: query
          required: false
          type: string
          format: date-time
        - name: requesterId
          description: Requester ID.
          in: query
          required: true
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1beta/pipelines:
    get:
      summary: List accessible pipelines
      description: Returns a paginated list of pipelines that are visible to the requester.
      operationId: PipelinePublicService_ListPipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: showDeleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the user can see the pipeline.
             - VISIBILITY_PUBLIC: Other users can see the pipeline.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Pipeline
      x-stage: beta
  /v1beta/namespaces/{namespaceId}/pipelines:
    get:
      summary: List namespace pipelines
      description: Returns a paginated list of pipelines of a namespace
      operationId: PipelinePublicService_ListNamespacePipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespacePipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: showDeleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
        - name: visibility
[...]
