# This file is auto-generated. DO NOT EDIT.
swagger: "2.0"
info:
  title: Instill Core API
  description: Interact with Instill Core through API
  version: v0.57.0
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: support@instill-ai.com
  license:
    name: MIT
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: Namespace
    description: Namespaces (e.g. User, Organization) that structure the resource hierarchy.
  - name: Pipeline
    description: Pipeline orchestration.
  - name: Artifact
    description: Data orchestration for unified unstructured data representation.
  - name: Model
    description: AI Model orchestration
  - name: Metrics
    description: Resource usage metrics.
  - name: Connection
    description: Connections to 3rd party apps for use in pipelines.
  - name: Integration
    description: Integration definitions for creating connections.
host: api.instill-ai.com
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1alpha/{parent}/knowledge-bases:
    get:
      summary: Get all knowledge bases info
      description: Returns a paginated list of knowledge bases.
      operationId: ArtifactPublicService_ListKnowledgeBases
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListKnowledgeBasesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: pageSize
          description: |-
            The maximum number of knowledge bases to return. If this parameter is
            unspecified, at most 10 knowledge bases will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token for pagination.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - `id="<knowledge_base_id>"` or `uid="<uuid>"` - Filter by specific
            knowledge base ID/UID
            - `q="<text>"` - Fuzzy search on knowledge base ID and description

            **Examples**:
            - Filter by ID: `id="my-knowledge-base"`
            - Search knowledge bases: `q="my-knowledge-base"`
          in: query
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
    post:
      summary: Create a knowledge base
      description: Creates a knowledge base.
      operationId: ArtifactPublicService_CreateKnowledgeBase
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateKnowledgeBaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: knowledgeBase
          description: |-
            The knowledge base resource to create.
            Required fields: display_name
            Optional fields: id (auto-generated from display_name if not provided),
                             description, tags, type, system_id
          in: body
          required: true
          schema:
            $ref: '#/definitions/KnowledgeBase'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{name}:
    get:
      summary: Get a knowledge base
      description: Returns the details of a knowledge base.
      operationId: ArtifactPublicService_GetKnowledgeBase
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetKnowledgeBaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the knowledge base to retrieve.
            Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+
      tags:
        - Artifact
      x-stage: alpha
    delete:
      summary: Delete a knowledge base
      description: Deletes a knowledge base.
      operationId: ArtifactPublicService_DeleteKnowledgeBase
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteKnowledgeBaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the knowledge base to delete.
            Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+
      tags:
        - Artifact
      x-stage: alpha
    patch:
      summary: Update a chunk
      description: Updates a chunk.
      operationId: ArtifactPublicService_UpdateChunk
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateChunkResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the chunk to update.
            Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}/chunks/{chunk}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+/chunks/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateChunkBody'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{knowledgeBase.name}:
    patch:
      summary: Update a knowledge base info
      description: Updates the information of a knowledge base.
      operationId: ArtifactPublicService_UpdateKnowledgeBase
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateKnowledgeBaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: knowledgeBase.name
          description: |-
            Field 1: Canonical resource name.
            Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`.
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+
        - name: knowledgeBase
          description: |-
            The knowledge base resource to update. The knowledge base's `name` field
            identifies the resource.
            Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                title: |-
                  Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).
                  Example: "kb-8f3a2k9E7c1"
                readOnly: true
              displayName:
                type: string
                description: 'Field 3: Human-readable display name for UI.'
              slug:
                type: string
                title: |-
                  Field 4: URL-friendly slug (NO prefix).
                  If omitted, server generates from display_name.
                  If provided, server validates and persists it.
                  Slug is NOT part of resource identity.
                  Example: "my-knowledge-base"
              aliases:
                type: array
                items:
                  type: string
                description: |-
                  Field 5: Previous slugs for backward compatibility.
                  When display_name changes, a new slug is generated and old slugs are stored
                  here.
                readOnly: true
              description:
                type: string
                description: 'Field 6: Optional description.'
              createTime:
                type: string
                format: date-time
                description: 'Field 7: Creation time.'
                readOnly: true
              updateTime:
                type: string
                format: date-time
                description: 'Field 8: Last update time.'
                readOnly: true
              tags:
                type: array
                items:
                  type: string
                description: The knowledge base tags.
              type:
                description: |-
                  The knowledge base type (persistent or ephemeral).
                  Default is PERSISTENT if not specified during creation.
                allOf:
                  - $ref: '#/definitions/KnowledgeBaseType'
              system:
                type: string
                description: |-
                  The resource name of the system configuration.
                  Format: `systems/{system}`
                  Available systems: "systems/openai", "systems/gemini", or custom systems.
                  If not specified, defaults to the default system.
                title: |-
                  System ID defines how the knowledge base will be created based on the
                  system's RAG configurations including:
                  - AI model family (e.g., "openai", "gemini")
                  - Embedding vector dimensionality
                  - Chunking method
                  - Other RAG-related settings
              embeddingConfig:
                description: The embedding configuration for the knowledge base.
                allOf:
                  - $ref: '#/definitions/EmbeddingConfig'
              activeCollection:
                type: string
                description: |-
                  The resource name of the active Milvus collection for this knowledge base.
                  Format:
                  `namespaces/{namespace}/knowledge-bases/{knowledge_base}/collections/{collection}`
                  This supports collection versioning for embedding dimension changes.
                readOnly: true
              ownerName:
                type: string
                title: |-
                  Resource name of the owner namespace.
                  Example: "namespaces/usr-7k2m9p4w1n3" or "namespaces/org-3t8f5q2x6b1"
                readOnly: true
              owner:
                description: Knowledge base owner (User or Organization).
                readOnly: true
                allOf:
                  - $ref: '#/definitions/Owner'
              creatorName:
                type: string
                description: |-
                  Full resource name of the user who created this knowledge base.
                  Format: `users/{user}`
                  Optional for system-created knowledge bases (e.g., instill-agent).
                readOnly: true
              creator:
                description: |-
                  The user who created this knowledge base.
                  Populated when creator_name is present.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1beta.User'
              totalFiles:
                type: integer
                format: int64
                description: The total files in knowledge base.
                readOnly: true
              totalTokens:
                type: integer
                format: int64
                description: The total tokens in knowledge base.
                readOnly: true
              usedStorage:
                type: string
                format: uint64
                description: The current used storage in knowledge base.
                readOnly: true
              downstreamApps:
                type: array
                items:
                  type: string
                description: The downstream apps.
                readOnly: true
            title: |-
              The knowledge base resource to update. The knowledge base's `name` field
              identifies the resource.
              Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`
            required:
              - displayName
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{parent}/files:
    get:
      summary: List files
      description: Returns a paginated list of files.
      operationId: ArtifactPublicService_ListFiles
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListFilesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name (knowledge base).
            Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+
        - name: pageSize
          description: The page size (default:10; max 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: The next page token(default from first file's token).
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - `id="<uuid>"` or `uid="<uuid>"` - Filter by specific file ID/UID
            (supports multiple IDs separated by OR)
            - `process_status="FILE_PROCESS_STATUS_COMPLETED"` - Filter by processing
            status

            **Examples**:
            - List specific files: `id="uuid1" OR id="uuid2"`
            - List completed files: `process_status="FILE_PROCESS_STATUS_COMPLETED"`
          in: query
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
    post:
      summary: Create a file
      description: Uploads and converts a file.
      operationId: ArtifactPublicService_CreateFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name (knowledge base).
            Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+
        - name: file
          description: The file to create.
          in: body
          required: true
          schema:
            $ref: '#/definitions/File'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{name_1}:
    get:
      summary: Get a file
      description: Returns the details of a file.
      operationId: ArtifactPublicService_GetFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_1
          description: |-
            The resource name of the file to retrieve.
            Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired file view in the response.

             - VIEW_BASIC: Default view, only includes basic metadata.
             - VIEW_FULL: Full representation with all metadata.
             - VIEW_SUMMARY: Returns MinIO pre-signed URL to converted summary content.
             - VIEW_CONTENT: Returns MinIO pre-signed URL to converted markdown content.
             - VIEW_STANDARD_FILE_TYPE: Returns MinIO pre-signed URL to standardized file:
            - Documents → PDF
            - Images → PNG
            - Audio → OGG
            - Video → MP4
             - VIEW_ORIGINAL_FILE_TYPE: Returns MinIO pre-signed URL to the original uploaded file.
             - VIEW_CACHE: Returns Gemini cache resource name.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_SUMMARY
            - VIEW_CONTENT
            - VIEW_STANDARD_FILE_TYPE
            - VIEW_ORIGINAL_FILE_TYPE
            - VIEW_CACHE
        - name: storageProvider
          description: |-
            Storage provider specifies which storage backend to use for the file
            resource. This field is only applicable for views that return file content:
            VIEW_SUMMARY, VIEW_CONTENT, VIEW_STANDARD_FILE_TYPE,
            VIEW_ORIGINAL_FILE_TYPE.
            - STORAGE_PROVIDER_UNSPECIFIED or STORAGE_PROVIDER_MINIO: Returns MinIO
            pre-signed URL (default)
            - STORAGE_PROVIDER_GCS: Uploads file to GCS if not present (with cache
            check), returns GCS signed URL GCS requires proper configuration in system
            settings.

             - STORAGE_PROVIDER_MINIO: Use MinIO as the storage backend (default)
             - STORAGE_PROVIDER_GCS: Use Google Cloud Storage as the storage backend
          in: query
          required: false
          type: string
          enum:
            - STORAGE_PROVIDER_MINIO
            - STORAGE_PROVIDER_GCS
      tags:
        - Artifact
      x-stage: alpha
    delete:
      summary: Delete a file
      description: Deletes a file.
      operationId: ArtifactPublicService_DeleteFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_1
          description: |-
            The resource name of the file to delete.
            Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{file.name}:
    patch:
      summary: Update a file
      description: Updates a file.
      operationId: ArtifactPublicService_UpdateFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: file.name
          description: |-
            Field 1: Canonical resource name.
            Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`.
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+
        - name: file
          description: |-
            The file resource to update. The file's `name` field identifies the
            resource. Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                title: |-
                  Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).
                  Example: "file-8f3a2k9E7c1"
                readOnly: true
              displayName:
                type: string
                description: |-
                  Field 3: Human-readable display name (filename) for UI.
                  This is typically the original filename of the uploaded file.
              slug:
                type: string
                title: |-
                  Field 4: URL-friendly slug (NO prefix).
                  If omitted, server generates from display_name.
                  If provided, server validates and persists it.
                  Slug is NOT part of resource identity.
                  Example: "my-research-file-pdf"
              aliases:
                type: array
                items:
                  type: string
                description: |-
                  Field 5: Previous slugs for backward compatibility.
                  When display_name changes, a new slug is generated and old slugs are stored
                  here.
                readOnly: true
              description:
                type: string
                description: 'Field 6: Optional description.'
              createTime:
                type: string
                format: date-time
                description: 'Field 7: Creation time.'
                readOnly: true
              updateTime:
                type: string
                format: date-time
                description: 'Field 8: Last update time.'
                readOnly: true
              type:
                description: File type.
                allOf:
                  - $ref: '#/definitions/File.Type'
              processStatus:
                description: File process status.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/FileProcessStatus'
              processOutcome:
                type: string
                description: File process outcome message.
                readOnly: true
              size:
                type: string
                format: int64
                description: File size in bytes.
                readOnly: true
              totalChunks:
                type: integer
                format: int32
                description: Total number of chunks created from this file.
                readOnly: true
              totalTokens:
                type: integer
                format: int32
                description: Total number of tokens in this file.
                readOnly: true
              tags:
                type: array
                items:
                  type: string
                description: Array of tags associated with the file.
              externalMetadata:
                type: object
                description: Custom metadata provided by the user during file upload.
              knowledgeBases:
                type: array
                items:
                  type: string
                description: |-
                  Knowledge base resource names that this file is associated with.
                  Format: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`
                  A file can belong to multiple knowledge bases within the same namespace.
                  This field is populated from the file_knowledge_base junction table.
                  Follows AIP-122 for resource name references.
                readOnly: true
              ownerName:
                type: string
                title: |-
                  Resource name of the owner namespace.
                  Example: "namespaces/usr-7k2m9p4w1n3" or "namespaces/org-3t8f5q2x6b1"
                readOnly: true
              owner:
                description: File owner (User or Organization).
                readOnly: true
                allOf:
                  - $ref: '#/definitions/Owner'
              creatorName:
                type: string
                title: |-
                  Full resource name of the user who created this file.
                  Format: `users/{user}`
                readOnly: true
              creator:
                description: |-
                  The user who created this file.
                  Populated when creator_name is present.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1beta.User'
              content:
                type: string
                description: |-
                  Base64-encoded file content for inline upload.
                  Alternative to object field for smaller files.
              downloadUrl:
                type: string
                description: Pre-signed download URL for the file.
                readOnly: true
              convertingPipeline:
                type: string
                description: |-
                  Pipeline used for converting the file to Markdown if the file is a
                  document (i.e., a file with pdf, doc[x] or ppt[x] extension).
              length:
                description: Length of the file in the specified unit type.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/Position'
              collections:
                type: array
                items:
                  type: string
                description: |-
                  Collection resource names that this file belongs to.
                  Format: `namespaces/{namespace}/collections/{collection}`
                  This field is system-managed and populated from collection membership.
                  Follows AIP-122 for resource name references.
                readOnly: true
              deleteTime:
                type: string
                format: date-time
                description: Soft delete timestamp.
                readOnly: true
              object:
                type: string
                description: |-
                  Object resource name reference for blob storage upload.
                  Format: `namespaces/{namespace}/objects/{object}`
                  Two upload approaches are supported:
                  1. Direct upload: Upload file directly to MinIO via GetObjectUploadURL,
                     then provide the object resource name here.
                     This avoids base64 encoding overhead and is preferred for large files.
                  2. Inline content: Provide base64-encoded file content in the 'content'
                     field. When object is provided, the 'content' field is ignored.
                  Follows AIP-122 for resource name references.
            title: |-
              The file resource to update. The file's `name` field identifies the
              resource. Format:
              `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`
            required:
              - displayName
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{name}/reprocess:
    post:
      summary: Reprocess a file
      description: |-
        Triggers reprocessing of a file with its current configuration.
        This will regenerate embeddings, chunks, and summaries.
      operationId: ArtifactPublicService_ReprocessFile
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ReprocessFileResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the file to reprocess.
            Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReprocessFileBody'
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{name_2}:
    get:
      summary: Get a chunk
      description: Returns the details of a chunk.
      operationId: ArtifactPublicService_GetChunk
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetChunkResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_2
          description: |-
            The resource name of the chunk to retrieve.
            Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}/chunks/{chunk}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+/chunks/[^/]+
        - name: chunkType
          description: |-
            Optional chunk type filter. If specified, returns a chunk of this type
            from the same file. If not specified, returns the chunk identified by name.

             - TYPE_CONTENT: Content.
             - TYPE_SUMMARY: Summary.
             - TYPE_AUGMENTED: Augmented.
          in: query
          required: false
          type: string
          enum:
            - TYPE_CONTENT
            - TYPE_SUMMARY
            - TYPE_AUGMENTED
      tags:
        - Artifact
      x-stage: alpha
    delete:
      summary: Delete Object
      description: Deletes an object.
      operationId: ArtifactPublicService_DeleteObject
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteObjectResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_2
          description: |-
            The resource name of the object to delete.
            Format: `namespaces/{namespace}/objects/{object}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/objects/[^/]+
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{parent}/chunks:
    get:
      summary: List chunks
      description: Returns a paginated list of chunks.
      operationId: ArtifactPublicService_ListChunks
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListChunksResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format:
            `namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+
        - name: pageSize
          description: |-
            The maximum number of chunks to return. If this parameter is unspecified,
            at most 100 chunks will be returned. The cap value for this parameter
            is 1000 (i.e. any value above that will be coerced to 1000).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - `id="<uuid>"` or `uid="<uuid>"` - Filter by specific chunk ID/UID
            - `chunk_type="CHUNK_TYPE_TEXT"` - Filter by chunk type
            - `retrievable=true` - Filter by retrievable status

            **Examples**:
            - List specific chunks: `id="uuid1" OR id="uuid2"`
            - List text chunks: `chunk_type="CHUNK_TYPE_TEXT"`
            - List retrievable chunks: `retrievable=true`
          in: query
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{parent}/search-chunks:
    post:
      summary: Search chunks
      description: Returns the top-K most similar chunks to a text prompt.
      operationId: ArtifactPublicService_SearchChunks
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/SearchChunksResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name (namespace).
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchChunksBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{parent}/object-upload-url:
    get:
      summary: Get Object Upload URL
      description: Returns the upload URL of an object.
      operationId: ArtifactPublicService_GetObjectUploadURL
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetObjectUploadURLResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: displayName
          description: |-
            Display name for the object (user-provided filename, max 1024 characters).
            This will be stored as the object's display_name.
          in: query
          required: true
          type: string
        - name: urlExpireDays
          description: |-
            URL expiration time in days.
            Maximum is 7 days. If set to 0, URL will not expire.
          in: query
          required: false
          type: integer
          format: int32
        - name: lastModifiedTime
          description: |-
            Last modified time (client-provided metadata).
            Must be in RFC3339 formatted date-time string.
          in: query
          required: false
          type: string
          format: date-time
        - name: objectExpireDays
          description: |-
            Object expiration time in days.
            Minimum is 1 day. If set to 0, the object will not be deleted
            automatically.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{name}/download-url:
    get:
      summary: Get Object Download URL
      description: Returns the download URL of an object.
      operationId: ArtifactPublicService_GetObjectDownloadURL
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetObjectDownloadURLResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the object.
            Format: `namespaces/{namespace}/objects/{object}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/objects/[^/]+
        - name: urlExpireDays
          description: |-
            URL expiration time in days.
            Maximum is 7 days. If set to 0, URL will not expire.
          in: query
          required: false
          type: integer
          format: int32
        - name: downloadFilename
          description: |-
            Optional custom filename for the download.
            If provided, this filename will be used in the Content-Disposition header.
          in: query
          required: false
          type: string
      tags:
        - Artifact
      x-stage: alpha
  /v1alpha/{name_3}:
    get:
      summary: Get Object
      description: Returns the details of an object.
      operationId: ArtifactPublicService_GetObject
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetObjectResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_3
          description: |-
            The resource name of the object to retrieve.
            Format: `namespaces/{namespace}/objects/{object}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/objects/[^/]+
      tags:
        - Artifact
      x-stage: alpha
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_DeleteModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_3
          description: |-
            The resource name of the model to delete.
            Format: `namespaces/{namespace}/models/{model}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/models/[^/]+
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{object.name}:
    patch:
      summary: Update Object
      description: Updates an object.
      operationId: ArtifactPublicService_UpdateObject
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateObjectResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: object.name
          description: |-
            Canonical resource name.
            Format: `namespaces/{namespace}/objects/{object}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/objects/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateObjectBody'
      tags:
        - Artifact
      x-stage: alpha
  /v1beta/user:
    get:
      summary: Get the authenticated user
      description: Returns the details of the authenticated user.
      operationId: MgmtPublicService_GetAuthenticatedUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetAuthenticatedUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      tags:
        - Namespace
      x-stage: beta
    patch:
      summary: Update the authenticated user
      description: |-
        Updates the information of the authenticated user.

        In REST requests, only the supplied user fields will be taken into account
        when updating the resource.
      operationId: MgmtPublicService_PatchAuthenticatedUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/PatchAuthenticatedUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: user
          description: The user fields that will replace the existing ones.
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthenticatedUser'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/users:
    get:
      summary: List users
      description: Returns a paginated list of users.
      operationId: MgmtPublicService_ListUsers
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListUsersResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of users to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - Namespace
      x-stage: beta
  /v1beta/{name}:
    get:
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: MgmtPublicService_GetUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the user.
            Format: `users/{user}`
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Namespace
      x-stage: beta
    delete:
      summary: Delete an API token
      description: Deletes an API token.
      operationId: MgmtPublicService_DeleteToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the token to delete.
            Format: `users/{user}/tokens/{token}`
          in: path
          required: true
          type: string
          pattern: tokens/[^/]+
      tags:
        - Namespace
      x-stage: beta
  /v1beta/tokens:
    get:
      summary: List API tokens
      description: Returns a paginated list of the API tokens of the authenticated user.
      operationId: MgmtPublicService_ListTokens
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListTokensResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `users/{user}`
            If not provided, defaults to the authenticated user.
          in: query
          required: false
          type: string
        - name: pageSize
          description: |-
            The maximum number of tokens to return. If this parameter is unspecified,
            at most 10 tokens will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
      tags:
        - Namespace
      x-stage: beta
    post:
      summary: Create an API token
      description: Creates an API token for the authenticated user.
      operationId: MgmtPublicService_CreateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: token
          description: The properties of the token to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/ApiToken'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/{name_1}:
    get:
      summary: Get an API token
      description: Returns the details of an API token.
      operationId: MgmtPublicService_GetToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_1
          description: |-
            The resource name of the token.
            Format: `users/{user}/tokens/{token}`
          in: path
          required: true
          type: string
          pattern: tokens/[^/]+
      tags:
        - Namespace
      x-stage: beta
    delete:
      summary: Delete a connection
      description: Deletes a connection.
      operationId: MgmtPublicService_DeleteNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_1
          description: |-
            The resource name of the connection to delete.
            Format: `namespaces/{namespace}/connections/{connection}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/connections/[^/]+
      tags:
        - Connection
      x-stage: beta
  /v1beta/validate-token:
    post:
      summary: Validate an API token
      description: Validates an API token.
      operationId: MgmtPublicService_ValidateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ValidateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/check-namespace:
    post:
      summary: Check if a namespace is in use
      description: |-
        Returns the availability of a namespace or, alternatively, the type of
        resource that is using it.
      operationId: MgmtPublicService_CheckNamespace
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CheckNamespaceResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: body
          description: |-
            CheckNamespaceRequest represents a request to verify if a namespace is
            available.
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckNamespaceRequest'
      tags:
        - Namespace
      x-stage: beta
  /v1beta/pipeline-runs/query-charts:
    get:
      summary: List pipeline trigger time charts
      description: |-
        Returns a timeline of pipeline trigger counts for a given requester. The
        response will contain one set of records (datapoints), representing the
        amount of triggers in a time bucket.
      operationId: MgmtPublicService_ListPipelineTriggerChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPipelineTriggerChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: requesterId
          description: The ID of the namespace that requested the pipeline triggers.
          in: query
          required: true
          type: string
        - name: aggregationWindow
          description: |-
            Aggregation window. The value is a positive duration string, i.e. a
            sequence of decimal numbers, each with optional fraction and a unit
            suffix, such as "300ms", "1.5h" or "2h45m".
            The minimum (and default) window is 1h.
          in: query
          required: false
          type: string
        - name: start
          description: |-
            Beginning of the time range from which the records will be fetched.
            The default value is the beginning of the current day, in UTC.
          in: query
          required: false
          type: string
          format: date-time
        - name: stop
          description: |-
            End of the time range from which the records will be fetched.
            The default value is the current timestamp.
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - Metrics
      x-stage: beta
  /v1beta/model-runs/query-charts:
    get:
      summary: List model trigger time charts
      description: |-
        Returns a timeline of model trigger counts for a given requester. The
        response will contain one set of records (datapoints), representing the
        amount of triggers in a time bucket.
      operationId: MgmtPublicService_ListModelTriggerChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelTriggerChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: requesterId
          description: The ID of the namespace that requested the model triggers.
          in: query
          required: true
          type: string
        - name: aggregationWindow
          description: |-
            Aggregation window. The value is a positive duration string, i.e. a
            sequence of decimal numbers, each with optional fraction and a unit
            suffix, such as "300ms", "1.5h" or "2h45m".
            The minimum (and default) window is 1h.
          in: query
          required: false
          type: string
        - name: start
          description: |-
            Beginning of the time range from which the records will be fetched.
            The default value is the beginning of the current day, in UTC.
          in: query
          required: false
          type: string
          format: date-time
        - name: stop
          description: |-
            End of the time range from which the records will be fetched.
            The default value is the current timestamp.
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - Metrics
      x-stage: beta
  /v1beta/{parent}/connections:
    get:
      summary: List namespace connections
      description: Returns a paginated list of connections created by a namespace.
      operationId: MgmtPublicService_ListNamespaceConnections
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespaceConnectionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: pageSize
          description: |-
            The maximum number of items to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token. By default, the first page will be returned.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression. The following filters are supported:
            - `integrationId`
            - `qConnection` (fuzzy search on connection ID, integration title or
            vendor)

            **Examples**:
            - List connections where app name, vendor or connection ID match `googl`:
            `q="googl"`.
            - List connections where the component type is `openai` (e.g. to setup a
            connector within a pipeline): `integrationId="openai"`.
          in: query
          required: false
          type: string
      tags:
        - Connection
      x-stage: beta
    post:
      summary: Create a connection
      description: Creates a connection under the ownership of a namespace.
      operationId: MgmtPublicService_CreateNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: connection
          description: Properties of the connection to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/mgmt.v1beta.Connection'
      tags:
        - Connection
      x-stage: beta
  /v1beta/{name_2}:
    get:
      summary: Get a namespace connection
      description: Returns the details of a connection.
      operationId: MgmtPublicService_GetNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_2
          description: |-
            The resource name of the connection.
            Format: `namespaces/{namespace}/connections/{connection}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/connections/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Connection
      x-stage: beta
    delete:
      summary: Delete a pipeline
      description: |-
        Deletes a pipeline, accesing it by its resource name, which is defined by
        the parent namespace and the ID of the pipeline. The authenticated
        namespace must be the parent of the pipeline in order to delete it.
      operationId: PipelinePublicService_DeletePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeletePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_2
          description: |-
            The resource name of the pipeline to delete.
            Format: `namespaces/{namespace}/pipelines/{pipeline}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/pipelines/[^/]+
      tags:
        - Pipeline
      x-stage: beta
  /v1beta/{connection.name}:
    patch:
      summary: Update a connection
      description: Updates a connection with the supplied connection fields.
      operationId: MgmtPublicService_UpdateNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: connection.name
          description: |-
            Field 1: Canonical resource name.
            Format: `namespaces/{namespace}/connections/{connection}`.
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/connections/[^/]+
        - name: connection
          description: |-
            Connection object with the new properties to be updated. The connection's
            `name` field identifies the resource.
            Format: `namespaces/{namespace}/connections/{connection}`
            Immutable and output-only fields will be ignored. The Setup property must
            be updated in block (no partial update is supported).
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                title: |-
                  Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).
                  Example: "con-8f3a2k9E7c1"
                readOnly: true
              displayName:
                type: string
                description: 'Field 3: Human-readable display name for UI.'
              slug:
                type: string
                title: |-
                  Field 4: URL-friendly slug (NO prefix).
                  If omitted, server generates from display_name.
                  If provided, server validates and persists it.
                  Slug is NOT part of resource identity.
                  Example: "my-google-drive"
              aliases:
                type: array
                items:
                  type: string
                description: |-
                  Field 5: Previous slugs for backward compatibility.
                  When display_name changes, a new slug is generated and old slugs are stored
                  here.
                readOnly: true
              description:
                type: string
                description: 'Field 6: Optional description.'
              createTime:
                type: string
                format: date-time
                description: 'Field 7: Creation time.'
                readOnly: true
              updateTime:
                type: string
                format: date-time
                description: 'Field 8: Last update time.'
                readOnly: true
              namespaceId:
                type: string
                description: 'Field 9: ID of the namespace owning the connection.'
                readOnly: true
              integrationId:
                type: string
                description: |-
                  Field 10: Integration ID. It determines for which type of components can
                  reference this connection.
              integrationTitle:
                type: string
                description: |-
                  Field 11: Integration title. This helps the console display the results
                  grouped by integration ID without needing an extra call to fetch title by
                  integration ID.
                readOnly: true
              method:
                description: |-
                  Field 12: Connection method. It references the setup schema provided by the
                  integration.
                allOf:
                  - $ref: '#/definitions/mgmt.v1beta.Connection.Method'
              setup:
                type: object
                description: |-
                  Field 13: Connection details. This field is required on creation, optional
                  on view. When viewing the connection details, the setup values will be
                  redacted.
              view:
                title: |-
                  Field 14: View defines how the connection is presented. The following
                  fields are only shown in the FULL view:
                  - setup
                  - scopes
                  - oAuthAccessDetails
                readOnly: true
                allOf:
                  - $ref: '#/definitions/mgmt.v1beta.View'
              scopes:
                type: array
                items:
                  type: string
                description: |-
                  Field 15: A list of scopes that identify the resources that the connection
                  will be able to access on the user's behalf. This is typically passed on
                  creation when the setup has been generated through an OAuth flow with a
                  limited set of scopes.
              oAuthAccessDetails:
                type: object
                description: |-
                  Field 16: When the connection method is METHOD_OAUTH, the access token
                  might come with some extra information that might vary across vendors. This
                  information is passed as connection metadata.
              identity:
                type: string
                description: |-
                  Field 17: When the connection method is METHOD_OAUTH, this field will hold
                  the identity (e.g., email, username) with which the access token has been
                  generated.
            title: |-
              Connection object with the new properties to be updated. The connection's
              `name` field identifies the resource.
              Format: `namespaces/{namespace}/connections/{connection}`
              Immutable and output-only fields will be ignored. The Setup property must
              be updated in block (no partial update is supported).
            required:
              - displayName
              - integrationId
              - method
              - setup
      tags:
        - Connection
      x-stage: beta
  /v1beta/{name}/test:
    post:
      summary: Test a connection
      description: |-
        Makes a request to the 3rd party app that the connection is configured to
        communicate with, and checks the result of the call. If the test fails,
        the response status and error message will provide more information about
        the failure.

        Note that this action might affect the quota or billing of the integrated
        account in the 3rd party app.
      operationId: MgmtPublicService_TestNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TestNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the connection to test.
            Format: `namespaces/{namespace}/connections/{connection}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/connections/[^/]+
      tags:
        - Connection
      x-stage: beta
  /v1beta/namespaces/{namespaceId}/connections/{connectionId}/referenced-pipelines:
    get:
      summary: List pipelines that reference a connection
      description: |-
        Returns a paginated list with the IDs of the pipelines that reference a
        given connection. All the pipelines will belong to the same namespace as
        the connection.
      operationId: MgmtPublicService_ListPipelineIDsByConnectionID
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/mgmt.v1beta.ListPipelineIDsByConnectionIDResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: connectionId
          description: Connection ID.
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of items to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token. By default, the first page will be returned.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression. The following filters are supported:
            - `q` (fuzzy search on pipeline ID)
          in: query
          required: false
          type: string
      tags:
        - Connection
      x-stage: beta
  /v1beta/integrations:
    get:
      summary: List integrations
      description: Returns a paginated list of available integrations.
      operationId: PipelinePublicService_ListIntegrations
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/pipeline.v1beta.ListIntegrationsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of items to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token. By default, the first page will be returned.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression. The following filters are supported:
            - `qIntegration` (fuzzy search on title or vendor)

            **Examples**:
            - List integrations where app name or vendor match `googl`: `q="googl"`.
          in: query
          required: false
          type: string
      tags:
        - Integration
      x-stage: beta
  /v1beta/integrations/{integrationId}:
    get:
      summary: Get an integration
      description: Returns the details of an integration.
      operationId: MgmtPublicService_GetIntegration
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/mgmt.v1beta.GetIntegrationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: integrationId
          description: Integration ID.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Integration
      x-stage: beta
  /v1alpha/model-definitions:
    get:
      summary: List model definitions
      description: Returns a paginated list of model definitions.
      operationId: ModelPublicService_ListModelDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of model definitions to return. If this parameter
            is unspecified, at most 10 definitions will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
  /v1alpha/available-regions:
    get:
      summary: List available regions
      description: Returns a paginated list of available regions.
      operationId: ModelPublicService_ListAvailableRegions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListAvailableRegionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      tags:
        - Model
      x-stage: alpha
  /v1alpha/model-definitions/{modelDefinitionId}:
    get:
      summary: Get a model definition
      description: Returns the details of a model definition.
      operationId: ModelPublicService_GetModelDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetModelDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: modelDefinitionId
          description: |-
            The resource name of the model definition, which allows its access by ID.
            - Format: `model-definitions/{id}`.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
  /v1alpha/models:
    get:
      summary: List public models
      description: Returns a paginated list of public models.
      operationId: ModelPublicService_ListPublicModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPublicModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or
            `update_time`. Format: `order_by=id` or `order_by=create_time desc`,
            default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{parent}/models:
    get:
      summary: List models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or
            `update_time`. Format: `order_by=id` or `order_by=create_time desc`,
            default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
      x-stage: alpha
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of a namespace. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: parent
          description: |-
            The parent resource name.
            Format: `namespaces/{namespace}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Model'
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{name_4}:
    get:
      summary: Get a model
      description: |-
        Returns the detail of a model, accessing it by the model ID and its parent
        namespace.
      operationId: ModelPublicService_GetModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_4
          description: |-
            The resource name of the model.
            Format: `namespaces/{namespace}/models/{model}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
      x-stage: alpha
    delete:
      summary: Delete a model version
      description: |-
        Deletes a model version, accesing it by its resource name, which is defined
        by the parent namespace and the ID of the model, and version.
      operationId: ModelPublicService_DeleteModelVersion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteModelVersionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name_4
          description: |-
            The resource name of the model version to delete.
            Format: `namespaces/{namespace}/models/{model}/versions/{version}`
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/models/[^/]+/versions/[^/]+
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{model.name}:
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent namespace and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: model.name
          description: |-
            Field 1: Canonical resource name.
            Format: `namespaces/{namespace}/models/{model}`.
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/models/[^/]+
        - name: model
          description: |-
            The model resource to update. The model's `name` field identifies
            the resource. Format: `namespaces/{namespace}/models/{model}`
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                title: |-
                  Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).
                  Example: "mod-8f3a2k9E7c1"
                readOnly: true
              displayName:
                type: string
                description: 'Field 3: Human-readable display name for UI.'
              slug:
                type: string
                description: |-
                  Field 4: URL-friendly slug (NO prefix).
                  If omitted, server generates from display_name.
                  Slug is NOT part of resource identity.
              aliases:
                type: array
                items:
                  type: string
                description: 'Field 5: Previous slugs for backward compatibility.'
                readOnly: true
              description:
                type: string
                description: 'Field 6: Optional description.'
              createTime:
                type: string
                format: date-time
                description: 'Field 7: Creation time.'
                readOnly: true
              updateTime:
                type: string
                format: date-time
                description: 'Field 8: Last update time.'
                readOnly: true
              modelDefinition:
                type: string
                description: The model definition that has been used to import the model.
              configuration:
                type: object
                description: |-
                  Model configuration. This field is validated against the model
                  specification in the model definition.
              task:
                description: Model task.
                allOf:
                  - $ref: '#/definitions/Task'
              visibility:
                description: Model visibility.
                allOf:
                  - $ref: '#/definitions/Model.Visibility'
              permission:
                description: Permission defines how the model can be used.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1alpha.Permission'
              region:
                type: string
                description: Region of choice for the particular provider to host the model.
              hardware:
                type: string
                description: Hardware of choice to serve the model.
              inputSchema:
                type: object
                description: Input schema for the model.
                readOnly: true
              outputSchema:
                type: object
                description: Output schema for the model.
                readOnly: true
              tags:
                type: array
                items:
                  type: string
                description: Tags.
              versions:
                type: array
                items:
                  type: string
                description: Version names.
                readOnly: true
              stats:
                description: Statistic data.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/Model.Stats'
              readme:
                type: string
                description: README holds the model documentation.
              sourceUrl:
                type: string
                description: A link to the source code of the model (e.g. to a GitHub repository).
              documentationUrl:
                type: string
                description: A link to any extra information.
              license:
                type: string
                description: License under which the model is distributed.
              profileImage:
                type: string
                description: Model profile image in base64 format.
              ownerName:
                type: string
                description: Resource name of the owner namespace.
                readOnly: true
              owner:
                description: Model owner (User or Organization).
                readOnly: true
                allOf:
                  - $ref: '#/definitions/Owner'
              creatorName:
                type: string
                title: |-
                  Full resource name of the user who created this model.
                  Format: `users/{user}`
                readOnly: true
              creator:
                description: The user who created this model.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1beta.User'
              deleteTime:
                type: string
                format: date-time
                description: Soft delete timestamp.
                readOnly: true
            title: |-
              The model resource to update. The model's `name` field identifies
              the resource. Format: `namespaces/{namespace}/models/{model}`
            required:
              - displayName
              - modelDefinition
              - configuration
              - task
              - visibility
              - region
              - hardware
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{name}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_RenameModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/RenameModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the model to rename.
            Format: namespaces/{namespace}/models/{model}
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RenameModelBody'
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{name}/versions/{version}/watch:
    get:
      summary: Watch the state of a model version
      description: |-
        Returns the state of a model. The model resource allocation and scaling
        actions take some time, during which a model will be in various state. This
        endpoint allows clients to track the state.
      operationId: ModelPublicService_WatchModelVersion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/WatchModelVersionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the model to watch.
            Format: namespaces/{namespace}/models/{model}
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{name}/watch:
    get:
      summary: Watch the state of the latest model version
      description: |-
        Returns the state of the latest model version. The model resource
        allocation and scaling actions take some time, during which a model will be
        in various state. This endpoint allows clients to track the state.
      operationId: ModelPublicService_WatchModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/WatchModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: name
          description: |-
            The resource name of the model to watch.
            Format: namespaces/{namespace}/models/{model}
          in: path
          required: true
          type: string
          pattern: namespaces/[^/]+/models/[^/]+
      tags:
        - Model
      x-stage: alpha
  /v1alpha/{parent}/versions:
    get:
      summary: List namespace model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the
        specified namespace. Contains model version and digest.
      operationId: ModelPublicService_ListModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListModelVersionsResponse'
        "401":
[...]
