version: v2
managed:
  enabled: true
  disable:
    - file_option: go_package
      module: buf.build/googleapis/googleapis
    - file_option: go_package
      module: buf.build/grpc-ecosystem/grpc-gateway
  override:
    - file_option: go_package_prefix
      value: github.com/instill-ai/protogen-go
plugins:
  - remote: buf.build/grpc-ecosystem/openapiv2:v2.27.4
    out: .
    opt:
      - output_format=yaml
      - allow_merge=true,merge_file_name=service
      - openapi_naming_strategy=simple
      - use_allof_for_refs=true
      - version=true
      - omit_enum_default_value=true
      - preserve_rpc_order=true
      - disable_service_tags=true
