version: v1
managed:
  enabled: true
  go_package_prefix:
    default: github.com/instill-ai/protogen-go
    except:
      - buf.build/googleapis/googleapis
      - buf.build/grpc-ecosystem/grpc-gateway
plugins:
  - plugin: buf.build/grpc-ecosystem/openapiv2:v2.19.0
    out: .
    opt:
      - output_format=yaml
      - allow_merge=true,merge_file_name=service
      - version=true
      - omit_enum_default_value=true
      - preserve_rpc_order=true
      - disable_service_tags=true
