syntax = "proto3";

package model.model.v1alpha;

import "protoc-gen-openapiv2/options/annotations.proto";

// These options define the OpenAPI definition document information.
option (grpc.gateway.protoc_gen_openapiv2.options.openapiv2_swagger) = {
  info: {
    title: "⚗️ Model";
    description: "Endpoints to manage the AI model-related resources and features working with Instill VDP.";
{{$info}}
  };
  base_path: "/model";
{{$conf}}
};
