swagger: "2.0"
info:
  title: ⚗️ Model
  description: Endpoints to manage the AI model-related resources and features working with Instill VDP.
  version: v0.30.0-beta
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: ModelPublicService
    description: Public Model endpoints
host: api.instill.tech
basePath: /model
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1alpha/model-definitions:
    get:
      summary: List model definitions
      description: Returns a paginated list of model definitions.
      operationId: ModelPublicService_ListModelDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListModelDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of model definitions to return. If this parameter
            is unspecified, at most 10 pipelines will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - ModelPublicService
  /v1alpha/{model_definition_name}:
    get:
      summary: Get a model definition
      description: Returns the details of a model definition.
      operationId: ModelPublicService_GetModelDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetModelDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: model_definition_name
          description: |-
            The resource name of the model definition, which allows its access by ID.
            - Format: `model-definitions/{id}`.
          in: path
          required: true
          type: string
          pattern: model-definitions/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - ModelPublicService
  /v1alpha/models:
    get:
      summary: List models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: show_deleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
      tags:
        - ModelPublicService
  /v1alpha/{permalink}/lookUp:
    get:
      summary: Get a model by UID
      description: Returns the details of a model by a permalink defined by the resource UID.
      operationId: ModelPublicService_LookUpModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaLookUpModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: permalink
          description: |-
            The permalink of the model, which allows its access by UID.
            - Format: `models/{model.uid}`.
          in: path
          required: true
          type: string
          pattern: models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - ModelPublicService
  /v1alpha/{user_name}/models:
    get:
      summary: List user models
      description: |-
        Returns a paginated list of models that belong to the specified user. The
        parent user may be different from the authenticated user, in which case
        the results will contain the models that are visible to the latter.
      operationId: ModelPublicService_ListUserModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListUserModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            The parent resource, i.e., the user that created the models.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: page_size
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: show_deleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
      tags:
        - ModelPublicService
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of a user. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            The parent resource, i.e., the user that creates the model.
            Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}:
    get:
      summary: Get a model
      description: Returns the detail of a model, accessing it by the model ID and its parent user.
      operationId: ModelPublicService_GetUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - ModelPublicService
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent user and the ID of the model.
      operationId: ModelPublicService_DeleteUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
      tags:
        - ModelPublicService
  /v1alpha/{model_name}:
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent user and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: model_name
          description: |-
            The resource name of the model, which allows its access by owner and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: model
          description: The model to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Model UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Model resource ID (used in `name` as the last segment). This conforms to
                  RFC-1034, which restricts to letters, numbers, and hyphen, with the first
                  character a letter, the last a letter or a number, and a 63 character
                  maximum.
              description:
                type: string
                description: Model description.
              model_definition:
                type: string
                description: The model definition that has been used to import the model.
              configuration:
                type: object
                description: |-
                  Model configuration. This field is validated against the model
                  specification in the model definition (i.e. the `model_spec` field in the
                  model definition).
              task:
                $ref: '#/definitions/v1alphaTask'
                description: Model task.
              visibility:
                $ref: '#/definitions/v1alphaModelVisibility'
                description: Model visibility.
              create_time:
                type: string
                format: date-time
                description: Model creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Model update time.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Model deletion time.
                readOnly: true
              owner_name:
                type: string
                description: Resource name of the owner.
                readOnly: true
              owner:
                $ref: '#/definitions/v1betaOwner'
                description: Model owner.
                readOnly: true
              region:
                type: string
                description: Region of choice for the particular provider to host the model.
              hardware:
                type: string
                description: Hardware of choice to serve the model.
              readme:
                type: string
                description: README holds the model documentation.
              source_url:
                type: string
                description: A link to the source code of the model (e.g. to a GitHub repository).
              documentation_url:
                type: string
                description: A link to any extra information.
              license:
                type: string
                description: License under which the model is distributed.
            title: The model to update
            required:
              - id
              - model_definition
              - configuration
              - task
              - visibility
              - region
              - hardware
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent user and the ID of the model.
      operationId: ModelPublicService_RenameUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaRenameUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceRenameUserModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}/publish:
    post:
      summary: Publish a model
      description: |-
        Updates the visibility in a model to PUBLIC. The model is accessed by its
        resource name, defined by the model ID and its parent user.
      operationId: ModelPublicService_PublishUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaPublishUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServicePublishUserModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}/unpublish:
    post:
      summary: Unpublish a model
      description: |-
        Updates the visibility in a model to PRIVATE. The model is accessed by its
        resource name, defined by the model ID and its parent user.
      operationId: ModelPublicService_UnpublishUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUnpublishUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceUnpublishUserModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{user_model_card_name}:
    get:
      summary: Get a model card
      description: |-
        Returns the README file that accompanies a model, describing it and
        enhancing it with metadata. The model is accessed by its resource name.
      operationId: ModelPublicService_GetUserModelCard
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetUserModelCardResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_card_name
          description: |-
            The resource name of the model card, which allows its access by parent
            user and model ID.
            - Format: `users/{user.id}/models/{model.id}/readme`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+/readme
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}/versions/{version}/watch:
    get:
      summary: Watch the state of a model
      description: |-
        Returns the state of a model. The deploy / undeploy actions take some
        time, during which a model will be in an UNSPECIFIED state. This endpoint
        allows clients to track the state and progress of the model.
      operationId: ModelPublicService_WatchUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: version
          description: Model version tag
          in: path
          required: true
          type: string
          pattern: '[^/]+'
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}/versions:
    get:
      summary: List user model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the specified user.
        Contains model version and digest.
      operationId: ModelPublicService_ListUserModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListUserModelVersionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The parent resource, i.e., the user that created the models.
            - Format: `users/{user.id}`.
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: page_size
          description: |-
            The maximum number of tags to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}/versions/{version}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model , which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: version
          description: Model version tag
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerUserModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name}/versions/{version}/triggerAsync:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model , which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: version
          description: Model version tag
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncUserModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{organization_name}/models:
    get:
      summary: List organization models
      description: |-
        Returns a paginated list of models that belong to the specified organization. The
        parent organization may be different from the authenticated organization, in which case
        the results will contain the models that are visible to the latter.
      operationId: ModelPublicService_ListOrganizationModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListOrganizationModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            The parent resource, i.e., the organization that created the models.
            - Format: `organizations/{organizations.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: page_size
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: show_deleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
      tags:
        - ModelPublicService
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of an organization. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            The parent resource, i.e., the organization that creates the model.
            Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_name}:
    get:
      summary: Get a model
      description: Returns the detail of a model, accessing it by the model ID and its parent organization.
      operationId: ModelPublicService_GetOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - ModelPublicService
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent organization and the ID of the model.
      operationId: ModelPublicService_DeleteOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
      tags:
        - ModelPublicService
  /v1alpha/{model_name_1}:
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent organization and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: model_name_1
          description: |-
            The resource name of the model, which allows its access by owner and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: model
          description: The model to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Model UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Model resource ID (used in `name` as the last segment). This conforms to
                  RFC-1034, which restricts to letters, numbers, and hyphen, with the first
                  character a letter, the last a letter or a number, and a 63 character
                  maximum.
              description:
                type: string
                description: Model description.
              model_definition:
                type: string
                description: The model definition that has been used to import the model.
              configuration:
                type: object
                description: |-
                  Model configuration. This field is validated against the model
                  specification in the model definition (i.e. the `model_spec` field in the
                  model definition).
              task:
                $ref: '#/definitions/v1alphaTask'
                description: Model task.
              visibility:
                $ref: '#/definitions/v1alphaModelVisibility'
                description: Model visibility.
              create_time:
                type: string
                format: date-time
                description: Model creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Model update time.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Model deletion time.
                readOnly: true
              owner_name:
                type: string
                description: Resource name of the owner.
                readOnly: true
              owner:
                $ref: '#/definitions/v1betaOwner'
                description: Model owner.
                readOnly: true
              region:
                type: string
                description: Region of choice for the particular provider to host the model.
              hardware:
                type: string
                description: Hardware of choice to serve the model.
              readme:
                type: string
                description: README holds the model documentation.
              source_url:
                type: string
                description: A link to the source code of the model (e.g. to a GitHub repository).
              documentation_url:
                type: string
                description: A link to any extra information.
              license:
                type: string
                description: License under which the model is distributed.
            title: The model to update
            required:
              - id
              - model_definition
              - configuration
              - task
              - visibility
              - region
              - hardware
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_name}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent organization and the ID of the model.
      operationId: ModelPublicService_RenameOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaRenameOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceRenameOrganizationModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_name}/publish:
    post:
      summary: Publish a model
      description: |-
        Updates the visibility in a model to PUBLIC. The model is accessed by its
        resource name, defined by the model ID and its parent organization.
      operationId: ModelPublicService_PublishOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaPublishOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServicePublishOrganizationModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_name}/unpublish:
    post:
      summary: Unpublish a model
      description: |-
        Updates the visibility in a model to PRIVATE. The model is accessed by its
        resource name, defined by the model ID and its parent organization.
      operationId: ModelPublicService_UnpublishOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUnpublishOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceUnpublishOrganizationModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_card_name}:
    get:
      summary: Get a model card
      description: |-
        Returns the README file that accompanies a model, describing it and
        enhancing it with metadata. The model is accessed by its resource name.
      operationId: ModelPublicService_GetOrganizationModelCard
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetOrganizationModelCardResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_card_name
          description: |-
            The resource name of the model card, which allows its access by parent
            organization and model ID.
            - Format: `organizations/{organization.id}/models/{model.id}/readme`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+/readme
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_name}/versions/{version}/watch:
    get:
      summary: Watch the state of a model
      description: |-
        Returns the state of a model. The deploy / undeploy actions take some
        time, during which a model will be in an UNSPECIFIED state. This endpoint
        allows clients to track the state and progress of the model.
      operationId: ModelPublicService_WatchOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: version
          description: Model version tag
          in: path
          required: true
          type: string
          pattern: '[^/]+'
      tags:
        - ModelPublicService
  /v1alpha/{user_model_name_1}/versions:
    get:
      summary: List organization model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the specified organization.
        Contains model version and digest.
      operationId: ModelPublicService_ListOrganizationModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListOrganizationModelVersionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name_1
          description: |-
            The parent resource, i.e., the user that created the models.
            - Format: `organizations/{organization.id}`.
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: page_size
          description: |-
            The maximum number of tags to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_name}/versions/{version}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model , which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: version
          description: Model version tag
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerOrganizationModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{organization_model_name}/versions/{version}/triggerAsync:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model , which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: version
          description: Model version tag
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncOrganizationModelBody'
      tags:
        - ModelPublicService
  /v1alpha/{name}:
    get:
      summary: Get the details of a long-running operation
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as deployment.
      operationId: ModelPublicService_GetModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: name
          description: |-
            The resource name of the model, which allows its access ID.
            - Format: `operations/{operation.id}`.
          in: path
          required: true
          type: string
          pattern: operations/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - ModelPublicService
definitions:
  ModelPublicServicePublishOrganizationModelBody:
    type: object
    description: PublisOrganizationhModelRequest represents a request to publish a model.
  ModelPublicServicePublishUserModelBody:
    type: object
    description: PublisUserhModelRequest represents a request to publish a model.
  ModelPublicServiceRenameOrganizationModelBody:
    type: object
    properties:
      new_model_id:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `organizations/{organization.id}/models/{new_model_id}`.
    title: RenameOrganizationModelRequest represents a request to rename a model
    required:
      - new_model_id
  ModelPublicServiceRenameUserModelBody:
    type: object
    properties:
      new_model_id:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `users/{user.id}/models/{new_model_id}`.
    title: RenameUserModelRequest represents a request to rename a model
    required:
      - new_model_id
  ModelPublicServiceTriggerAsyncOrganizationModelBody:
    type: object
    properties:
      task_inputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    title: |-
      TriggerAsyncOrganizationModelRequest represents a request to trigger a model inference
      asynchronously
    required:
      - task_inputs
  ModelPublicServiceTriggerAsyncUserModelBody:
    type: object
    properties:
      task_inputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: |-
      TriggerAsyncUserModelRequest represents a request to trigger a model inference
      asynchronously.
    required:
      - task_inputs
  ModelPublicServiceTriggerOrganizationModelBody:
    type: object
    properties:
      task_inputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: TriggerOrganizationModelRequest represents a request to trigger a model inference.
    required:
      - task_inputs
  ModelPublicServiceTriggerUserModelBody:
    type: object
    properties:
      task_inputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: TriggerUserModelRequest represents a request to trigger a model inference.
    required:
      - task_inputs
  ModelPublicServiceUnpublishOrganizationModelBody:
    type: object
    description: UnpublishOrganizationModelRequest represents a request to unpublish a model.
  ModelPublicServiceUnpublishUserModelBody:
    type: object
    description: UnpublishUserModelRequest represents a request to unpublish a model.
  googlelongrunningOperation:
    type: object
    properties:
      name:
        type: string
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should be a resource name ending with `operations/{unique_id}`.
      metadata:
        $ref: '#/definitions/protobufAny'
        description: |-
          Service-specific metadata associated with the operation.  It typically
          contains progress information and common metadata such as create time.
          Some services might not provide such metadata.  Any method that returns a
          long-running operation should document the metadata type, if any.
      done:
        type: boolean
        description: |-
          If the value is `false`, it means the operation is still in progress.
          If `true`, the operation is completed, and either `error` or `response` is
          available.
      error:
        $ref: '#/definitions/googlerpcStatus'
        description: The error result of the operation in case of failure or cancellation.
      response:
        $ref: '#/definitions/protobufAny'
        description: |-
          The normal response of the operation in case of success.  If the original
          method returns no data on success, such as `Delete`, the response is
          `google.protobuf.Empty`.  If the original method is standard
          `Get`/`Create`/`Update`, the response should be the resource.  For other
          methods, the response should have the type `XxxResponse`, where `Xxx`
          is the original method name.  For example, if the original method name
          is `TakeSnapshot()`, the inferred response type is
          `TakeSnapshotResponse`.
    description: |-
      This resource represents a long-running operation that is the result of a
      network API call.
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: |-
          The status code, which should be an enum value of
          [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          [google.rpc.Status.details][google.rpc.Status.details] field, or localized
          by the client.
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
        description: |-
          A list of messages that carry the error details.  There is a common set of
          message types for APIs to use.
    description: |-
      The `Status` type defines a logical error model that is suitable for
      different programming environments, including REST APIs and RPC APIs. It is
      used by [gRPC](https://github.com/grpc). Each `Status` message contains
      three pieces of data: error code, error message, and error details.

      You can find out more about this error model and how to work with it in the
      [API Design Guide](https://cloud.google.com/apis/design/errors).
  modelv1alphaState:
    type: string
    enum:
      - STATE_OFFLINE
      - STATE_SCALING
      - STATE_ACTIVE
      - STATE_IDLE
      - STATE_ERROR
    description: |-
      State describes the state of a model. See [Deploy
      Models](https://www.instill.tech/docs/latest/model/deploy) for more
      information.

       - STATE_OFFLINE: Offline is the state when the model instance number is 0.
       - STATE_SCALING: Scaling is the transition state when a model instance is scaling up or down.
       - STATE_ACTIVE: Active is the state when a model is processing requests.
       - STATE_IDLE: Idle is the state when a model is alive but not processing requests.
       - STATE_ERROR: Error is the state when the model is undeployable.
  modelv1alphaView:
    type: string
    enum:
      - VIEW_BASIC
      - VIEW_FULL
    description: |-
      View defines how a model definition is presented.

       - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
       - VIEW_FULL: Full representation.
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: |-
          A URL/resource name that uniquely identifies the type of the serialized
          protocol buffer message. This string must contain at least
          one "/" character. The last segment of the URL's path must represent
          the fully qualified name of the type (as in
          `path/google.protobuf.Duration`). The name should be in a canonical form
          (e.g., leading "." is not accepted).

          In practice, teams usually precompile into the binary all types that they
          expect it to use in the context of Any. However, for URLs which use the
          scheme `http`, `https`, or no scheme, one can optionally set up a type
          server that maps type URLs to message definitions as follows:

          * If no scheme is provided, `https` is assumed.
          * An HTTP GET on the URL must yield a [google.protobuf.Type][]
            value in binary format, or produce an error.
          * Applications are allowed to cache lookup results based on the
            URL, or have them precompiled into a binary to avoid any
            lookup. Therefore, binary compatibility needs to be preserved
            on changes to types. (Use versioned type names to manage
            breaking changes.)

          Note: this functionality is not currently available in the official
          protobuf release, and it is not used for type URLs beginning with
          type.googleapis.com. As of May 2023, there are no widely used type server
          implementations and no plans to implement one.

          Schemes other than `http`, `https` (or the empty scheme) might be
          used with implementation specific semantics.
    additionalProperties: {}
    description: |-
      `Any` contains an arbitrary serialized protocol buffer message along with a
      URL that describes the type of the serialized message.

      Protobuf library provides support to pack/unpack Any values in the form
      of utility functions or additional generated methods of the Any type.

      Example 1: Pack and unpack a message in C++.

          Foo foo = ...;
          Any any;
          any.PackFrom(foo);
          ...
          if (any.UnpackTo(&foo)) {
            ...
          }

      Example 2: Pack and unpack a message in Java.

          Foo foo = ...;
          Any any = Any.pack(foo);
          ...
          if (any.is(Foo.class)) {
            foo = any.unpack(Foo.class);
          }
          // or ...
          if (any.isSameTypeAs(Foo.getDefaultInstance())) {
            foo = any.unpack(Foo.getDefaultInstance());
          }

       Example 3: Pack and unpack a message in Python.

          foo = Foo(...)
          any = Any()
          any.Pack(foo)
          ...
          if any.Is(Foo.DESCRIPTOR):
            any.Unpack(foo)
            ...

       Example 4: Pack and unpack a message in Go

           foo := &pb.Foo{...}
           any, err := anypb.New(foo)
           if err != nil {
             ...
           }
           ...
           foo := &pb.Foo{}
           if err := any.UnmarshalTo(foo); err != nil {
             ...
           }

      The pack methods provided by protobuf library will by default use
      'type.googleapis.com/full.type.name' as the type URL and the unpack
      methods only use the fully qualified type name after the last '/'
      in the type URL, for example "foo.bar.com/x/y.z" will yield type
      name "y.z".

      JSON
      ====
      The JSON representation of an `Any` value uses the regular
      representation of the deserialized, embedded message, with an
      additional field `@type` which contains the type URL. Example:

          package google.profile;
          message Person {
            string first_name = 1;
            string last_name = 2;
          }

          {
            "@type": "type.googleapis.com/google.profile.Person",
            "firstName": <string>,
            "lastName": <string>
          }

      If the embedded message type is well-known and has a custom JSON
      representation, that representation will be embedded adding a field
      `value` which holds the custom JSON in addition to the `@type`
      field. Example (for message [google.protobuf.Duration][]):

          {
            "@type": "type.googleapis.com/google.protobuf.Duration",
            "value": "1.212s"
          }
  protobufNullValue:
    type: string
    description: |-
      `NullValue` is a singleton enumeration to represent the null value for the
      `Value` type union.

      The JSON representation for `NullValue` is JSON `null`.
  v1alphaBoundingBox:
    type: object
    properties:
      top:
        type: number
        format: float
        description: Top Y-axis.
        readOnly: true
      left:
        type: number
        format: float
        description: Left X-axis.
        readOnly: true
      width:
        type: number
        format: float
        description: Width.
        readOnly: true
      height:
        type: number
        format: float
        description: Height.
        readOnly: true
    description: |-
      BoundingBox represents a frame in an image that can be drawn when detecting
      patterns in objects.
  v1alphaClassificationInput:
    type: object
    properties:
      image_url:
        type: string
        description: Image URL.
      image_base64:
        type: string
        description: Base64-encoded image.
    description: ClassificationInput is the input of an image classification task.
  v1alphaClassificationInputStream:
    type: object
    properties:
      file_lengths:
        type: array
        items:
          type: integer
          format: int64
        description: File length for each uploaded binary file.
      content:
        type: string
        format: byte
        description: Byte representation of the images.
    description: |-
      ClassificationInputStream represents the input of an image classification
      task when the input is streamed as a binary files.
    required:
      - file_lengths
      - content
  v1alphaClassificationOutput:
    type: object
    properties:
      category:
        type: string
        description: Category.
        readOnly: true
      score:
        type: number
        format: float
        description: Score.
        readOnly: true
    description: ClassificationOutput contains the result of an image classification task.
  v1alphaCreateOrganizationModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The created model resource.
    description: CreateOrganizationModelResponse contains the created model.
  v1alphaCreateUserModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The created model resource.
    description: CreateUserModelResponse contains the created model.
  v1alphaDeleteOrganizationModelResponse:
    type: object
    description: DeleteOrganizationModelResponse is an empty response.
  v1alphaDeleteUserModelResponse:
    type: object
    description: DeleteUserModelResponse is an empty response.
  v1alphaDeployModelAdminResponse:
    type: object
    title: DeployModelAdminResponse represents a response for a deployed model
  v1alphaDetectionInput:
    type: object
    properties:
      image_url:
        type: string
        description: Image URL.
      image_base64:
        type: string
        description: Base64-encoded image.
    description: DetectionInput represents the input of an object detection task.
  v1alphaDetectionInputStream:
    type: object
    properties:
      file_lengths:
        type: array
        items:
          type: integer
          format: int64
        description: File length for each uploaded binary file.
      content:
        type: string
        format: byte
        description: Byte representation of the images.
    description: |-
      DetectionInputStream represents the input of an object detection task when
      the input is streamed as binary files.
    required:
      - file_lengths
      - content
  v1alphaDetectionObject:
    type: object
    properties:
      category:
        type: string
        description: Category.
        readOnly: true
      score:
        type: number
        format: float
        description: Score.
        readOnly: true
      bounding_box:
        $ref: '#/definitions/v1alphaBoundingBox'
        description: Bounding box.
        readOnly: true
    description: DetectionObject represents an identified object in an image.
  v1alphaDetectionOutput:
    type: object
    properties:
      objects:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaDetectionObject'
        description: A list of detected objects.
        readOnly: true
    description: DetectionOutput contains the result of an object detection task.
  v1alphaGetModelDefinitionResponse:
    type: object
    properties:
      model_definition:
        $ref: '#/definitions/v1alphaModelDefinition'
        description: The model definition resource.
    description: GetModelDefinitionResponse contains the requested model definition.
  v1alphaGetModelOperationResponse:
    type: object
    properties:
      operation:
        $ref: '#/definitions/googlelongrunningOperation'
        description: The long-running operation.
    description: |-
      GetModelOperationRequest represents a request to query a long-running
      operation.
  v1alphaGetOrganizationModelCardResponse:
    type: object
    properties:
      readme:
        $ref: '#/definitions/v1alphaModelCard'
        description: A model card resource.
    description: GetOrganizationModelCardResponse contains the model's README card.
  v1alphaGetOrganizationModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The model resource.
    description: GetOrganizationModelResponse contains the requested model.
  v1alphaGetUserModelCardResponse:
    type: object
    properties:
      readme:
        $ref: '#/definitions/v1alphaModelCard'
        description: A model card resource.
    description: GetUserModelCardResponse contains the model's README card.
  v1alphaGetUserModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The model resource.
    description: GetUserModelResponse contains the requested model.
  v1alphaImageContent:
    type: object
    properties:
      image_url:
        $ref: '#/definitions/v1alphaPromptImage'
        description: |-
          Image as URL or base64 code.

          NOTE: the `image_url` name comes from a convention from OpenAI, it doesn't
          determine the format of the image.
      detail:
        type: string
        description: Additional information.
    description: ImageContent holds an image with some details in plain text.
  v1alphaImageToImageInput:
    type: object
    properties:
      prompt_image_url:
        type: string
        description: Image URL.
      prompt_image_base64:
        type: string
        description: Base64-encoded image.
      prompt:
        type: string
        description: Input text.
      steps:
        type: integer
        format: int32
        description: Steps, defaults to 5.
      cfg_scale:
        type: number
        format: float
        title: Guidance scale, defaults to 7.5
      seed:
        type: integer
        format: int32
        description: Seed, defaults to 0.
      samples:
        type: integer
        format: int32
        description: Number of generated samples, defaults to 1.
      extra_params:
        type: object
        description: Extra parameters.
    description: ImageToImageInput represents the input of an image-to-image task.
    required:
      - prompt
  v1alphaImageToImageOutput:
    type: object
    properties:
      images:
        type: array
        items:
          type: string
        description: A list of generated images.
        readOnly: true
    description: ImageToImageOutput contains the result of an image-to-image task.
  v1alphaInstanceSegmentationInput:
    type: object
    properties:
      image_url:
        type: string
        description: Image URL.
      image_base64:
        type: string
        description: Base64-encoded image.
    description: |-
      InstanceSegmentationInput represents the input of an instance segmentation
      task.
  v1alphaInstanceSegmentationInputStream:
    type: object
    properties:
      file_lengths:
        type: array
        items:
          type: integer
          format: int64
        description: File length for each uploaded binary file.
      content:
        type: string
        format: byte
        description: Byte representation of the images.
    description: |-
      InstanceSegmentationInputStream represents the input of an instance
      segmentation task when the input is streamed as binary files.
    required:
      - file_lengths
      - content
  v1alphaInstanceSegmentationObject:
    type: object
    properties:
      rle:
        type: string
        description: RLE segmentation mask.
        readOnly: true
      category:
        type: string
        description: Category.
        readOnly: true
      score:
        type: number
        format: float
        description: Score.
        readOnly: true
      bounding_box:
        $ref: '#/definitions/v1alphaBoundingBox'
        description: Bounding box.
        readOnly: true
    description: |-
      InstanceSegmentationObject is an object in an image, localized and
      delineated.
  v1alphaInstanceSegmentationOutput:
    type: object
    properties:
      objects:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaInstanceSegmentationObject'
        description: A list of instance segmentation objects.
        readOnly: true
    description: |-
      InstanceSegmentationOutput contains the result of an instance segmentation
      task.
  v1alphaKeypoint:
    type: object
    properties:
      x:
        type: number
        format: float
        description: X coordinate.
        readOnly: true
      "y":
        type: number
        format: float
        description: Y coordinate.
        readOnly: true
      v:
        type: number
        format: float
        description: Visibility.
        readOnly: true
    description: Keypoint contains the coordinates and visibility of a keypoint in an object.
  v1alphaKeypointInput:
    type: object
    properties:
      image_url:
        type: string
        description: Image URL.
      image_base64:
        type: string
        description: Base64-encoded image.
    description: KeypointInput represents the input of a keypoint detection task.
  v1alphaKeypointInputStream:
    type: object
    properties:
      file_lengths:
        type: array
        items:
          type: integer
          format: int64
        description: File length for each uploaded binary file.
      content:
        type: string
        format: byte
        description: Byte representation of the images.
    description: |-
      KeypointInputStream represents the input of a keypoint detection task when
      the input is streamed as binary files.
    required:
      - file_lengths
      - content
  v1alphaKeypointObject:
    type: object
    properties:
      keypoints:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaKeypoint'
        description: Keypoints.
        readOnly: true
      score:
        type: number
        format: float
        description: Score.
        readOnly: true
      bounding_box:
        $ref: '#/definitions/v1alphaBoundingBox'
        description: Bounding box.
        readOnly: true
    description: |-
      KeypointObject is a detected object with its keypoints, e.g. a detected
      human shape with its legs, arms, core, etc.
  v1alphaKeypointOutput:
    type: object
    properties:
      objects:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaKeypointObject'
        description: A list of keypoint objects.
        readOnly: true
    description: KeypointOutput represents the result of a keypoint detection task.
  v1alphaListModelDefinitionsResponse:
    type: object
    properties:
      model_definitions:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaModelDefinition'
        description: A list of model definition resources.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of model definitions.
    description: ListModelDefinitionsResponse contains a list of model definitions.
  v1alphaListModelsAdminResponse:
    type: object
    properties:
      models:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaModel'
        title: a list of Models
      next_page_token:
        type: string
        title: Next page token
      total_size:
        type: integer
        format: int32
        description: Total number of models.
    title: ListModelsAdminResponse represents a response for a list of models
  v1alphaListModelsResponse:
    type: object
    properties:
      models:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaModel'
        description: A list of model resources.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of models.
    description: ListModelsResponse contains a list of models.
  v1alphaListOrganizationModelVersionsResponse:
    type: object
    properties:
      versions:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaModelVersion'
        description: A list of model resources.
      total_size:
        type: integer
        format: int32
        description: Total number of tags.
      page_size:
        type: integer
        format: int32
        description: The requested page size.
      page:
        type: integer
        format: int32
        description: The requested page offset.
    description: ListOrganizationModelVersionsResponse contains a list of models.
  v1alphaListOrganizationModelsResponse:
    type: object
    properties:
      models:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaModel'
        description: A list of model resources.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of models.
    description: ListOrganizationModelsResponse contains a list of models.
  v1alphaListUserModelVersionsResponse:
    type: object
    properties:
      versions:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaModelVersion'
        description: A list of model resources.
      total_size:
        type: integer
        format: int32
        description: Total number of tags.
      page_size:
        type: integer
        format: int32
        description: The requested page size.
      page:
        type: integer
        format: int32
        description: The requested page offset.
    description: ListUserModelVersionsResponse contains a list of models.
  v1alphaListUserModelsResponse:
    type: object
    properties:
      models:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaModel'
        description: A list of model resources.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of models.
    description: ListUserModelsResponse contains a list of models.
  v1alphaLookUpModelAdminResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        title: A model resource
    title: LookUpModelResponse represents a response for a model
  v1alphaLookUpModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The requested model.
    description: LookUpModelResponse contains the requested model.
  v1alphaMessage:
    type: object
    properties:
      role:
        type: string
        description: The Role of a message, e.g. `system`, `user`, etc. Defines the way the model answers questions.
      content:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaMessageContent'
        description: Message content.
    description: Message is used in chat history in text generation models.
  v1alphaMessageContent:
    type: object
    properties:
      type:
        type: string
        description: Content type.
      image_url:
        $ref: '#/definitions/v1alphaImageContent'
        description: |-
          Image content.

          NOTE: the `image_url` name comes from a convention from OpenAI, it doesn't
          determine the format of the image.
      text:
        type: string
        description: Text content.
    description: |-
      MessageContent is a message in a chat history message, used in text
      generation models.
  v1alphaModel:
    type: object
    properties:
      name:
        type: string
        description: |-
          The resource name of the model, which allows its access by owner and ID.
          - Format: `users/{user.id}/models/{model.id}`.
        readOnly: true
      uid:
        type: string
        description: Model UUID.
        readOnly: true
      id:
        type: string
        description: |-
          Model resource ID (used in `name` as the last segment). This conforms to
          RFC-1034, which restricts to letters, numbers, and hyphen, with the first
          character a letter, the last a letter or a number, and a 63 character
          maximum.
      description:
        type: string
        description: Model description.
      model_definition:
        type: string
        description: The model definition that has been used to import the model.
      configuration:
        type: object
        description: |-
          Model configuration. This field is validated against the model
          specification in the model definition (i.e. the `model_spec` field in the
          model definition).
      task:
        $ref: '#/definitions/v1alphaTask'
        description: Model task.
      visibility:
        $ref: '#/definitions/v1alphaModelVisibility'
        description: Model visibility.
      create_time:
        type: string
        format: date-time
        description: Model creation time.
        readOnly: true
      update_time:
        type: string
        format: date-time
        description: Model update time.
        readOnly: true
      delete_time:
        type: string
        format: date-time
        description: Model deletion time.
        readOnly: true
      owner_name:
        type: string
        description: Resource name of the owner.
        readOnly: true
      owner:
        $ref: '#/definitions/v1betaOwner'
        description: Model owner.
        readOnly: true
      region:
        type: string
        description: Region of choice for the particular provider to host the model.
      hardware:
        type: string
        description: Hardware of choice to serve the model.
      readme:
        type: string
        description: README holds the model documentation.
      source_url:
        type: string
        description: A link to the source code of the model (e.g. to a GitHub repository).
      documentation_url:
        type: string
        description: A link to any extra information.
      license:
        type: string
        description: License under which the model is distributed.
    title: |-
      Model represents an AI model, i.e. a program that performs tasks as decision
      making or or pattern recognition based on its training data
    required:
      - id
      - model_definition
      - configuration
      - task
      - visibility
      - region
      - hardware
  v1alphaModelCard:
    type: object
    properties:
      name:
        type: string
        description: |-
          The resource name of the model card, which allows its access by parent
          user and model ID.
          - Format: `users/{user.id}/models/{model.id}/readme`.
        readOnly: true
      size:
        type: integer
        format: int32
        description: Size of the file in bytes.
        readOnly: true
      type:
        type: string
        description: Type of the resource. Its value is fixed to `file`.
        readOnly: true
      content:
        type: string
        format: byte
        description: Content of the README file in bytes and base64 format.
        readOnly: true
      encoding:
        type: string
        description: Encoding type of the content. Its value is fixed to `base64`.
        readOnly: true
    description: |-
      ModelCard represents a README.md file that accompanies the model to describe
      handy information with additional model metadata. Under the hood, a model
      card is associated with a specific model. It is an crucial for
      reproducibility, sharing and discoverability.

      Each model has exactly one README card.
  v1alphaModelDefinition:
    type: object
    properties:
      name:
        type: string
        description: |-
          The resource name of the model, which allows its access by ID.
          - Format: `model-definitions/{id}`.
        readOnly: true
      uid:
        type: string
        description: Model definition UUID.
        readOnly: true
      id:
        type: string
        description: |-
          Model definition resource ID (used in `name` as the last segment). This
          conforms to RFC-1034, which restricts to letters, numbers, and hyphen,
          with the first character a letter, the last a letter or a number, and a 63
          character maximum.
        readOnly: true
      title:
        type: string
        description: Official display title.
        readOnly: true
      documentation_url:
        type: string
        description: Documentation URL.
        readOnly: true
      icon:
        type: string
        description: Display icon.
        readOnly: true
      release_stage:
        $ref: '#/definitions/v1alphaReleaseStage'
        description: Release stage.
        readOnly: true
      model_spec:
        type: object
        description: |-
          The model specification represented by a JSON schema. It is used to
          validate the JSON configurations of a model created from a specific model
          source, and the resource spec which the model is desired to be deployed on.
          It must be a valid JSON that includes what fields are needed to
          create or display a model.
        readOnly: true
      create_time:
        type: string
        format: date-time
        description: Creation time.
        readOnly: true
      update_time:
        type: string
        format: date-time
        description: Update time.
        readOnly: true
    description: ModelDefinition defines how to configure and import a model.
  v1alphaModelVersion:
    type: object
    properties:
      name:
        type: string
        description: |-
          The parent resource, i.e., the user that created the models.
          - Format: `users/{user.id}`.
          The resource name of the model, which allows its access by parent user
          and ID.
          - Format: `users/{user.id}/models/{model.id}`.
          The name of the tag.
          - Format: `users/{user.id}/models/{model.id}/versions/{version.id}`.
      id:
        type: string
        description: The tag identifier.
      digest:
        type: string
        description: Unique identifier, computed from the manifest the tag refers to.
      state:
        $ref: '#/definitions/modelv1alphaState'
        description: Current state of this model version.
        readOnly: true
      update_time:
        type: string
        format: date-time
        description: Tag update time, i.e. timestamp of the last push.
        readOnly: true
    description: ModelVersion contains information about the version of a model.
  v1alphaModelVisibility:
    type: string
    enum:
      - VISIBILITY_PRIVATE
      - VISIBILITY_PUBLIC
    description: |-
      Visibility defines who can access the model.

       - VISIBILITY_PRIVATE: Only the owner can see the model.
       - VISIBILITY_PUBLIC: Other users can see the model.
  v1alphaOcrInput:
    type: object
    properties:
      image_url:
        type: string
        description: Image URL.
      image_base64:
        type: string
        description: Base64-encoded image.
    description: OcrInput represents the input of an OCR task.
  v1alphaOcrInputStream:
    type: object
    properties:
      file_lengths:
        type: array
        items:
          type: integer
          format: int64
        description: File length for each uploaded binary file.
      content:
        type: string
        format: byte
        description: Byte representation of the images.
    description: |-
      OcrInputStream represents the input of an OCR task when the input is
      streamed as binary files.
    required:
      - file_lengths
      - content
  v1alphaOcrObject:
    type: object
    properties:
      text:
        type: string
        description: Text.
        readOnly: true
      score:
        type: number
        format: float
        description: Score.
        readOnly: true
      bounding_box:
        $ref: '#/definitions/v1alphaBoundingBox'
        description: Bounding box.
        readOnly: true
    description: |-
      OcrObject is a text object within an image. OCR stands for Optical Character
      Recognition.
  v1alphaOcrOutput:
    type: object
    properties:
      objects:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaOcrObject'
        description: A list of text objects.
        readOnly: true
    description: OcrOutput contains the result of an OCR task.
  v1alphaPromptImage:
    type: object
    properties:
      prompt_image_url:
        type: string
        description: Image URL.
      prompt_image_base64:
        type: string
        description: Base64-encoded image.
    description: PromptImage is an image input for model inference.
  v1alphaPublishOrganizationModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The published model resource.
    description: PublishOrganizationModelResponse contains a published model.
  v1alphaPublishUserModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The published model resource.
    description: PublishUserModelResponse contains a published model.
  v1alphaReleaseStage:
    type: string
    enum:
      - RELEASE_STAGE_ALPHA
      - RELEASE_STAGE_BETA
      - RELEASE_STAGE_GENERALLY_AVAILABLE
      - RELEASE_STAGE_CUSTOM
    description: |-
      ReleaseStage defines the stage of a release.

       - RELEASE_STAGE_ALPHA: Alpha.
       - RELEASE_STAGE_BETA: Beta.
       - RELEASE_STAGE_GENERALLY_AVAILABLE: Generally available.
       - RELEASE_STAGE_CUSTOM: Custom.
  v1alphaRenameOrganizationModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The renamed model resource.
    description: RenameOrganizationModelResponse contains a renamed model.
  v1alphaRenameUserModelResponse:
    type: object
    properties:
      model:
        $ref: '#/definitions/v1alphaModel'
        description: The renamed model resource.
    description: RenameUserModelResponse contains a renamed model.
  v1alphaSemanticSegmentationInput:
    type: object
    properties:
      image_url:
        type: string
        description: Image URL.
      image_base64:
        type: string
        description: Base64-encoded image.
    description: |-
      SemanticSegmentationInput represents the input of a semantic segmentation
      task.
  v1alphaSemanticSegmentationInputStream:
    type: object
    properties:
      file_lengths:
        type: array
        items:
          type: integer
          format: int64
        description: File length for each uploaded binary file.
      content:
        type: string
        format: byte
        description: Byte representation of the images.
    description: |-
      SemanticSegmentationInputStream represents the input of a semantic
      segmentation task when the input is streamed as a binary files.
    required:
      - file_lengths
      - content
  v1alphaSemanticSegmentationOutput:
    type: object
    properties:
      stuffs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaSemanticSegmentationStuff'
        description: A list of detected objects classified into categories.
        readOnly: true
    description: |-
      SemanticSegmentationOutput represents the output of a semantic segmentation
      task.
  v1alphaSemanticSegmentationStuff:
    type: object
    properties:
      rle:
        type: string
        description: RLE segmentation mask.
        readOnly: true
      category:
        type: string
        description: Category.
        readOnly: true
    description: |-
      SemanticSegmentationStuff is an object detected within an image and
      classified into a predefined category.
  v1alphaTask:
    type: string
    enum:
      - TASK_CLASSIFICATION
      - TASK_DETECTION
      - TASK_KEYPOINT
      - TASK_OCR
      - TASK_INSTANCE_SEGMENTATION
      - TASK_SEMANTIC_SEGMENTATION
      - TASK_TEXT_TO_IMAGE
      - TASK_TEXT_GENERATION
      - TASK_TEXT_GENERATION_CHAT
      - TASK_VISUAL_QUESTION_ANSWERING
      - TASK_IMAGE_TO_IMAGE
      - TASK_TEXT_EMBEDDINGS
      - TASK_SPEECH_RECOGNITION
    description: |-
      Task enumerates the AI task that a model is designed to solve.

       - TASK_CLASSIFICATION: Image Classification - classify images into predefined categories.
       - TASK_DETECTION: Object Detection - detect and localize multiple objects in images.
       - TASK_KEYPOINT: Keypoint Detection - detect and localize multiple keypoints of objects in images.
       - TASK_OCR: OCR (Optical Character Recognition) - detect and recognize text in images.
       - TASK_INSTANCE_SEGMENTATION: Instance Segmentation - detect, localize and delineate multiple objects in images.
       - TASK_SEMANTIC_SEGMENTATION: Semantic Segmentation - classify image pixels into predefined categories.
       - TASK_TEXT_TO_IMAGE: Text to Image - generate images from input text prompts.
       - TASK_TEXT_GENERATION: Text Generation - generate texts from input text prompts.
       - TASK_TEXT_GENERATION_CHAT: Conversational Text Generation - generate text as responses to a dialog input.
       - TASK_VISUAL_QUESTION_ANSWERING: Visual Question Answering - generate text as a response to a visual prompt.
       - TASK_IMAGE_TO_IMAGE: Image to Image - generate an image from another image.
       - TASK_TEXT_EMBEDDINGS: Text Embeddings - generate an embedding (a representation as coordinates) from a text input.
       - TASK_SPEECH_RECOGNITION: Speech Recognition - transcribe the words in an audio input.
  v1alphaTaskInput:
    type: object
    properties:
      classification:
        $ref: '#/definitions/v1alphaClassificationInput'
        description: Image classification input.
      detection:
        $ref: '#/definitions/v1alphaDetectionInput'
        description: Object detection input.
      keypoint:
        $ref: '#/definitions/v1alphaKeypointInput'
        description: Keypoint detection input.
      ocr:
        $ref: '#/definitions/v1alphaOcrInput'
        description: Optical Character Recognition input.
      instance_segmentation:
        $ref: '#/definitions/v1alphaInstanceSegmentationInput'
        description: Instance segmentation input.
      semantic_segmentation:
        $ref: '#/definitions/v1alphaSemanticSegmentationInput'
        description: Semantic segmentation input.
      text_to_image:
        $ref: '#/definitions/v1alphaTextToImageInput'
        description: Text to image input.
      image_to_image:
        $ref: '#/definitions/v1alphaImageToImageInput'
        description: Image to image input.
      text_generation:
        $ref: '#/definitions/v1alphaTextGenerationInput'
        description: Text generation input.
      text_generation_chat:
        $ref: '#/definitions/v1alphaTextGenerationChatInput'
        description: Conversational text generation input.
      visual_question_answering:
        $ref: '#/definitions/v1alphaVisualQuestionAnsweringInput'
        description: Visual question answering input.
      unspecified:
        $ref: '#/definitions/v1alphaUnspecifiedInput'
        description: Unspecified task input.
    description: TaskInput represents a question or task for an AI model.
  v1alphaTaskInputStream:
    type: object
    properties:
      classification:
        $ref: '#/definitions/v1alphaClassificationInputStream'
        title: The classification input
      detection:
        $ref: '#/definitions/v1alphaDetectionInputStream'
        title: The detection input
      keypoint:
        $ref: '#/definitions/v1alphaKeypointInputStream'
        title: The keypoint input
      ocr:
        $ref: '#/definitions/v1alphaOcrInputStream'
        title: The ocr input
      instance_segmentation:
        $ref: '#/definitions/v1alphaInstanceSegmentationInputStream'
        title: The instance segmentation input
      semantic_segmentation:
        $ref: '#/definitions/v1alphaSemanticSegmentationInputStream'
        title: The semantic segmentation input
      text_to_image:
        $ref: '#/definitions/v1alphaTextToImageInput'
        title: The text to image input
      image_to_image:
        $ref: '#/definitions/v1alphaImageToImageInput'
        title: The image to image input
      text_generation:
        $ref: '#/definitions/v1alphaTextGenerationInput'
        title: The text generation input
      text_generation_chat:
        $ref: '#/definitions/v1alphaTextGenerationChatInput'
        title: The text generation chat input
      visual_question_answering:
        $ref: '#/definitions/v1alphaVisualQuestionAnsweringInput'
        title: The visual question answering input
      unspecified:
        $ref: '#/definitions/v1alphaUnspecifiedInput'
        title: The unspecified task input
    title: TaskInputStream represents the input to trigger a model with stream method
  v1alphaTaskOutput:
    type: object
    properties:
      classification:
        $ref: '#/definitions/v1alphaClassificationOutput'
        description: Image classification output.
        readOnly: true
      detection:
        $ref: '#/definitions/v1alphaDetectionOutput'
        description: Object detection output.
        readOnly: true
      keypoint:
        $ref: '#/definitions/v1alphaKeypointOutput'
        description: Keypoint detection output.
        readOnly: true
      ocr:
        $ref: '#/definitions/v1alphaOcrOutput'
        description: Optical Character Recognition output.
        readOnly: true
      instance_segmentation:
        $ref: '#/definitions/v1alphaInstanceSegmentationOutput'
        description: Instance segmentation output.
        readOnly: true
      semantic_segmentation:
        $ref: '#/definitions/v1alphaSemanticSegmentationOutput'
        description: Semantic segmentation output.
        readOnly: true
      text_to_image:
        $ref: '#/definitions/v1alphaTextToImageOutput'
        description: Text to image output.
        readOnly: true
      image_to_image:
        $ref: '#/definitions/v1alphaImageToImageOutput'
        description: Image to image output.
        readOnly: true
      text_generation:
        $ref: '#/definitions/v1alphaTextGenerationOutput'
        description: Text generation output.
        readOnly: true
      text_generation_chat:
        $ref: '#/definitions/v1alphaTextGenerationChatOutput'
        description: Conversational text generation output.
        readOnly: true
      visual_question_answering:
        $ref: '#/definitions/v1alphaVisualQuestionAnsweringOutput'
        description: Visual question answering output.
        readOnly: true
      unspecified:
        $ref: '#/definitions/v1alphaUnspecifiedOutput'
        description: Unspecified task output.
        readOnly: true
[...]
