swagger: "2.0"
info:
  title: ⚗️ Model
  description: Endpoints to manage the AI model-related resources and features working with Instill VDP.
  version: v0.37.0-beta
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: Model Definition
    description: Model definition endpoints
  - name: Model
    description: Model endpoints
  - name: Version
    description: Model version endpoints
  - name: Trigger
    description: Model trigger endpoints
  - name: Region
    description: Model region endpoints
host: api.instill.tech
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1alpha/model-definitions:
    get:
      summary: List model definitions
      description: Returns a paginated list of model definitions.
      operationId: ModelPublicService_ListModelDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListModelDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of model definitions to return. If this parameter
            is unspecified, at most 10 definitions will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model Definition
  /v1alpha/available-regions:
    get:
      summary: List available regions
      description: Returns a paginated list of available regions.
      operationId: ModelPublicService_ListAvailableRegions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListAvailableRegionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - Region
  /v1alpha/model-definitions/{modelDefinitionId}:
    get:
      summary: Get a model definition
      description: Returns the details of a model definition.
      operationId: ModelPublicService_GetModelDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetModelDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: modelDefinitionId
          description: |-
            The resource name of the model definition, which allows its access by ID.
            - Format: `model-definitions/{id}`.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model Definition
  /v1alpha/models:
    get:
      summary: List models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models:
    get:
      summary: List namespace models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListNamespaceModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListNamespaceModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of a namespace. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}:
    get:
      summary: Get a model
      description: Returns the detail of a model, accessing it by the model ID and its parent namespace.
      operationId: ModelPublicService_GetNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_DeleteNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
      tags:
        - Model
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent namespace and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: model
          description: The model to update
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
            required:
              - model
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model.
      operationId: ModelPublicService_RenameNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaRenameNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceRenameNamespaceModelBody'
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/watch:
    get:
      summary: Watch the state of a model version
      description: |-
        Returns the state of a model. The model resource allocation and scaling actions take some
        time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
      tags:
        - Version
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/watch:
    get:
      summary: Watch the state of the latest model version
      description: |-
        Returns the state of the latest model version. The model resource allocation and scaling actions
        take some time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
      tags:
        - Model
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions:
    get:
      summary: List namespace model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the specified namespace.
        Contains model version and digest.
      operationId: ModelPublicService_ListNamespaceModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListNamespaceModelVersionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of versions to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Version
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}:
    delete:
      summary: Delete a model version
      description: |-
        Deletes a model version, accesing it by its resource name, which is defined by the
        parent namespace and the ID of the model, and version.
      operationId: ModelPublicService_DeleteNamespaceModelVersion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteNamespaceModelVersionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
      tags:
        - Version
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerNamespaceModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/versions/{version}/trigger-async:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncNamespaceModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncNamespaceModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: version
          description: Model version
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncNamespaceModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerNamespaceLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/trigger-async:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncNamespaceLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncNamespaceLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncNamespaceLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger
  /v1alpha/namespaces/{namespaceId}/models/{modelId}/operation:
    get:
      summary: Get the details of the latest long-running operation from a namespace model
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as deployment.
      operationId: ModelPublicService_GetNamespaceLatestModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetNamespaceLatestModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: modelId
          description: Model ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired operation result in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
  /v1alpha/operations/{operationId}:
    get:
      summary: Get the details of a long-running operation
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as deployment.
      operationId: ModelPublicService_GetModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: operationId
          description: The resource name of the model, which allows its access ID.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model
  /v1alpha/{user_name}/models:
    get:
      summary: List user models
      description: |-
        Returns a paginated list of models that belong to the specified user. The
        parent user may be different from the authenticated user, in which case
        the results will contain the models that are visible to the latter.
      operationId: ModelPublicService_ListUserModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListUserModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            The parent resource, i.e., the user that created the models.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model (Deprecated)
      deprecated: true
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of a user. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            The parent resource, i.e., the user that creates the model.
            Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}:
    get:
      summary: Get a model
      description: Returns the detail of a model, accessing it by the model ID and its parent user.
      operationId: ModelPublicService_GetUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model (Deprecated)
      deprecated: true
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent user and the ID of the model.
      operationId: ModelPublicService_DeleteUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{model_name}:
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent user and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: model_name
          description: |-
            The resource name of the model, which allows its access by owner and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: model
          description: The model to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Model UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Model resource ID (used in `name` as the last segment). This conforms to
                  RFC-1034, which restricts to letters, numbers, and hyphen, with the first
                  character a letter, the last a letter or a number, and a 63 character
                  maximum.
              description:
                type: string
                description: Model description.
              modelDefinition:
                type: string
                description: The model definition that has been used to import the model.
              configuration:
                type: object
                description: |-
                  Model configuration. This field is validated against the model
                  specification in the model definition (i.e. the `model_spec` field in the
                  model definition).
              task:
                description: Model task.
                allOf:
                  - $ref: '#/definitions/v1alphaTask'
              visibility:
                description: Model visibility.
                allOf:
                  - $ref: '#/definitions/v1alphaModelVisibility'
              createTime:
                type: string
                format: date-time
                description: Model creation time.
                readOnly: true
              updateTime:
                type: string
                format: date-time
                description: Model update time.
                readOnly: true
              deleteTime:
                type: string
                format: date-time
                description: Model deletion time.
                readOnly: true
              ownerName:
                type: string
                description: Resource name of the owner.
                readOnly: true
              owner:
                description: Model owner.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1betaOwner'
              region:
                type: string
                description: Region of choice for the particular provider to host the model.
              hardware:
                type: string
                description: Hardware of choice to serve the model.
              readme:
                type: string
                description: README holds the model documentation.
              sourceUrl:
                type: string
                description: A link to the source code of the model (e.g. to a GitHub repository).
              documentationUrl:
                type: string
                description: A link to any extra information.
              license:
                type: string
                description: License under which the model is distributed.
              sampleInput:
                title: Sample input for this model
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1alphaTaskInput'
              sampleOutput:
                title: Sample output for this model
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1alphaTaskOutput'
              profileImage:
                type: string
                description: Model profile image in base64 format.
              permission:
                description: Permission defines how a pipeline can be used.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/modelv1alphaPermission'
              inputSchema:
                type: object
                title: Input schema for the model
                readOnly: true
              outputSchema:
                type: object
                title: Output schema for the model
                readOnly: true
              tags:
                type: array
                items:
                  type: string
                description: Tags.
                readOnly: true
              versions:
                type: array
                items:
                  type: string
                description: Version names.
                readOnly: true
            title: The model to update
            required:
              - id
              - modelDefinition
              - configuration
              - task
              - visibility
              - region
              - hardware
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent user and the ID of the model.
      operationId: ModelPublicService_RenameUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaRenameUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceRenameUserModelBody'
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/versions/{version}/watch:
    get:
      summary: Watch the state of a model version
      description: |-
        Returns the state of a model. The model resource allocation and scaling actions take some
        time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/watch:
    get:
      summary: Watch the state of the latest model version
      description: |-
        Returns the state of the latest model version. The model resource allocation and scaling actions
        take some time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchUserLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchUserLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/versions:
    get:
      summary: List user model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the specified user.
        Contains model version and digest.
      operationId: ModelPublicService_ListUserModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListUserModelVersionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The parent resource, i.e., the user that created the models.
            - Format: `users/{user.id}`.
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: pageSize
          description: |-
            The maximum number of versions to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/versions/{version}:
    delete:
      summary: Delete a model version
      description: |-
        Deletes a model version, accesing it by its resource name, which is defined by the
        parent user and the ID of the model, and version.
      operationId: ModelPublicService_DeleteUserModelVersion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteUserModelVersionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/versions/{version}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model , which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerUserModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/versions/{version}/triggerAsync:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncUserModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncUserModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model , which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncUserModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerUserLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerUserLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model , which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerUserLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/triggerAsync:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncUserLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncUserLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model , which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncUserLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{organization_name}/models:
    get:
      summary: List organization models
      description: |-
        Returns a paginated list of models that belong to the specified organization. The
        parent organization may be different from the authenticated organization, in which case
        the results will contain the models that are visible to the latter.
      operationId: ModelPublicService_ListOrganizationModels
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListOrganizationModelsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            The parent resource, i.e., the organization that created the models.
            - Format: `organizations/{organizations.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: pageSize
          description: |-
            The maximum number of models to return. If this parameter is unspecified,
            at most 10 models will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: showDeleted
          description: Include soft-deleted models in the result.
          in: query
          required: false
          type: boolean
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the owner can see the model.
             - VISIBILITY_PUBLIC: Other users can see the model.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Model (Deprecated)
      deprecated: true
    post:
      summary: Create a new model
      description: |-
        Creates a new model under the parenthood of an organization. This is an
        asynchronous endpoint, i.e., the server will not wait for the model to be
        created in order to respond. Instead, it will return a response with the
        necessary information to access the result and status of the creation
        operation.
      operationId: ModelPublicService_CreateOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaCreateOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            The parent resource, i.e., the organization that creates the model.
            Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: model
          description: The properties of the model to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1alphaModel'
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}:
    get:
      summary: Get a model
      description: Returns the detail of a model, accessing it by the model ID and its parent organization.
      operationId: ModelPublicService_GetOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired model view in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Model (Deprecated)
      deprecated: true
    delete:
      summary: Delete a model
      description: |-
        Deletes a model, accesing it by its resource name, which is defined by the
        parent organization and the ID of the model.
      operationId: ModelPublicService_DeleteOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{model_name_1}:
    patch:
      summary: Update a model
      description: |-
        Updates a model, accessing it by its resource name, which is defined by
        the parent organization and the ID of the model.

        In REST requests, only the supplied model fields will be taken into
        account when updating the resource.
      operationId: ModelPublicService_UpdateOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaUpdateOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: model_name_1
          description: |-
            The resource name of the model, which allows its access by owner and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: model
          description: The model to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Model UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Model resource ID (used in `name` as the last segment). This conforms to
                  RFC-1034, which restricts to letters, numbers, and hyphen, with the first
                  character a letter, the last a letter or a number, and a 63 character
                  maximum.
              description:
                type: string
                description: Model description.
              modelDefinition:
                type: string
                description: The model definition that has been used to import the model.
              configuration:
                type: object
                description: |-
                  Model configuration. This field is validated against the model
                  specification in the model definition (i.e. the `model_spec` field in the
                  model definition).
              task:
                description: Model task.
                allOf:
                  - $ref: '#/definitions/v1alphaTask'
              visibility:
                description: Model visibility.
                allOf:
                  - $ref: '#/definitions/v1alphaModelVisibility'
              createTime:
                type: string
                format: date-time
                description: Model creation time.
                readOnly: true
              updateTime:
                type: string
                format: date-time
                description: Model update time.
                readOnly: true
              deleteTime:
                type: string
                format: date-time
                description: Model deletion time.
                readOnly: true
              ownerName:
                type: string
                description: Resource name of the owner.
                readOnly: true
              owner:
                description: Model owner.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1betaOwner'
              region:
                type: string
                description: Region of choice for the particular provider to host the model.
              hardware:
                type: string
                description: Hardware of choice to serve the model.
              readme:
                type: string
                description: README holds the model documentation.
              sourceUrl:
                type: string
                description: A link to the source code of the model (e.g. to a GitHub repository).
              documentationUrl:
                type: string
                description: A link to any extra information.
              license:
                type: string
                description: License under which the model is distributed.
              sampleInput:
                title: Sample input for this model
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1alphaTaskInput'
              sampleOutput:
                title: Sample output for this model
                readOnly: true
                allOf:
                  - $ref: '#/definitions/v1alphaTaskOutput'
              profileImage:
                type: string
                description: Model profile image in base64 format.
              permission:
                description: Permission defines how a pipeline can be used.
                readOnly: true
                allOf:
                  - $ref: '#/definitions/modelv1alphaPermission'
              inputSchema:
                type: object
                title: Input schema for the model
                readOnly: true
              outputSchema:
                type: object
                title: Output schema for the model
                readOnly: true
              tags:
                type: array
                items:
                  type: string
                description: Tags.
                readOnly: true
              versions:
                type: array
                items:
                  type: string
                description: Version names.
                readOnly: true
            title: The model to update
            required:
              - id
              - modelDefinition
              - configuration
              - task
              - visibility
              - region
              - hardware
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/rename:
    post:
      summary: Rename a model
      description: |-
        Renames a model, accesing it by its resource name, which is defined by the
        parent organization and the ID of the model.
      operationId: ModelPublicService_RenameOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaRenameOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceRenameOrganizationModelBody'
      tags:
        - Model (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/versions/{version}/watch:
    get:
      summary: Watch the state of a model version
      description: |-
        Returns the state of a model.  The model resource allocation and scaling actions
        take some time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/watch:
    get:
      summary: Watch the state of the latest model version
      description: |-
        Returns the state of the latest model version.  The model resource allocation and scaling actions
        take some time, during which a model will be in various state. This endpoint
        allows clients to track the state.
      operationId: ModelPublicService_WatchOrganizationLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaWatchOrganizationLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/versions:
    get:
      summary: List organization model versions
      description: |-
        Returns a paginated list of version of a model namespace that belong to the specified organization.
        Contains model version and digest.
      operationId: ModelPublicService_ListOrganizationModelVersions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaListOrganizationModelVersionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The parent resource, i.e., the user that created the models.
            - Format: `organizations/{organization.id}`.
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: pageSize
          description: |-
            The maximum number of versions to return. The default and cap values are 10
            and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/versions/{version}:
    delete:
      summary: Delete a model version
      description: |-
        Deletes a model version, accesing it by its resource name, which is defined by the
        parent organization and the ID of the model, and version.
      operationId: ModelPublicService_DeleteOrganizationModelVersion
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaDeleteOrganizationModelVersionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The parent resource, i.e., the user that created the models.
            - Format: `organizations/{organization.id}`.
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
      tags:
        - Version (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/versions/{version}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model , which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerOrganizationModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/versions/{version}/triggerAsync:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers a deployed model to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncOrganizationModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncOrganizationModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model , which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: version
          description: Model version
          in: path
          required: true
          type: string
          pattern: '[^/]+'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncOrganizationModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/trigger:
    post:
      summary: Trigger model inference
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerOrganizationLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerOrganizationLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model , which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerOrganizationLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/triggerAsync:
    post:
      summary: Trigger model inference asynchronously
      description: |-
        Triggers the latest deployed model version to infer the result of a set of task or
        questions.
      operationId: ModelPublicService_TriggerAsyncOrganizationLatestModel
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaTriggerAsyncOrganizationLatestModelResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model , which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModelPublicServiceTriggerAsyncOrganizationLatestModelBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{user_model_name}/operation:
    get:
      summary: Get the details of the latest long-running operation from a user model
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as deployment.
      operationId: ModelPublicService_GetUserLatestModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetUserLatestModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_model_name
          description: |-
            The resource name of the model, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired operation result in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Trigger (Deprecated)
      deprecated: true
  /v1alpha/{organization_model_name}/operation:
    get:
      summary: Get the details of the latest long-running operation from a organization model
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations in a model, such as deployment.
      operationId: ModelPublicService_GetOrganizationLatestModelOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alphaGetOrganizationLatestModelOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_model_name
          description: |-
            The resource name of the model, which allows its access by parent organization
            and ID.
            - Format: `organizations/{organization.id}/models/{model.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/models/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired operation result in the response.

             - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Trigger (Deprecated)
      deprecated: true
definitions:
  ModelPublicServiceRenameNamespaceModelBody:
    type: object
    properties:
      newModelId:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `namespaces/{namespace.id}/models/{new_model_id}`.
    title: RenameNamespaceModelRequest represents a request to rename a model
    required:
      - newModelId
  ModelPublicServiceRenameOrganizationModelBody:
    type: object
    properties:
      newModelId:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `organizations/{organization.id}/models/{new_model_id}`.
    title: RenameOrganizationModelRequest represents a request to rename a model
    required:
      - newModelId
  ModelPublicServiceRenameUserModelBody:
    type: object
    properties:
      newModelId:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `users/{user.id}/models/{new_model_id}`.
    title: RenameUserModelRequest represents a request to rename a model
    required:
      - newModelId
  ModelPublicServiceTriggerAsyncNamespaceLatestModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: |-
      TriggerAsyncNamespaceLatestModelRequest represents a request to trigger a model inference
      asynchronously with the latest uploaded version.
    required:
      - taskInputs
  ModelPublicServiceTriggerAsyncNamespaceModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: |-
      TriggerAsyncNamespaceModelRequest represents a request to trigger a model inference
      asynchronously.
    required:
      - taskInputs
  ModelPublicServiceTriggerAsyncOrganizationLatestModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    title: |-
      TriggerAsyncOrganizationLatestModelRequest represents a request to trigger a model inference
      asynchronously
    required:
      - taskInputs
  ModelPublicServiceTriggerAsyncOrganizationModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    title: |-
      TriggerAsyncOrganizationModelRequest represents a request to trigger a model inference
      asynchronously
    required:
      - taskInputs
  ModelPublicServiceTriggerAsyncUserLatestModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: |-
      TriggerAsyncUserLatestModelRequest represents a request to trigger a model inference
      asynchronously with the latest uploaded version.
    required:
      - taskInputs
  ModelPublicServiceTriggerAsyncUserModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: |-
      TriggerAsyncUserModelRequest represents a request to trigger a model inference
      asynchronously.
    required:
      - taskInputs
  ModelPublicServiceTriggerNamespaceLatestModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: |-
      TriggerNamespaceLatestModelRequest represents a request to trigger a model inference
      with the latest uploaded version.
    required:
      - taskInputs
  ModelPublicServiceTriggerNamespaceModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: TriggerNamespaceModelRequest represents a request to trigger a model inference.
    required:
      - taskInputs
  ModelPublicServiceTriggerOrganizationLatestModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: TriggerOrganizationLatestModelRequest represents a request to trigger a model inference.
    required:
      - taskInputs
  ModelPublicServiceTriggerOrganizationModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: TriggerOrganizationModelRequest represents a request to trigger a model inference.
    required:
      - taskInputs
  ModelPublicServiceTriggerUserLatestModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: |-
      TriggerUserLatestModelRequest represents a request to trigger a model inference
      with the latest uploaded version.
    required:
      - taskInputs
  ModelPublicServiceTriggerUserModelBody:
    type: object
    properties:
      taskInputs:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1alphaTaskInput'
        description: Inference input parameters.
    description: TriggerUserModelRequest represents a request to trigger a model inference.
    required:
      - taskInputs
  googlelongrunningOperation:
    type: object
    properties:
      name:
        type: string
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should be a resource name ending with `operations/{unique_id}`.
      metadata:
        description: |-
          Service-specific metadata associated with the operation.  It typically
          contains progress information and common metadata such as create time.
          Some services might not provide such metadata.  Any method that returns a
          long-running operation should document the metadata type, if any.
        allOf:
          - $ref: '#/definitions/protobufAny'
      done:
        type: boolean
        description: |-
          If the value is `false`, it means the operation is still in progress.
          If `true`, the operation is completed, and either `error` or `response` is
          available.
      error:
        description: The error result of the operation in case of failure or cancellation.
        allOf:
          - $ref: '#/definitions/googlerpcStatus'
      response:
        description: |-
          The normal response of the operation in case of success.  If the original
          method returns no data on success, such as `Delete`, the response is
          `google.protobuf.Empty`.  If the original method is standard
          `Get`/`Create`/`Update`, the response should be the resource.  For other
          methods, the response should have the type `XxxResponse`, where `Xxx`
          is the original method name.  For example, if the original method name
          is `TakeSnapshot()`, the inferred response type is
          `TakeSnapshotResponse`.
        allOf:
          - $ref: '#/definitions/protobufAny'
    description: |-
      This resource represents a long-running operation that is the result of a
      network API call.
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: |-
          The status code, which should be an enum value of
          [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          [google.rpc.Status.details][google.rpc.Status.details] field, or localized
          by the client.
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
        description: |-
          A list of messages that carry the error details.  There is a common set of
          message types for APIs to use.
    description: |-
      The `Status` type defines a logical error model that is suitable for
      different programming environments, including REST APIs and RPC APIs. It is
      used by [gRPC](https://github.com/grpc). Each `Status` message contains
      three pieces of data: error code, error message, and error details.

      You can find out more about this error model and how to work with it in the
      [API Design Guide](https://cloud.google.com/apis/design/errors).
  mgmtv1betaPermission:
    type: object
    properties:
      canEdit:
        type: boolean
        description: Defines whether the resource can be modified.
        readOnly: true
    description: Permission defines how a resource can be used.
  modelv1alphaPermission:
    type: object
    properties:
      canEdit:
        type: boolean
        description: Defines whether the pipeline can be modified.
      canTrigger:
        type: boolean
        description: Defines whether the pipeline can be executed.
    description: Permission defines how a pipeline can be used.
  modelv1alphaState:
    type: string
    enum:
      - STATE_OFFLINE
      - STATE_SCALING
      - STATE_ACTIVE
      - STATE_IDLE
      - STATE_ERROR
      - STATE_STARTING
    description: |-
      State describes the state of a model. See [Deploy
      Models](https://www.instill.tech/docs/latest/model/deploy) for more
      information.

       - STATE_OFFLINE: Offline is the state when the model instance number is 0.
       - STATE_SCALING: Scaling is the transition state when a model instance is scaling up or down.
       - STATE_ACTIVE: Active is the state when a model is processing requests.
       - STATE_IDLE: Idle is the state when a model is alive but not processing requests.
       - STATE_ERROR: Error is the state when the model is undeployable.
       - STATE_STARTING: Starting is the state when the system is provisioning the necessary
      resources for the model
  modelv1alphaView:
    type: string
    enum:
      - VIEW_BASIC
      - VIEW_FULL
    description: |-
      View defines how a model definition is presented.

       - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).
       - VIEW_FULL: Full representation.
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: |-
          A URL/resource name that uniquely identifies the type of the serialized
          protocol buffer message. This string must contain at least
          one "/" character. The last segment of the URL's path must represent
          the fully qualified name of the type (as in
          `path/google.protobuf.Duration`). The name should be in a canonical form
          (e.g., leading "." is not accepted).

          In practice, teams usually precompile into the binary all types that they
          expect it to use in the context of Any. However, for URLs which use the
          scheme `http`, `https`, or no scheme, one can optionally set up a type
          server that maps type URLs to message definitions as follows:

          * If no scheme is provided, `https` is assumed.
          * An HTTP GET on the URL must yield a [google.protobuf.Type][]
            value in binary format, or produce an error.
          * Applications are allowed to cache lookup results based on the
[...]
