swagger: "2.0"
info:
  title: "\U0001F52E Core"
  description: Core endpoints to manage user resources
  version: v0.9.0-beta
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: MgmtPublicService
    description: Public Core endpoints
host: api.instill.tech
basePath: /core
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1beta/{membership.name_1}:
    put:
      summary: Uppdate an organization membership
      description: Updates a user membership within an organization.
      operationId: MgmtPublicService_UpdateOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: membership.name_1
          description: |-
            The resource name of the membership, which allows its access by
            organization and user ID.
            - Format: `organizations/{organization.id}/memberships/{user.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/memberships/[^/]+
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            type: object
            properties:
              role:
                type: string
                description: Role of the user in the organization.
              state:
                $ref: '#/definitions/v1betaMembershipState'
                description: State of the membership.
                readOnly: true
              user:
                $ref: '#/definitions/v1betaUser'
                description: User information.
                readOnly: true
              organization:
                $ref: '#/definitions/v1betaOrganization'
                description: Organization information.
                readOnly: true
            title: The membership fields to update.
            required:
              - role
        - name: update_mask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - MgmtPublicService
  /v1beta/{membership.name}:
    put:
      summary: Update a user membership
      description: Accesses and updates a user membership by parent and membership IDs.
      operationId: MgmtPublicService_UpdateUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: membership.name
          description: |-
            The resource name of the membership, which allows its access by user and
            organization ID.
            - Format: `users/{user.id}/memberships/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/memberships/[^/]+
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            type: object
            properties:
              role:
                type: string
                description: Role of the user in the organization.
                readOnly: true
              state:
                $ref: '#/definitions/v1betaMembershipState'
                description: State of the membership.
              user:
                $ref: '#/definitions/v1betaUser'
                description: User information.
                readOnly: true
              organization:
                $ref: '#/definitions/v1betaOrganization'
                description: Organization information.
                readOnly: true
            title: The membership fields to update.
            required:
              - state
        - name: update_mask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - MgmtPublicService
  /v1beta/{organization.name}:
    get:
      summary: Get an organization
      description: Returns the organization details by its ID.
      operationId: MgmtPublicService_GetOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The resource name of the organization, which allows its access by ID.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - MgmtPublicService
    delete:
      summary: Delete an organization
      description: Accesses and deletes an organization by ID.
      operationId: MgmtPublicService_DeleteOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The resource name of the organization, which allows its access by ID.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
      tags:
        - MgmtPublicService
    patch:
      summary: Update an organization
      description: |-
        Accesses and updates an organization by ID.

        In REST requests, only the supplied organization fields will be taken into
        account when updating the resource.
      operationId: MgmtPublicService_UpdateOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The name of the organization, defined by its ID.
            - Format: `organization/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: organization
          description: The organization fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Organization UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Resource ID (used in `name` as the last segment). This conforms to
                  RFC-1034, which restricts to letters, numbers, and hyphen, with the first
                  character a letter, the last a letter or a number, and a 63 character
                  maximum.

                  Note that the ID can be updated.
              create_time:
                type: string
                format: date-time
                description: Creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Update time.
                readOnly: true
              org_name:
                type: string
                description: Company or institution name.
              customer_id:
                type: string
                description: Stripe customer ID. This field is used in Instill Cloud.
                readOnly: true
              profile_avatar:
                type: string
                description: Profile Avatar in base64.
              profile_data:
                type: object
                description: Profile Data.
              owner:
                $ref: '#/definitions/v1betaUser'
                description: The user that owns the organization.
                readOnly: true
            title: The organization fields that will replace the existing ones.
            required:
              - id
      tags:
        - MgmtPublicService
  /v1beta/{organization.name}/memberships:
    get:
      summary: List organization memberships
      description: Returns a paginated list of the user memberships in an organization.
      operationId: MgmtPublicService_ListOrganizationMemberships
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationMembershipsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization to which the memberships
            belong.
            Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{organization.name}/subscription:
    get:
      summary: Get an organization subscription
      description: Returns the subscription details of an organization.
      operationId: MgmtPublicService_GetOrganizationSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationSubscriptionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization to which the subscription
            refers.
            Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{organization_membership.name}:
    get:
      summary: Get a an organization membership
      description: Returns the details of a user membership within an organization.
      operationId: MgmtPublicService_GetOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_membership.name
          description: |-
            The resource name of the membership, which allows its access by
            organization and user ID.
            - Format: `organizations/{organization.id}/memberships/{user.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/memberships/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - MgmtPublicService
    delete:
      summary: Delete an organization membership
      description: Deletes a user membership within an organization.
      operationId: MgmtPublicService_DeleteOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_membership.name
          description: |-
            The resource name of the membership, which allows its access by
            organization and user ID.
            - Format: `organizations/{organization.id}/memberships/{user.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/memberships/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{token.name}:
    get:
      summary: Get an API token
      description: Returns the details of an API token.
      operationId: MgmtPublicService_GetToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: token.name
          description: |-
            The resource name of the token, which allows its access by ID.
            - Format: `tokens/{token.id}`.
          in: path
          required: true
          type: string
          pattern: tokens/[^/]+
      tags:
        - MgmtPublicService
    delete:
      summary: Delete an API token
      description: Deletes an API token.
      operationId: MgmtPublicService_DeleteToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: token.name
          description: |-
            The resource name of the token, which allows its access by ID.
            - Format: `tokens/{token.id}`.
          in: path
          required: true
          type: string
          pattern: tokens/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{user.name}:
    get:
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: MgmtPublicService_GetUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user.name
          description: |-
            The resource name of the user, which allows its access by ID.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - MgmtPublicService
  /v1beta/{user.name}/memberships:
    get:
      summary: List user memberships
      description: Returns the memberships of a user.
      operationId: MgmtPublicService_ListUserMemberships
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListUserMembershipsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user.name
          description: |-
            The parent resource, i.e., the user to which the memberships belong.
            Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{user.name}/subscription:
    get:
      summary: Get a user subscription
      description: Returns the subscription details of a user.
      operationId: MgmtPublicService_GetUserSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserSubscriptionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user.name
          description: |-
            The parent resource, i.e., the user to which the subscription refers.
            Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{user_membership.name}:
    get:
      summary: Get a user membership
      description: |-
        Returns the details of the relationship between a user and an
        organization. The authenticated must match the membership parent.
      operationId: MgmtPublicService_GetUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_membership.name
          description: |-
            The resource name of the membership, which allows its access by user and
            organization ID.
            - Format: `users/{user.id}/memberships/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/memberships/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - MgmtPublicService
    delete:
      summary: Delete a user membership
      description: Accesses and deletes a user membership by parent and membership IDs.
      operationId: MgmtPublicService_DeleteUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_membership.name
          description: |-
            The resource name of the membership, which allows its access by user and
            organization ID.
            - Format: `users/{user.id}/memberships/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/memberships/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/check-namespace:
    post:
      summary: Check if a namespace is in use
      description: |-
        Returns the availability of a namespace or, alternatively, the type of
        resource that is using it.
      operationId: MgmtPublicService_CheckNamespace
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCheckNamespaceResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          description: |-
            CheckNamespaceRequest represents a request to verify if a namespace is
            available.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaCheckNamespaceRequest'
      tags:
        - MgmtPublicService
  /v1beta/metrics/vdp/connector/charts:
    get:
      summary: List connector execution computation time charts
      description: |-
        Returns a paginated list with connector execution times, aggregated by
        connector and time frames.
      operationId: MgmtPublicService_ListConnectorExecuteChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListConnectorExecuteChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: aggregation_window
          description: Aggregation window in nanoseconds.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
  /v1beta/metrics/vdp/connector/executes:
    get:
      summary: List connector executions
      description: Returns a paginated list of connector executions.
      operationId: MgmtPublicService_ListConnectorExecuteRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListConnectorExecuteRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of executions to return. If this parameter is
            unspecified, at most 100 pipelines will be returned. The cap value for
            this parameter is 1000 (i.e. any value above that will be coerced to
            1000).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
  /v1beta/metrics/vdp/connector/tables:
    get:
      summary: List connector execution metrics
      description: Returns a paginated list of connector executions aggregated by connector.
      operationId: MgmtPublicService_ListConnectorExecuteTableRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListConnectorExecuteTableRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of results to return. If this parameter is unspecified,
            at most 100 pipelines will be returned. The cap value for this parameter
            is 1000 (i.e. any value above that will be coerced to 1000).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
  /v1beta/metrics/vdp/pipeline/charts:
    get:
      summary: List pipeline trigger computation time charts
      description: |-
        Returns a paginated list with pipeline trigger execution times, aggregated
        by pipeline and time frames.
      operationId: MgmtPublicService_ListPipelineTriggerChartRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListPipelineTriggerChartRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: aggregation_window
          description: Aggregation window in nanoseconds.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
  /v1beta/metrics/vdp/pipeline/tables:
    get:
      summary: List pipeline trigger metrics
      description: Returns a paginated list of pipeline executions aggregated by pipeline ID.
      operationId: MgmtPublicService_ListPipelineTriggerTableRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListPipelineTriggerTableRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of results to return. If this parameter is unspecified,
            at most 100 pipelines will be returned. The cap value for this parameter
            is 1000 (i.e. any value above that will be coerced to 1000).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
  /v1beta/metrics/vdp/pipeline/triggers:
    get:
      summary: List pipeline triggers
      description: Returns a paginated list of pipeline executions.
      operationId: MgmtPublicService_ListPipelineTriggerRecords
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListPipelineTriggerRecordsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of triggers to return. If this parameter is unspecified,
            at most 100 pipelines will be returned. The cap value for this parameter is
            1000 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
  /v1beta/organizations:
    get:
      summary: List organizations
      description: Returns a paginated list of organizations.
      operationId: MgmtPublicService_ListOrganizations
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of organizations to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
    post:
      summary: Create an organization
      description: Creates an organization.
      operationId: MgmtPublicService_CreateOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization
          description: The properties of the organization to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaOrganization'
      tags:
        - MgmtPublicService
  /v1beta/tokens:
    get:
      summary: List API tokens
      description: Returns a paginated list of the API tokens of the authenticated user.
      operationId: MgmtPublicService_ListTokens
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListTokensResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of tokens to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
    post:
      summary: Create an API token
      description: Creates an API token for the authenticated user.
      operationId: MgmtPublicService_CreateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: token
          description: The properties of the token to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaApiToken'
      tags:
        - MgmtPublicService
  /v1beta/users:
    get:
      summary: List users
      description: Returns a paginated list of users.
      operationId: MgmtPublicService_ListUsers
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListUsersResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of users to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
      tags:
        - MgmtPublicService
  /v1beta/users/me:
    patch:
      summary: Update a user
      description: |-
        Accesses and updates a user by ID. The authenticated user must match the
        target in order to modify it.

        In REST requests, only the supplied user fields will be taken into account
        when updating the resource.
      operationId: MgmtPublicService_PatchAuthenticatedUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaPatchAuthenticatedUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user
          description: The user fields that will replace the existing ones.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaUser'
      tags:
        - MgmtPublicService
  /v1beta/validate_token:
    post:
      summary: Validate an API token.
      description: Validates an API token.
      operationId: MgmtPublicService_ValidateToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaValidateTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
        - MgmtPublicService
definitions:
  ApiTokenState:
    type: string
    enum:
      - STATE_INACTIVE
      - STATE_ACTIVE
      - STATE_EXPIRED
    description: |-
      State describes the state of an API token.

       - STATE_UNSPECIFIED: Unspecified.
       - STATE_INACTIVE: Inactive.
       - STATE_ACTIVE: Active.
       - STATE_EXPIRED: Expired.
  CheckNamespaceResponseNamespace:
    type: string
    enum:
      - NAMESPACE_AVAILABLE
      - NAMESPACE_USER
      - NAMESPACE_ORGANIZATION
      - NAMESPACE_RESERVED
    description: |-
      Namespace contains information about the availability of a namespace.

       - NAMESPACE_UNSPECIFIED: Unspecified.
       - NAMESPACE_AVAILABLE: Available.
       - NAMESPACE_USER: Namespace belongs to a user.
       - NAMESPACE_ORGANIZATION: Namespace belongs to an organization.
       - NAMESPACE_RESERVED: Reserved.
  HealthCheckResponseServingStatus:
    type: string
    enum:
      - SERVING_STATUS_SERVING
      - SERVING_STATUS_NOT_SERVING
    description: |-
      - SERVING_STATUS_UNSPECIFIED: Serving status: UNSPECIFIED
       - SERVING_STATUS_SERVING: Serving status: SERVING
       - SERVING_STATUS_NOT_SERVING: Serving status: NOT SERVING
    title: ServingStatus enumerates the status of a queried service
  SessionService:
    type: string
    enum:
      - SERVICE_MGMT
      - SERVICE_CONNECTOR
      - SERVICE_MODEL
      - SERVICE_PIPELINE
    description: |-
      - SERVICE_UNSPECIFIED: Service: UNSPECIFIED
       - SERVICE_MGMT: Service: MGMT
       - SERVICE_CONNECTOR: Service: CONNECTOR
       - SERVICE_MODEL: Service: MODEL
       - SERVICE_PIPELINE: Service: PIPELINE
    title: Service enumerates the services to collect data from
  UserUsageDataConnectorExecuteData:
    type: object
    properties:
      connector_uid:
        type: string
        title: UID for the executed connector
      execute_uid:
        type: string
        title: UID for the execute log
      execute_time:
        type: string
        format: date-time
        title: Timestamp for the execution
      connector_definition_uid:
        type: string
        title: Definition UID of the connector
      status:
        $ref: '#/definitions/mgmtv1betaStatus'
        title: Final status of the execution
      user_uid:
        type: string
        title: UUID of the user who execute the connector
      user_type:
        $ref: '#/definitions/v1betaOwnerType'
        title: Type of the user who execute the connector
    title: Per execute usage metadata
    required:
      - connector_uid
      - execute_uid
      - execute_time
      - connector_definition_uid
      - status
      - user_uid
      - user_type
  UserUsageDataModelTriggerData:
    type: object
    properties:
      model_uid:
        type: string
        title: UID for the trigged model
      trigger_uid:
        type: string
        title: UID for the trigger log
      trigger_time:
        type: string
        format: date-time
        title: Timestamp for the trigger
      model_definition_uid:
        type: string
        title: Definition UID of the model
      model_task:
        $ref: '#/definitions/v1alphaTask'
        title: Task of the model
      status:
        $ref: '#/definitions/mgmtv1betaStatus'
        title: Final status of the execution
      user_uid:
        type: string
        title: UUID of the user who trigger the model
      user_type:
        $ref: '#/definitions/v1betaOwnerType'
        title: Type of the user who trigger the model
    title: Per trigger usage metadata
    required:
      - model_uid
      - trigger_uid
      - trigger_time
      - model_definition_uid
      - model_task
      - status
      - user_uid
      - user_type
  UserUsageDataPipelineTriggerData:
    type: object
    properties:
      pipeline_uid:
        type: string
        title: UID for the triggered pipeline
      trigger_uid:
        type: string
        title: UID for the trigger log
      trigger_time:
        type: string
        format: date-time
        title: Timestamp for the trigger
      trigger_mode:
        $ref: '#/definitions/v1betaMode'
        title: Trigger mode
      status:
        $ref: '#/definitions/mgmtv1betaStatus'
        title: Final status of the execution
      pipeline_release_id:
        type: string
        title: Version for the triggered release pipeline, empty string if not release
      pipeline_release_uid:
        type: string
        title: UID for the triggered release pipeline, empty string if not release
      user_uid:
        type: string
        title: UUID of the user who trigger the pipeline
      user_type:
        $ref: '#/definitions/v1betaOwnerType'
        title: Type of the user who trigger the pipeline
    title: Per trigger usage metadata
    required:
      - pipeline_uid
      - trigger_uid
      - trigger_time
      - trigger_mode
      - status
      - pipeline_release_id
      - pipeline_release_uid
      - user_uid
      - user_type
  coreusagev1betaLivenessResponse:
    type: object
    properties:
      health_check_response:
        $ref: '#/definitions/v1betaHealthCheckResponse'
        title: HealthCheckResponse message
    title: LivenessResponse represents a response for a service liveness status
  coreusagev1betaReadinessResponse:
    type: object
    properties:
      health_check_response:
        $ref: '#/definitions/v1betaHealthCheckResponse'
        title: HealthCheckResponse message
    title: ReadinessResponse represents a response for a service readiness status
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  mgmtv1betaStatus:
    type: string
    enum:
      - STATUS_COMPLETED
      - STATUS_ERRORED
    description: |-
      Status describes the output of an execution.

       - STATUS_UNSPECIFIED: Unspecified.
       - STATUS_COMPLETED: Successfully completed.
       - STATUS_ERRORED: Finished with error.
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  protobufNullValue:
    type: string
    description: |-
      `NullValue` is a singleton enumeration to represent the null value for the
      `Value` type union.

      The JSON representation for `NullValue` is JSON `null`.

       - NULL_VALUE: Null value.
  v1alphaTask:
    type: string
    enum:
      - TASK_CLASSIFICATION
      - TASK_DETECTION
      - TASK_KEYPOINT
      - TASK_OCR
      - TASK_INSTANCE_SEGMENTATION
      - TASK_SEMANTIC_SEGMENTATION
      - TASK_TEXT_TO_IMAGE
      - TASK_TEXT_GENERATION
      - TASK_TEXT_GENERATION_CHAT
      - TASK_VISUAL_QUESTION_ANSWERING
      - TASK_IMAGE_TO_IMAGE
      - TASK_TEXT_EMBEDDINGS
      - TASK_SPEECH_RECOGNITION
    description: |-
      - TASK_UNSPECIFIED: Task: UNSPECIFIED
       - TASK_CLASSIFICATION: Task: CLASSIFICATION
       - TASK_DETECTION: Task: DETECTION
       - TASK_KEYPOINT: Task: KEYPOINT
       - TASK_OCR: Task: OCR
       - TASK_INSTANCE_SEGMENTATION: Task: INSTANCE SEGMENTATION
       - TASK_SEMANTIC_SEGMENTATION: Task: SEMANTIC SEGMENTATION
       - TASK_TEXT_TO_IMAGE: Task: TEXT TO IMAGE
       - TASK_TEXT_GENERATION: Task: TEXT GENERATION
       - TASK_TEXT_GENERATION_CHAT: Task: TEXT GENERATION CHAT
       - TASK_VISUAL_QUESTION_ANSWERING: Task: VISUAL QUESTION ANSWERING
       - TASK_IMAGE_TO_IMAGE: Task: IMAGE TO IMAGE
       - TASK_TEXT_EMBEDDINGS: Task: TEXT EMBEDDINGS
       - TASK_SPEECH_RECOGNITION: Task: SPEECH RECOGNITION
    title: Task enumerates the AI task type
  v1betaApiToken:
    type: object
    properties:
      name:
        type: string
        description: |-
          The name of the token, define by its ID.
          - Format: `tokens/{token.id}`.
        readOnly: true
      uid:
        type: string
        description: API token UUID.
        readOnly: true
      id:
        type: string
        description: |-
          API token resource ID (used in `name` as the last segment). This conforms
          to RFC-1034, which restricts to letters, numbers, and hyphen, with the
          first character a letter, the last a letter or a number, and a 63
          character maximum.

          This field can reflect the client(s) that will use the token.
      create_time:
        type: string
        format: date-time
        description: Creation time.
        readOnly: true
      update_time:
        type: string
        format: date-time
        description: Update time.
        readOnly: true
      access_token:
        type: string
        description: |-
          An opaque access token representing the API token string.

          To validate the token, the recipient of the token needs to call the server
          that issued the token.
        readOnly: true
      state:
        $ref: '#/definitions/ApiTokenState'
        description: State.
        readOnly: true
      token_type:
        type: string
        description: Token type. Value is fixed to "Bearer".
        readOnly: true
      ttl:
        type: integer
        format: int32
        description: The time-to-live in seconds for this resource.
      expire_time:
        type: string
        format: date-time
        description: Expiration time.
    description: API tokens allow users to make requests to the Instill AI API.
  v1betaCheckNamespaceRequest:
    type: object
    properties:
      id:
        type: string
        description: The namespace ID to be checked.
    description: |-
      CheckNamespaceRequest represents a request to verify if a namespace is
      available.
    required:
      - id
  v1betaCheckNamespaceResponse:
    type: object
    properties:
      type:
        $ref: '#/definitions/CheckNamespaceResponseNamespace'
        description: Namespace type.
    description: |-
      CheckNamespaceResponse contains the availability of a namespace or the type
      of resource that's using it.
  v1betaConnectorExecuteChartRecord:
    type: object
    properties:
      connector_id:
        type: string
        description: Connector ID.
      connector_uid:
        type: string
        description: Connector UUID.
      status:
        $ref: '#/definitions/mgmtv1betaStatus'
        description: Final status.
        readOnly: true
      time_buckets:
        type: array
        items:
          type: string
          format: date-time
        description: Time buckets.
        readOnly: true
      execute_counts:
        type: array
        items:
          type: integer
          format: int32
        description: Aggregated execution count in each time bucket.
        readOnly: true
      compute_time_duration:
        type: array
        items:
          type: number
          format: float
        description: Total computation time duration in each time bucket.
        readOnly: true
    description: |-
      ConnectorExecuteChartRecord contains connector execution metrics,
      agggregated by connector ID and time frame.
  v1betaConnectorExecuteRecord:
    type: object
    properties:
      execute_time:
        type: string
        format: date-time
        description: The moment when the connector was executed.
      connector_execute_id:
        type: string
        description: UUID of the execution.
      connector_id:
        type: string
        description: Connector ID.
      connector_uid:
        type: string
        description: Connector UUID.
      connector_definition_uid:
        type: string
        description: Connector definition UUID.
      pipeline_id:
        type: string
        description: Pipeline ID.
      pipeline_uid:
        type: string
        description: Pipeline UUID.
      pipeline_trigger_id:
        type: string
        description: UUID of the pipeline trigger.
      compute_time_duration:
        type: number
        format: float
        description: Total execution time.
        readOnly: true
      status:
        $ref: '#/definitions/mgmtv1betaStatus'
        description: Final status for the connector execution.
        readOnly: true
    description: ConnectorExecuteRecord represents a connector execution event.
  v1betaConnectorExecuteTableRecord:
    type: object
    properties:
      connector_id:
        type: string
        description: Connector ID.
      connector_uid:
        type: string
        description: Connector UUID.
      execute_count_completed:
        type: integer
        format: int32
        description: Number of executions with `STATUS_COMPLETED`.
        readOnly: true
      execute_count_errored:
        type: integer
        format: int32
        description: Number of executions with `STATUS_ERRORED`.
        readOnly: true
    description: ConnectorExecuteTableRecord contains connector execution metrics, a aggregated by connector ID.
  v1betaConnectorUsageData:
    type: object
    properties:
      usages:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaConnectorUsageDataUserUsageData'
        title: Usage data of all users in the connector service
    title: Connector service usage data
  v1betaConnectorUsageDataUserUsageData:
    type: object
    properties:
      owner_uid:
        type: string
        title: Owner UUID
      connector_execute_data:
        type: array
        items:
          type: object
          $ref: '#/definitions/UserUsageDataConnectorExecuteData'
        title: Execution data for each user
      owner_type:
        $ref: '#/definitions/v1betaOwnerType'
        title: Owner type
    title: Per user usage data in the connector service
    required:
      - owner_uid
      - connector_execute_data
      - owner_type
  v1betaCreateOrganizationResponse:
    type: object
    properties:
      organization:
        $ref: '#/definitions/v1betaOrganization'
        description: The organization resource.
    description: CreateOrganizationResponse contains the created organization.
  v1betaCreateSessionResponse:
    type: object
    properties:
      session:
        $ref: '#/definitions/v1betaSession'
        title: A session resource
    title: CreateSessionResponse represents a response for a session response
  v1betaCreateTokenResponse:
    type: object
    properties:
      token:
        $ref: '#/definitions/v1betaApiToken'
        description: The created API token resource.
    description: CreateTokenResponse contains the created token.
  v1betaDeleteOrganizationMembershipResponse:
    type: object
    description: DeleteOrganizationMembershipResponse is an empty response.
  v1betaDeleteOrganizationResponse:
    type: object
    description: DeleteOrganizationResponse is an empty response.
  v1betaDeleteTokenResponse:
    type: object
    description: DeleteTokenResponse is an empty response.
  v1betaDeleteUserMembershipResponse:
    type: object
    description: DeleteUserMembershipResponse is an empty response.
  v1betaGetBulkCumulativeModelOnlineRecordsResponse:
    type: object
    properties:
      bulk_cumulative_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetCumulativeModelOnlineRecordsResponse'
        title: A list of cumulative model online record lists
    title: |-
      GetBulkCumulativeModelOnlineRecordsResponse represents a response to
      GetBulkCumulativeModelOnlineRecordsRequest
    required:
      - bulk_cumulative_records
  v1betaGetBulkCumulativePipelineTriggerRecordsResponse:
    type: object
    properties:
      bulk_cumulative_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetCumulativePipelineTriggerRecordsResponse'
        title: A list of cumulative pipeline trigger record lists
    title: |-
      GetBulkCumulativePipelineTriggerRecordsResponse represents a response to
      GetBulkCumulativePipelineTriggerRecordsRequest
    required:
      - bulk_cumulative_records
  v1betaGetBulkModelOnlinePriceResponse:
    type: object
    properties:
      bulk_prices:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetModelOnlinePriceResponse'
        title: A list of model online price lists
    title: |-
      GetBulkModelOnlinePriceResponse represents a response to
      GetBulkModelOnlinePriceRequest
    required:
      - bulk_prices
  v1betaGetBulkModelOnlineRecordsResponse:
    type: object
    properties:
      bulk_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetModelOnlineRecordsResponse'
        title: A list of model online record lists
    title: |-
      GetBulkModelOnlineRecordsResponse represents a response to
      GetBulkModelOnlineRecordsRequest
    required:
      - bulk_records
  v1betaGetBulkModelOnlineSummaryResponse:
    type: object
    properties:
      bulk_summaries:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetModelOnlineSummaryResponse'
        title: A list of model online usage summaries
    title: |-
      GetBulkModelOnlineSummaryResponse represents a response to
      GetBulkModelOnlineSummaryRequest
    required:
      - bulk_summaries
  v1betaGetBulkPipelineTriggerPriceResponse:
    type: object
    properties:
      bulk_prices:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetPipelineTriggerPriceResponse'
        title: A list of pipeline trigger price lists
    title: |-
      GetBulkPipelineTriggerPriceResponse represents a response to
      GetBulkPipelineTriggerPriceRequest
    required:
      - bulk_prices
  v1betaGetBulkPipelineTriggerRecordsResponse:
    type: object
    properties:
      bulk_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetPipelineTriggerRecordsResponse'
        title: A list of pipeline trigger record lists
    title: |-
      GetBulkPipelineTriggerRecordsResponse represents a response to
      GetBulkPipelineTriggerRecordsRequest
    required:
      - bulk_records
  v1betaGetBulkPipelineTriggerSummariesResponse:
    type: object
    properties:
      bulk_summaries:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaGetPipelineTriggerSummaryResponse'
        title: A list of pipeline trigger usage summaries
    title: |-
      GetBulkPipelineTriggerSummariesResponse represents a response to
      GetBulkPipelineTriggerSummariesRequest
    required:
      - bulk_summaries
  v1betaGetCumulativeModelOnlineRecordsRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      model:
        $ref: '#/definitions/v1betaModelData'
        title: Model information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: |-
      GetCumulativeModelOnlineRecordsRequest represents a query for cumulative
      model online records
    required:
      - user
      - model
      - time_interval
  v1betaGetCumulativeModelOnlineRecordsResponse:
    type: object
    properties:
      cumulative_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaModelUsageRecord'
        title: A list of model online records in cumulative format
    title: |-
      GetCumulativeModelOnlineRecordsResponse represents a response to
      GetCumulativeModelOnlineRecordsRequest
    required:
      - cumulative_records
  v1betaGetCumulativePipelineTriggerRecordsRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      pipeline:
        $ref: '#/definitions/v1betaPipelineData'
        title: Pipeline information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: |-
      GetCumulativePipelineTriggerRecordsRequest represents a query for cumulative
      pipeline trigger records
    required:
      - user
      - pipeline
  v1betaGetCumulativePipelineTriggerRecordsResponse:
    type: object
    properties:
      cumulative_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPipelineUsageRecord'
        title: Pipeline trigger records where values are in cumulative formats
    title: |-
      GetCumulativePipelineTriggerRecordsResponse represents a response to
      GetCumulativePipelineTriggerRecordsRequest
    required:
      - cumulative_records
  v1betaGetModelOnlinePriceRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      model:
        $ref: '#/definitions/v1betaModelData'
        title: Pipeline information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: |-
      GetPipelineTriggerPriceRequest represents a query for price data of the
      billing periods covered by the time interval
    required:
      - user
      - model
      - time_interval
  v1betaGetModelOnlinePriceResponse:
    type: object
    properties:
      price:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPriceData'
        title: |-
          A list of model online prices given the billing periods covered by the time
          interval
    title: |-
      GetModelOnlinePriceResponse represents a response to
      GetModelOnlinePriceRequest
    required:
      - price
  v1betaGetModelOnlineRecordsRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      model:
        $ref: '#/definitions/v1betaModelData'
        title: Model information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: GetModelOnlineRecordsRequest represent a query for model online records
    required:
      - user
      - model
      - time_interval
  v1betaGetModelOnlineRecordsResponse:
    type: object
    properties:
      records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaModelUsageRecord'
        title: A list of model trigger records
    title: |-
      GetModelOnlineRecordsResponse represents a response to
      GetModelOnlineRecordsRequest
    required:
      - records
  v1betaGetModelOnlineSummaryRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      model:
        $ref: '#/definitions/v1betaModelData'
        title: Pipeline information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: GetModelOnlineSummaryRequest represents a query for model online summary
    required:
      - user
      - model
      - time_interval
  v1betaGetModelOnlineSummaryResponse:
    type: object
    properties:
      summary:
        $ref: '#/definitions/v1betaUsageSummary'
        title: The total model online usage in the time interval
    title: |-
      GetModelOnlineSummaryResponse represents a response to
      GetModelOnlineSummaryRequest
    required:
      - summary
  v1betaGetModelsResponse:
    type: object
    properties:
      models:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaModelData'
        title: A list of model informations
    title: GetPipelinesResponse represents a respond to GetModelsRequest
    required:
      - models
  v1betaGetOrganizationAdminResponse:
    type: object
    properties:
      organization:
        $ref: '#/definitions/v1betaOrganization'
        title: A organization resource
    title: GetOrganizationAdminResponse represents a response for a organization resource
  v1betaGetOrganizationMembershipResponse:
    type: object
    properties:
      membership:
        $ref: '#/definitions/v1betaOrganizationMembership'
        description: The requested organization membership.
    description: GetOrganizationMembershipResponse contains the organization membership.
  v1betaGetOrganizationResponse:
    type: object
    properties:
      organization:
        $ref: '#/definitions/v1betaOrganization'
        description: The organization resource.
    description: GetOrganizationResponse contains the requested organization.
  v1betaGetOrganizationSubscriptionAdminResponse:
    type: object
    properties:
      subscription:
        $ref: '#/definitions/v1betaSubscription'
        title: Subscription
    title: GetOrganizationSubscriptionAdminResponse
  v1betaGetOrganizationSubscriptionResponse:
    type: object
    properties:
      subscription:
        $ref: '#/definitions/v1betaSubscription'
        description: The subscription resource.
    description: GetOrganizationSubscriptionResponse contains the requested subscription.
  v1betaGetPipelineTriggerPriceRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      pipeline:
        $ref: '#/definitions/v1betaPipelineData'
        title: Pipeline information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: |-
      GetPipelineTriggerPriceRequest represents a query for pipeline trigger prices
      given the billing periods covered by the time interval
    required:
      - user
      - pipeline
      - time_interval
  v1betaGetPipelineTriggerPriceResponse:
    type: object
    properties:
      price:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPriceData'
        title: |-
          A list of pipeline trigger prices given the billing periods covered by the
          time interval
    title: |-
      GetPipelineTriggerPriceResponse represents a response to
      GetPipelineTriggerPriceRequest
    required:
      - price
  v1betaGetPipelineTriggerRecordsRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      pipeline:
        $ref: '#/definitions/v1betaPipelineData'
        title: Pipeline information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: |-
      GetPipelineTriggerRecordsRequest represents a query for pipeline trigger
      records
    required:
      - user
      - pipeline
  v1betaGetPipelineTriggerRecordsResponse:
    type: object
    properties:
      records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPipelineUsageRecord'
        title: A list of pipeline trigger records
    title: |-
      GetPipelineTriggerRecordsResponse represents a response to
      GetPipelineTriggerRecordsRequest
    required:
      - records
  v1betaGetPipelineTriggerSummaryRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      pipeline:
        $ref: '#/definitions/v1betaPipelineData'
        title: Pipeline information
      time_interval:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time interval
    title: |-
      GetPipelineTriggerSummaryRequest represents a query for pipeline trigger
      summary
    required:
      - user
      - pipeline
  v1betaGetPipelineTriggerSummaryResponse:
    type: object
    properties:
      summaries:
        $ref: '#/definitions/v1betaUsageSummary'
        title: The total pipeline trigger usage in the time interval
    title: |-
      GetPipelineTriggerSummaryResponse represents a response to
      GetPipelineTriggerSummaryRequest
    required:
      - summaries
  v1betaGetPipelinesResponse:
    type: object
    properties:
      pipelines:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPipelineData'
        title: A list of pipeline informations
    title: GetPipelinesResponse represents a respond to GetPipelineRequest
    required:
      - pipelines
  v1betaGetTokenResponse:
    type: object
    properties:
      token:
        $ref: '#/definitions/v1betaApiToken'
        description: The API token resource.
    description: GetTokenResponse contains the requested token.
  v1betaGetUserAdminResponse:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUser'
        title: A user resource
    title: GetUserAdminResponse represents a response for a user resource
  v1betaGetUserMembershipResponse:
    type: object
    properties:
      membership:
        $ref: '#/definitions/v1betaUserMembership'
        description: The requested user membership.
    description: GetUserMembershipResponse contains the user membership.
  v1betaGetUserResponse:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUser'
        description: The user resource.
    description: GetUserResponse contains the requested user.
  v1betaGetUserSubscriptionAdminResponse:
    type: object
    properties:
      subscription:
        $ref: '#/definitions/v1betaSubscription'
        title: Subscription
    title: GetUserSubscriptionAdminResponse
  v1betaGetUserSubscriptionResponse:
    type: object
    properties:
      subscription:
        $ref: '#/definitions/v1betaSubscription'
        description: The subscription resource.
    description: GetUserSubscriptionResponse contains the requested subscription.
  v1betaHealthCheckRequest:
    type: object
    properties:
      service:
        type: string
        title: Service name to check for its readiness status
    title: HealthCheckRequest represents a request to health check a service
  v1betaHealthCheckResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/HealthCheckResponseServingStatus'
        title: Status is the instance of the enum type ServingStatus
    title: HealthCheckResponse represents a response for a service heath status
  v1betaListConnectorExecuteChartRecordsResponse:
    type: object
    properties:
      connector_execute_chart_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaConnectorExecuteChartRecord'
        description: A list of connector execution records.
    description: |-
      ListConnectorExecuteChartRecordsResponse contains a list of connector
      execution chart records.
  v1betaListConnectorExecuteRecordsResponse:
    type: object
    properties:
      connector_execute_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaConnectorExecuteRecord'
        title: A list of connector execute records
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        title: Total count of connector execute records
    title: |-
      ListConnectorExecuteRecordsResponse represents a response for a list
      of connector execute record
  v1betaListConnectorExecuteTableRecordsResponse:
    type: object
    properties:
      connector_execute_table_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaConnectorExecuteTableRecord'
        description: A list of connector execution records.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of connector execution records.
    description: ListConnectorExecuteTableRecordsResponse contains the connector metrics.
  v1betaListOrganizationMembershipsResponse:
    type: object
    properties:
      memberships:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaOrganizationMembership'
        description: |-
          The organization memberships, i.e., the users that belong to the
          organization.
    description: ListOrganizationMembershipsResponse contains a list of memberships.
  v1betaListOrganizationsAdminResponse:
    type: object
    properties:
      organizations:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaOrganization'
        title: A list of organizations
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of organizations.
    title: ListOrganizationsAdminResponse represents a response for a list of organizations
  v1betaListOrganizationsResponse:
    type: object
    properties:
      organizations:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaOrganization'
        title: A list of organizations
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of organizations.
    title: ListOrganizationsResponse represents a response for a list of organizations
  v1betaListPipelineTriggerChartRecordsResponse:
    type: object
    properties:
      pipeline_trigger_chart_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPipelineTriggerChartRecord'
        description: A list of pipeline trigger records.
    description: |-
      ListPipelineTriggerChartRecordsResponse contains a list of pipeline trigger
      chart records.
  v1betaListPipelineTriggerRecordsResponse:
    type: object
    properties:
      pipeline_trigger_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPipelineTriggerRecord'
        description: A list of pipeline triggers.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of pipeline triggers.
    description: ListPipelineTriggerRecordsResponse contains a list of pipeline triggers.
  v1betaListPipelineTriggerTableRecordsResponse:
    type: object
    properties:
      pipeline_trigger_table_records:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPipelineTriggerTableRecord'
        description: A list of pipeline trigger tables.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        title: Total number of pipeline trigger records
    description: ListPipelineTriggerTableRecordsResponse contains the pipeline metrics.
  v1betaListTokensResponse:
    type: object
    properties:
      tokens:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaApiToken'
        description: A list of API token resources.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of API token resources.
    description: ListTokensResponse contains a list of API tokens.
  v1betaListUserMembershipsResponse:
    type: object
    properties:
      memberships:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaUserMembership'
        description: The user memberships, i.e., the organizations the user belongs to.
    description: ListUserMembershipsResponse contains a list of memberships.
  v1betaListUsersAdminResponse:
    type: object
    properties:
      users:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaUser'
        title: A list of users
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of users.
    title: ListUsersAdminResponse represents a response for a list of users
  v1betaListUsersResponse:
    type: object
    properties:
      users:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaUser'
        description: A list of user resources.
      next_page_token:
        type: string
        description: Next page token.
      total_size:
        type: integer
        format: int32
        description: Total number of users.
    description: ListUsersResponse contains a list of users.
  v1betaLookUpOrganizationAdminResponse:
    type: object
    properties:
      organization:
        $ref: '#/definitions/v1betaOrganization'
        title: A organization resource
    title: LookUpOrganizationAdminResponse represents a response for a organization resource by admin
  v1betaLookUpUserAdminResponse:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUser'
        title: A user resource
    title: LookUpUserAdminResponse represents a response for a user resource by admin
  v1betaMembershipState:
    type: string
    enum:
      - MEMBERSHIP_STATE_ACTIVE
      - MEMBERSHIP_STATE_PENDING
    description: |-
      MembershipState describes the state of a user membership to an organization.

       - MEMBERSHIP_STATE_UNSPECIFIED: Unspecified.
       - MEMBERSHIP_STATE_ACTIVE: Active.
       - MEMBERSHIP_STATE_PENDING: Pending, i.e., a request has been sent to the user to join an
      organization.
  v1betaMgmtUsageData:
    type: object
    properties:
      usages:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaUser'
        title: Repeated user usage data
    title: Management service usage data
  v1betaMode:
    type: string
    enum:
      - MODE_SYNC
      - MODE_ASYNC
    description: |-
      Mode describes the execution mode of the pipeline (sync or async).

       - MODE_UNSPECIFIED: Unspecified.
       - MODE_SYNC: Synchronous (result is returned in the response).
       - MODE_ASYNC: Asynchronous (response only contains acknowledgement).
  v1betaModelData:
    type: object
    properties:
      uid:
        type: string
        title: Model unique id that is auto generated
      id:
        type: string
        title: Model id that is given by the users
      instance_id:
        type: string
        title: The id of the model instance that is deployed
      task:
        type: string
        title: The AI task supported by this model
    title: Pipeline records definition
    required:
      - uid
      - id
      - instance_id
      - task
  v1betaModelUsageData:
    type: object
    properties:
      usages:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaModelUsageDataUserUsageData'
        title: Usage data of all users in the model service
    title: Model service usage data
  v1betaModelUsageDataUserUsageData:
    type: object
    properties:
      owner_uid:
        type: string
        title: Owner UUID
      model_trigger_data:
        type: array
        items:
          type: object
          $ref: '#/definitions/UserUsageDataModelTriggerData'
        title: Trigger data for each user
      owner_type:
        $ref: '#/definitions/v1betaOwnerType'
        title: Owner type
    title: Per user usage data in the model service
    required:
      - owner_uid
      - model_trigger_data
      - owner_type
  v1betaModelUsageRecord:
    type: object
    properties:
      deploy_time:
        type: string
        format: date-time
        title: Time when the model is ONLINE
      record_time:
        type: string
        format: date-time
        title: Time when model online usage is recorded
      value:
        type: integer
        format: int32
        title: |-
          The model online usage record that is logged in cumulative manner. This
          value records the cumulative usage since model is online in the current
          billing period
    title: Model online usage record definition
    required:
      - deploy_time
      - record_time
      - value
  v1betaNullMessage:
    type: object
    title: Nul Message for gRPC REQ/RES
  v1betaOrganization:
    type: object
    properties:
      name:
        type: string
        description: |-
          The name of the organization, defined by its ID.
          - Format: `organization/{organization.id}`.
        readOnly: true
      uid:
        type: string
        description: Organization UUID.
        readOnly: true
      id:
        type: string
        description: |-
          Resource ID (used in `name` as the last segment). This conforms to
          RFC-1034, which restricts to letters, numbers, and hyphen, with the first
          character a letter, the last a letter or a number, and a 63 character
          maximum.

          Note that the ID can be updated.
      create_time:
        type: string
        format: date-time
        description: Creation time.
        readOnly: true
      update_time:
        type: string
        format: date-time
        description: Update time.
        readOnly: true
      org_name:
        type: string
        description: Company or institution name.
      customer_id:
        type: string
        description: Stripe customer ID. This field is used in Instill Cloud.
        readOnly: true
      profile_avatar:
        type: string
        description: Profile Avatar in base64.
      profile_data:
        type: object
        description: Profile Data.
      owner:
        $ref: '#/definitions/v1betaUser'
        description: The user that owns the organization.
        readOnly: true
    description: |-
      Organizations group several users. As entities, they can own resources such
      as pipelines or releases.
    required:
      - id
  v1betaOrganizationMembership:
    type: object
    properties:
      name:
        type: string
        description: |-
          The resource name of the membership, which allows its access by
          organization and user ID.
          - Format: `organizations/{organization.id}/memberships/{user.id}`.
        readOnly: true
      role:
        type: string
        description: Role of the user in the organization.
      state:
        $ref: '#/definitions/v1betaMembershipState'
        description: State of the membership.
        readOnly: true
      user:
        $ref: '#/definitions/v1betaUser'
        description: User information.
        readOnly: true
      organization:
        $ref: '#/definitions/v1betaOrganization'
        description: Organization information.
        readOnly: true
    description: |-
      An organization membership defines the relationship between an organization
      and a user that is attached to it.
    required:
      - role
  v1betaOwnerType:
    type: string
    enum:
      - OWNER_TYPE_USER
      - OWNER_TYPE_ORGANIZATION
    description: |-
      - OWNER_TYPE_UNSPECIFIED: OwnerType: UNSPECIFIED
       - OWNER_TYPE_USER: OwnerType: USER
       - OWNER_TYPE_ORGANIZATION: OwnerType: ORGANIZATION
    title: OwnerType enumerates the owner type of any resource
  v1betaPatchAuthenticatedUserResponse:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUser'
        description: The updated user resource.
    title: |-
      PatchAuthenticatedUserResponse contains the updated user.
      the authenticated user resource
  v1betaPipelineData:
    type: object
    properties:
      uid:
        type: string
        title: Pipeline unique id that is auto generated
      id:
        type: string
        title: Pipeline id assigned by users
      task:
        type: string
        title: Pipeline task indicate the AI task this pipeline supports
    title: Pipeline records definition
    required:
      - uid
      - id
      - task
  v1betaPipelineTriggerChartRecord:
    type: object
    properties:
      pipeline_id:
        type: string
        description: Pipeline ID.
      pipeline_uid:
        type: string
        description: Pipeline UUID.
      trigger_mode:
        $ref: '#/definitions/v1betaMode'
        description: Trigger mode.
      status:
        $ref: '#/definitions/mgmtv1betaStatus'
        description: Final status.
        readOnly: true
      time_buckets:
        type: array
        items:
          type: string
          format: date-time
        description: Time buckets.
        readOnly: true
      trigger_counts:
        type: array
        items:
          type: integer
          format: int32
        description: Aggregated trigger count in each time bucket.
        readOnly: true
      compute_time_duration:
        type: array
        items:
          type: number
          format: float
        description: Total computation time duration in each time bucket.
        readOnly: true
      pipeline_release_id:
        type: string
        description: Version for the triggered pipeline if it is a release pipeline.
        readOnly: true
      pipeline_release_uid:
        type: string
        description: Release UUID for the triggered pipeline if it is a release pipeline.
        readOnly: true
    description: |-
      PipelineTriggerChartRecord contains pipeline trigger metrics, aggregated by
      pipeline ID and time frame.
  v1betaPipelineTriggerRecord:
    type: object
    properties:
      trigger_time:
        type: string
        format: date-time
        description: The moment when the pipeline was triggered.
      pipeline_trigger_id:
        type: string
        description: UUID of the trigger.
      pipeline_id:
        type: string
        description: Pipeline ID.
      pipeline_uid:
        type: string
        description: Pipeline UUID.
      trigger_mode:
        $ref: '#/definitions/v1betaMode'
        description: Trigger mode.
      compute_time_duration:
        type: number
        format: float
        description: Total execution duration.
        readOnly: true
      status:
        $ref: '#/definitions/mgmtv1betaStatus'
        description: Final status.
        readOnly: true
      pipeline_release_id:
        type: string
        description: If a release of the pipeline was triggered, pipeline version.
        readOnly: true
      pipeline_release_uid:
        type: string
        description: If a release of the pipeline was triggered, release UUID.
        readOnly: true
    description: PipelineTriggerRecord represents a pipeline execution event.
  v1betaPipelineTriggerTableRecord:
    type: object
    properties:
      pipeline_id:
        type: string
        description: Pipeline ID.
      pipeline_uid:
        type: string
        description: Pipeline UUID.
      trigger_count_completed:
        type: integer
        format: int32
        description: Number of triggers with `STATUS_COMPLETED`.
        readOnly: true
      trigger_count_errored:
        type: integer
        format: int32
        description: Number of triggers with `STATUS_ERRORED`.
        readOnly: true
      pipeline_release_id:
        type: string
        description: Version for the triggered pipeline if it is a release pipeline.
        readOnly: true
      pipeline_release_uid:
        type: string
        description: Release UUID for the triggered pipeline if it is a release pipeline.
        readOnly: true
    description: |-
      PipelineTriggerTableRecord contains pipeline trigger metrics, aggregated by
      pipeline ID.
  v1betaPipelineUsageData:
    type: object
    properties:
      usages:
        type: array
        items:
          type: object
          $ref: '#/definitions/v1betaPipelineUsageDataUserUsageData'
        title: Usage data of all users in the pipeline service
    title: Pipeline service usage data
  v1betaPipelineUsageDataUserUsageData:
    type: object
    properties:
      owner_uid:
        type: string
        title: Owner UUID
      pipeline_trigger_data:
        type: array
        items:
          type: object
          $ref: '#/definitions/UserUsageDataPipelineTriggerData'
        title: Trigger data for each user
      owner_type:
        $ref: '#/definitions/v1betaOwnerType'
        title: Owner type
    title: Per user usage data in the pipeline service
    required:
      - owner_uid
      - pipeline_trigger_data
      - owner_type
  v1betaPipelineUsageRecord:
    type: object
    properties:
      request_id:
        type: string
        description: A unique request id given by vdp when trigger the pipeline.
      operation_id:
        type: string
        title: A unique operation id given by vdp
      status:
        type: string
        title: The HTTP status received when user trigger the pipeline
      trigger_time:
        type: string
        format: date-time
        title: Time when the pipeline is triggered
      record_time:
        type: string
        format: date-time
        title: Time when the pipeline trigger usage is recorded
      value:
        type: integer
        format: int32
        title: |-
          The pipeline trigger usage record. The unit of the usage should be
          consistent with Stripe
    title: Pipeline trigger usage record definition
    required:
      - request_id
      - operation_id
      - status
      - trigger_time
      - record_time
      - value
  v1betaPriceData:
    type: object
    properties:
      time:
        $ref: '#/definitions/v1betaTimeInterval'
        title: Time when the price record is generated
      currency:
        type: string
        title: The currency of the price
        readOnly: true
      amount:
        type: number
        format: float
        title: The price of the query usage in the current billing period
        readOnly: true
    title: Pricing information
    required:
      - time
  v1betaReportModelOnlineRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      model:
        $ref: '#/definitions/v1betaModelData'
        title: Model information
      cum_usage_record:
        $ref: '#/definitions/v1betaModelUsageRecord'
        title: Model online record
    title: |-
      ReportModelOnlineRequest represents a request for reporting a model-online
      record
    required:
      - user
      - model
      - cum_usage_record
  v1betaReportModelOnlineResponse:
    type: object
    properties:
      "null":
        $ref: '#/definitions/v1betaNullMessage'
        title: Null message for empty response
    title: |-
      ReportModelOnlineResponse represents a respond to a model-online-record
      report request
  v1betaReportModelOnlinesResponse:
    type: object
    properties:
      "null":
        $ref: '#/definitions/v1betaNullMessage'
        title: Null message for empty response
    title: |-
      ReportModelOnlinesResponse represents a respond to a model-online-records
      reporting bulk request
  v1betaReportPipelineTriggerRequest:
    type: object
    properties:
      user:
        $ref: '#/definitions/v1betaUserData'
        title: User information
      pipeline:
        $ref: '#/definitions/v1betaPipelineData'
        title: Pipeline information
      usage_record:
        $ref: '#/definitions/v1betaPipelineUsageRecord'
        title: Pipeline trigger record
    title: |-
      ReportPipelineTriggerRequest represents a request for reporting a
      pipeline-trigger record
    required:
      - user
      - pipeline
      - usage_record
  v1betaReportPipelineTriggerResponse:
    type: object
    properties:
      "null":
        $ref: '#/definitions/v1betaNullMessage'
        title: Null message for empty response
    title: |-
      ReportPipelineTriggerResponse represents a respond to a
      pipeline-trigger-record report request
  v1betaReportPipelineTriggersResponse:
    type: object
    properties:
      "null":
        $ref: '#/definitions/v1betaNullMessage'
        title: Null message for empty response
    title: |-
      ReportPipelineTriggersResponse represents a respond to a
      pipeline-trigger-records reporting bulk request
  v1betaSendSessionReportResponse:
    type: object
    title: SendReportResponse represents an empty response
  v1betaSession:
    type: object
    properties:
      name:
        type: string
        title: Resource name in the format of 'sessions/uid'
        readOnly: true
      uid:
        type: string
        title: Resource UUID
        readOnly: true
      service:
        $ref: '#/definitions/SessionService'
        title: name of the service to collect data from
      edition:
        type: string
        title: 'Session edition, allowed values include: ''local-ce'' and ''local-ce:dev'''
      version:
        type: string
        title: Version of the service
      arch:
        type: string
        title: Architecture of the system
      os:
        type: string
        title: Operating system
      uptime:
        type: string
        format: int64
        title: Session service uptime
      report_time:
        type: string
        format: date-time
        title: Report time
      token:
        type: string
        description: |-
          Token to send report. The token is generated by the server and sent to
          the client. Client needs to use the token to send report to the server.
        readOnly: true
      create_time:
        type: string
        format: date-time
        title: Session creation time
        readOnly: true
      update_time:
        type: string
        format: date-time
        title: Session update time
        readOnly: true
      owner_uid:
        type: string
        title: Owner UUID of the instance, can also be considered as instance UUID
    title: |-
      Session represents a unique session whenever a new instance of VDP service
      gets started. The usage server returns a token that should be used as part of
      the challenge when sending a report with data collected from this session
    required:
      - service
      - edition
      - version
      - arch
      - os
      - uptime
      - report_time
      - owner_uid
  v1betaSessionReport:
    type: object
    properties:
      session_uid:
        type: string
        title: Session uid
      token:
        type: string
        title: Session token
      pow:
        type: string
        title: Proof-of-work See https://en.wikipedia.org/wiki/Proof_of_work
      session:
        $ref: '#/definitions/v1betaSession'
        title: Session
      mgmt_usage_data:
        $ref: '#/definitions/v1betaMgmtUsageData'
        title: Management service usage data
      connector_usage_data:
        $ref: '#/definitions/v1betaConnectorUsageData'
        title: Connector service usage data
      model_usage_data:
        $ref: '#/definitions/v1betaModelUsageData'
        title: Model service usage data
      pipeline_usage_data:
        $ref: '#/definitions/v1betaPipelineUsageData'
        title: Pipeline service usage data
    title: |-
      SessionReport represents a report to be sent to the server that includes the
      usage data of a session
    required:
      - session_uid
      - token
      - pow
      - session
  v1betaSubscription:
    type: object
    properties:
      plan:
        type: string
        description: Plan identifier, e.g. `freemium`.
    description: Subscription details describe the plan (i.e. the features) a user has access to.
  v1betaTimeInterval:
    type: object
    properties:
      start_time:
        type: string
        format: date-time
        title: Start time of the interval
      end_time:
        type: string
        format: date-time
        title: End time of the interval
    title: Time interval
    required:
      - start_time
      - end_time
  v1betaUpdateOrganizationMembershipResponse:
    type: object
    properties:
      membership:
        $ref: '#/definitions/v1betaOrganizationMembership'
        description: The updated membership resource.
    description: UpdateOrganizationMembershipResponse contains the updated membership.
  v1betaUpdateOrganizationResponse:
    type: object
    properties:
      organization:
        $ref: '#/definitions/v1betaOrganization'
        description: The organization resource.
    description: UpdateOrganizationResponse contains the updated organization.
  v1betaUpdateUserMembershipResponse:
    type: object
    properties:
      membership:
        $ref: '#/definitions/v1betaUserMembership'
        description: The updated membership resource.
    description: UpdateUserMembershipResponse contains the updated membership.
  v1betaUsageSummary:
    type: object
    properties:
      time:
        type: string
        format: date-time
        title: Time when the summary is generated
      value:
        type: integer
        format: int32
        title: The total usage since the beginning of the current billing period
    title: Usage summary definition
    required:
      - time
      - value
  v1betaUser:
    type: object
    properties:
      name:
        type: string
        description: |-
          The name of the user, defined by its ID.
          - Format: `users/{user.id}`.
        readOnly: true
      uid:
        type: string
        description: |-
          User UUID. This field is optionally set by users on creation (it will be
          server-generated if unspecified).
      id:
        type: string
        description: |-
          Resource ID (used in `name` as the last segment). This conforms to
          RFC-1034, which restricts to letters, numbers, and hyphen, with the first
          character a letter, the last a letter or a number, and a 63 character
          maximum.

          Note that the ID can be updated.
      create_time:
        type: string
        format: date-time
        description: Creation time.
        readOnly: true
      update_time:
        type: string
        format: date-time
        description: Update time.
        readOnly: true
      email:
        type: string
        description: Email.
      customer_id:
        type: string
        description: Stripe customer ID. This field is used in Instill Cloud.
        readOnly: true
      first_name:
        type: string
        description: First name.
      last_name:
        type: string
        description: Last name.
      org_name:
        type: string
        description: Company or institution name.
      role:
        type: string
        description: |-
          Role.

          It must be one of the following allowed roles:
          - `manager`
          - `ai-researcher`
          - `ai-engineer`
          - `data-engineer`
          - `data-scientist`
          - `analytics-engineer`
          - `hobbyist`
      newsletter_subscription:
        type: boolean
[...]
