swagger: "2.0"
info:
  title: Instill AI API
  description: Interface definitions for the Instill AI endpoints exposed over HTTP
  version: 0.4-beta
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: MgmtPublicService
    description: "\U0001F52E Core endpoints to manage user resources. The **base path** for this server is `core/` (e.g. `GET {protocol}://{host}/core/v1beta/users`)"
    externalDocs:
      description: More about Core
      url: https://github.com/instill-ai/core
  - name: PipelinePublicService
    description: "\U0001F4A7 VDP endpoints to manage pipeline resources. The **base path** for this server is `vdp/` (e.g. `GET {protocol}://{host}/vdp/v1beta/pipelines`)"
    externalDocs:
      description: More about VDP
      url: https://github.com/instill-ai/vdp
host: api.instill.tech
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1beta/{connector.name_1}:
    patch:
      summary: Update a connector owned by an organization.
      description: |-
        Updates an organization-owned connector.

        In REST requests, only the supplied connector fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: connector.name_1
          description: |-
            The name of the connector, defined by its ID.
            - Format: `connectors/{id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
        - name: connector
          description: The connector fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Connector UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Connector resource ID (used in `name` as the last segment). This conforms
                  to RFC-1034, which restricts to letters, numbers, and hyphen, with the
                  first character a letter, the last a letter or a number, and a 63
                  character maximum.
              connector_definition_name:
                type: string
                description: Connector definition that describes the connector configuration.
              type:
                $ref: '#/definitions/v1betaConnectorType'
                description: Connector type.
                readOnly: true
              description:
                type: string
                description: Connector description.
              configuration:
                type: object
                description: Connector configuration in JSON format.
              state:
                $ref: '#/definitions/v1betaConnectorState'
                description: Connector state.
                readOnly: true
              tombstone:
                type: boolean
                description: |-
                  Connector tombstone. If true, this configuration is permanently off.
                  Otherwise, the configuration is active.
                readOnly: true
              create_time:
                type: string
                format: date-time
                description: Connector creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Connector update time.
                readOnly: true
              visibility:
                $ref: '#/definitions/v1betaConnectorVisibility'
                description: Connector visibility.
                readOnly: true
              connector_definition:
                $ref: '#/definitions/v1betaConnectorDefinition'
                description: Embed content of the ConnectorDefinition.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Connector deletion time.
                readOnly: true
              owner_name:
                type: string
                description: Owner name.
                readOnly: true
              owner:
                type: object
                description: Owner details.
                readOnly: true
            title: The connector fields that will replace the existing ones.
            required:
              - configuration
      tags:
        - PipelinePublicService
  /v1beta/{connector.name}:
    patch:
      summary: Update a connector owned by a user.
      description: |-
        Updates a user-owned connector. The authebnticated user must be the parent
        of the connector.

        In REST requests, only the supplied connector fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateUserConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: connector.name
          description: |-
            The name of the connector, defined by its ID.
            - Format: `connectors/{id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/connectors/[^/]+
        - name: connector
          description: The connector fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Connector UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Connector resource ID (used in `name` as the last segment). This conforms
                  to RFC-1034, which restricts to letters, numbers, and hyphen, with the
                  first character a letter, the last a letter or a number, and a 63
                  character maximum.
              connector_definition_name:
                type: string
                description: Connector definition that describes the connector configuration.
              type:
                $ref: '#/definitions/v1betaConnectorType'
                description: Connector type.
                readOnly: true
              description:
                type: string
                description: Connector description.
              configuration:
                type: object
                description: Connector configuration in JSON format.
              state:
                $ref: '#/definitions/v1betaConnectorState'
                description: Connector state.
                readOnly: true
              tombstone:
                type: boolean
                description: |-
                  Connector tombstone. If true, this configuration is permanently off.
                  Otherwise, the configuration is active.
                readOnly: true
              create_time:
                type: string
                format: date-time
                description: Connector creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Connector update time.
                readOnly: true
              visibility:
                $ref: '#/definitions/v1betaConnectorVisibility'
                description: Connector visibility.
                readOnly: true
              connector_definition:
                $ref: '#/definitions/v1betaConnectorDefinition'
                description: Embed content of the ConnectorDefinition.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Connector deletion time.
                readOnly: true
              owner_name:
                type: string
                description: Owner name.
                readOnly: true
              owner:
                type: object
                description: Owner details.
                readOnly: true
            title: The connector fields that will replace the existing ones.
            required:
              - configuration
      tags:
        - PipelinePublicService
  /v1beta/{connector_definition.name}:
    get:
      summary: Get connector definition
      description: Returns the details of a connector definition.
      operationId: PipelinePublicService_GetConnectorDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetConnectorDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: connector_definition.name
          description: |-
            The resource name of the connector definition, which allows its access by ID.
            - Format: `connector-definitions/{id}`.
          in: path
          required: true
          type: string
          pattern: connector-definitions/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - PipelinePublicService
  /v1beta/{membership.name_1}:
    put:
      summary: Uppdate an organization membership
      description: Updates a user membership within an organization.
      operationId: MgmtPublicService_UpdateOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: membership.name_1
          description: |-
            The resource name of the membership, which allows its access by
            organization and user ID.
            - Format: `organizations/{organization.id}/memberships/{user.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/memberships/[^/]+
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            type: object
            properties:
              role:
                type: string
                description: Role of the user in the organization.
              state:
                $ref: '#/definitions/v1betaMembershipState'
                description: State of the membership.
                readOnly: true
              user:
                $ref: '#/definitions/mgmtv1betaUser'
                description: User information.
                readOnly: true
              organization:
                $ref: '#/definitions/v1betaOrganization'
                description: Organization information.
                readOnly: true
            title: The membership fields to update.
            required:
              - role
        - name: update_mask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - MgmtPublicService
  /v1beta/{membership.name}:
    put:
      summary: Update a user membership
      description: Accesses and updates a user membership by parent and membership IDs.
      operationId: MgmtPublicService_UpdateUserMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: membership.name
          description: |-
            The resource name of the membership, which allows its access by user and
            organization ID.
            - Format: `users/{user.id}/memberships/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/memberships/[^/]+
        - name: membership
          description: The membership fields to update.
          in: body
          required: true
          schema:
            type: object
            properties:
              role:
                type: string
                description: Role of the user in the organization.
                readOnly: true
              state:
                $ref: '#/definitions/v1betaMembershipState'
                description: State of the membership.
              user:
                $ref: '#/definitions/mgmtv1betaUser'
                description: User information.
                readOnly: true
              organization:
                $ref: '#/definitions/v1betaOrganization'
                description: Organization information.
                readOnly: true
            title: The membership fields to update.
            required:
              - state
        - name: update_mask
          description: |-
            The update mask specifies the subset of fields that should be modified.

            For more information about this field, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-mask.
          in: query
          required: true
          type: string
      tags:
        - MgmtPublicService
  /v1beta/{name}:
    get:
      summary: Get the details of a long-running operation
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations such as asynchronous pipeline triggers.
      operationId: PipelinePublicService_GetOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: name
          description: |-
            The name of the operation resource. Asynchronous methods will contain this
            information in their response.
          in: path
          required: true
          type: string
          pattern: operations/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{operator_definition.name}:
    get:
      summary: Get operator definition
      description: Returns the details of an operator definition.
      operationId: PipelinePublicService_GetOperatorDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOperatorDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: operator_definition.name
          description: |-
            The resource name of the operator definition, which allows its access by ID.
            - Format: `operator-definitions/{id}`.
          in: path
          required: true
          type: string
          pattern: operator-definitions/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - PipelinePublicService
  /v1beta/{operator_definition.permalink}/lookUp:
    get:
      summary: Get a connector by UID
      description: Returns the details of a connector by UID.
      operationId: PipelinePublicService_LookUpConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaLookUpConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: operator_definition.permalink
          description: |-
            The permalink of the connector, which allows its access by UID.
            - Format: `connectors/{uid}`.
          in: path
          required: true
          type: string
          pattern: connectors/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired connector view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_CONFIGURATION: Contains the connector configuration.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_CONFIGURATION
      tags:
        - PipelinePublicService
  /v1beta/{organization.name}:
    get:
      summary: Get an organization
      description: Returns the organization details by its ID.
      operationId: MgmtPublicService_GetOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The resource name of the organization, which allows its access by ID.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - MgmtPublicService
    delete:
      summary: Delete an organization
      description: Accesses and deletes an organization by ID.
      operationId: MgmtPublicService_DeleteOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The resource name of the organization, which allows its access by ID.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
      tags:
        - MgmtPublicService
    patch:
      summary: Update an organization
      description: |-
        Accesses and updates an organization by ID.

        In REST requests, only the supplied organization fields will be taken into
        account when updating the resource.
      operationId: MgmtPublicService_UpdateOrganization
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The name of the organization, defined by its ID.
            - Format: `organization/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: organization
          description: The organization fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Organization UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Resource ID (used in `name` as the last segment). This conforms to
                  RFC-1034, which restricts to letters, numbers, and hyphen, with the first
                  character a letter, the last a letter or a number, and a 63 character
                  maximum.

                  Note that the ID can be updated.
              create_time:
                type: string
                format: date-time
                description: Creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Update time.
                readOnly: true
              org_name:
                type: string
                description: Company or institution name.
              customer_id:
                type: string
                description: Stripe customer ID. This field is used in Instill Cloud.
                readOnly: true
              profile_avatar:
                type: string
                description: Profile Avatar in base64.
              profile_data:
                type: object
                description: Profile Data.
              owner:
                $ref: '#/definitions/mgmtv1betaUser'
                description: The user that owns the organization.
                readOnly: true
            title: The organization fields that will replace the existing ones.
            required:
              - id
      tags:
        - MgmtPublicService
  /v1beta/{organization.name}/connectors:
    get:
      summary: List organization connectors
      description: |-
        Returns a paginated list of connectors that belong to the specified
        organization.
      operationId: PipelinePublicService_ListOrganizationConnectors
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationConnectorsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization that created the connectors.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: page_size
          description: |-
            The maximum number of connectors to return. If this parameter is
            unspecified, at most 10 connectors will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_CONFIGURATION: Contains the connector configuration.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_CONFIGURATION
        - name: filter
          description: Filter expression to list connectors
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted connectors in the result.
          in: query
          required: false
          type: boolean
      tags:
        - PipelinePublicService
    post:
      summary: Create a new organization connector
      description: Creates a new connector under the parenthood of an organization.
      operationId: PipelinePublicService_CreateOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization that creates the connector.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: connector
          description: The properties of the connector to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaConnector'
      tags:
        - PipelinePublicService
  /v1beta/{organization.name}/memberships:
    get:
      summary: List organization memberships
      description: Returns a paginated list of the user memberships in an organization.
      operationId: MgmtPublicService_ListOrganizationMemberships
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationMembershipsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization to which the memberships
            belong.
            Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{organization.name}/pipelines:
    get:
      summary: List organization pipelines
      description: |-
        Returns a paginated list of pipelines that belong to the specified
        organization.
      operationId: PipelinePublicService_ListOrganizationPipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationPipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization that created the pipelines.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: page_size
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
      tags:
        - PipelinePublicService
    post:
      summary: Create a new organization pipeline
      description: Creates a new pipeline under the parenthood of an organization.
      operationId: PipelinePublicService_CreateOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization that creates the pipeline.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: pipeline
          description: The properties of the pipeline to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaPipeline'
      tags:
        - PipelinePublicService
  /v1beta/{organization.name}/releases:
    get:
      summary: List the releases in a pipeline owned by an organization
      description: |-
        Lists the commited versions of a pipeline, identified by its resource name,
        which is formed by the parent organization and ID of the pipeline.
      operationId: PipelinePublicService_ListOrganizationPipelineReleases
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationPipelineReleasesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource where this pipeline release will be created.
            Format: `organizations/{organization.id}/pipelines/{pipeline.id}`
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: page_size
          description: |-
            The maximum number of releases to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
      tags:
        - PipelinePublicService
    post:
      summary: Release a version of a pipeline owned by an organization
      description: |-
        Commits the version of a pipeline, identified by its resource name, which is
        formed by the parent organization and ID of the pipeline.
      operationId: PipelinePublicService_CreateOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            Name of the pipeline for which the release will be created.
            Format: `organizations/{organization.id}/pipelines/{pipeline.id}`
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: release
          description: The release information.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaPipelineRelease'
      tags:
        - PipelinePublicService
  /v1beta/{organization.name}/subscription:
    get:
      summary: Get an organization subscription
      description: Returns the subscription details of an organization.
      operationId: MgmtPublicService_GetOrganizationSubscription
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationSubscriptionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization.name
          description: |-
            The parent resource, i.e., the organization to which the subscription
            refers.
            Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{organization_connector.name}:
    get:
      summary: Get a connector owned by an organization.
      description: Returns the details of an organization-owned connector.
      operationId: PipelinePublicService_GetOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_CONFIGURATION: Contains the connector configuration.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_CONFIGURATION
      tags:
        - PipelinePublicService
    delete:
      summary: Delete a connector owned by an organization
      description: Deletes a connector.
      operationId: PipelinePublicService_DeleteOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_connector.name}/connect:
    post:
      summary: Connect a connector owned by an organization
      description: |-
        Transitions the state of a connector from `DISCONNECTED` to `CONNECTED`. If
        the state of the connector is different when the request is made, an error
        is returned.
      operationId: PipelinePublicService_ConnectOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaConnectOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            description: |-
              ConnectOrganizationConnectorRequest represents a request to connect a
              connector owned by an organization.
      tags:
        - PipelinePublicService
  /v1beta/{organization_connector.name}/disconnect:
    post:
      summary: Disconnect a connector owned by an organization
      description: |-
        Transitions the state of a connector from `CONNECTED` to `DISCONNECTED`. If
        the state of the connector is different when the request is made, an error
        is returned.
      operationId: PipelinePublicService_DisconnectOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDisconnectOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            description: |-
              DisconnectOrganizationConnectorRequest represents a request to disconnect a
              connector owned by an organization.
      tags:
        - PipelinePublicService
  /v1beta/{organization_connector.name}/execute:
    post:
      summary: Execute a connector owned by an organization
      description: Executes a task in an organization-owned connector.
      operationId: PipelinePublicService_ExecuteOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaExecuteOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              inputs:
                type: array
                items:
                  type: object
                description: Connector input parameters.
              task:
                type: string
                description: Task to be passed to the connector (e.g. `TASK_TEXT_GENERATION`).
            description: |-
              ExecuteOrganizationConnectorRequest represents a request to execute a
              connector owned by an organization.
      tags:
        - PipelinePublicService
  /v1beta/{organization_connector.name}/rename:
    post:
      summary: Rename a connector owned by an organization
      description: |-
        Updates the ID of a connector. Since this is an output-only field, a custom
        method is required to modify it.

        The connector name will be updated accordingly, as it is  composed by the
        parent organization and ID of the connector (e.g.
        `organizations/indiana-jones/connector/whip`).
      operationId: PipelinePublicService_RenameOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRenameOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              new_connector_id:
                type: string
                description: |-
                  The new resource ID. This will transform the resource name into
                  `organizations/{organization.id}/connectors/{new_connector_id}`.
            description: |-
              RenameOrganizationConnectorRequest represents a request to rename the name
              of a connector owned by an organization.
            required:
              - new_connector_id
      tags:
        - PipelinePublicService
  /v1beta/{organization_connector.name}/testConnection:
    post:
      summary: Test a connector owned by an organization
      description: Tests the connection on an organization-owned connector.
      operationId: PipelinePublicService_TestOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTestOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_connector.name}/watch:
    get:
      summary: Get the state of a connector owned by an organization
      description: Gets the state of an organization-owned connector.
      operationId: PipelinePublicService_WatchOrganizationConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaWatchOrganizationConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_connector.name
          description: |-
            The resource name of the connector, which allows its access by parent
            connector and ID.
            - Format: `organizations/{organization.id}/connectors/{connector.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/connectors/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_membership.name}:
    get:
      summary: Get a an organization membership
      description: Returns the details of a user membership within an organization.
      operationId: MgmtPublicService_GetOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_membership.name
          description: |-
            The resource name of the membership, which allows its access by
            organization and user ID.
            - Format: `organizations/{organization.id}/memberships/{user.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/memberships/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - MgmtPublicService
    delete:
      summary: Delete an organization membership
      description: Deletes a user membership within an organization.
      operationId: MgmtPublicService_DeleteOrganizationMembership
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationMembershipResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_membership.name
          description: |-
            The resource name of the membership, which allows its access by
            organization and user ID.
            - Format: `organizations/{organization.id}/memberships/{user.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/memberships/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{organization_pipeline.name}:
    get:
      summary: Get a pipeline owned by an organization
      description: |-
        Returns the details of an organization-owned pipeline by its resource name,
        which is defined by the parent organization and the ID of the pipeline.
      operationId: PipelinePublicService_GetOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline.name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
    delete:
      summary: Delete a pipeline owned by an organization
      description: |-
        Deletes a pipeline, accesing it by its resource name, which is defined by
        the parent organization and the ID of the pipeline.
      operationId: PipelinePublicService_DeleteOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline.name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline.name}/rename:
    post:
      summary: Rename a pipeline owned by an organization
      description: |-
        Updates the ID of a pipeline. Since this is an output-only field, a custom
        method is required to modify it.

        The pipeline name will be updated accordingly, as it is  composed by the
        parent organization and ID of the pipeline (e.g.
        `organizations/luigi/pipelines/pizza-recipe-generator`).
      operationId: PipelinePublicService_RenameOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRenameOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline.name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              new_pipeline_id:
                type: string
                description: |-
                  The new resource ID. This will transform the resource name into
                  `organizations/{organization.id}/pipelines/{new_pipeline_id}`.
            description: |-
              RenameOrganizationPipelineRequest represents a request to rename the name of
              a pipeline owned by an organization.
            required:
              - new_pipeline_id
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline.name}/trigger:
    post:
      summary: Trigger a pipeline owned by an organization
      description: |-
        Triggers the execution of a pipeline synchronously, i.e., the result is sent
        back to the organization right after the data is processed. This method is
        intended for real-time inference when low latency is of concern.

        The pipeline is identified by its resource name, formed by the parent
        organization and ID of the pipeline.

        For more information, see [Trigger
        Pipeline](https://www.instill.tech/docs/latest/core/concepts/pipeline#trigger-pipeline).
      operationId: PipelinePublicService_TriggerOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline.name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              inputs:
                type: array
                items:
                  type: object
                description: Pipeline input parameters.
            description: |-
              TriggerOrganizationPipelineRequest represents a request to trigger an
              organization-owned pipeline synchronously.
            required:
              - inputs
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline.name}/triggerAsync:
    post:
      summary: Trigger a pipeline owned by an organization asynchronously
      description: |-
        Triggers the execution of a pipeline asynchronously, i.e., the result
        contains the necessary information to access the result and status of the
        operation. This method is intended for cases that require long-running
        workloads.

        The pipeline is identified by its resource name, formed by the parent
        organization and ID of the pipeline.

        For more information, see [Trigger
        Pipeline](https://www.instill.tech/docs/latest/core/concepts/pipeline#trigger-pipeline).
      operationId: PipelinePublicService_TriggerAsyncOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerAsyncOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline.name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              inputs:
                type: array
                items:
                  type: object
                description: Pipeline input parameters.
            description: |-
              TriggerOrganizationPipelineRequest represents a request to trigger an
              organization-owned pipeline synchronously.
            required:
              - inputs
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline.name}/validate:
    post:
      summary: Validate a pipeline a pipeline owned by an organization
      description: |-
        Validates a pipeline by its resource name, which is defined by the parent
        organization and the ID of the pipeline.

        Validation checks the recipe of the pipeline and the status of its
        components.
      operationId: PipelinePublicService_ValidateOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaValidateOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline.name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            description: |-
              ValidateOrganizationPipelineRequest represents a request to validate a
              pipeline owned by an organization.
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release.name}:
    get:
      summary: Get a release in a pipeline owned by an organization
      description: |-
        Gets the details of a pipeline release, where the pipeline is identified by
        its resource name, formed by its parent organization and ID.
      operationId: PipelinePublicService_GetOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release.name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
    delete:
      summary: Delete a release in a pipeline owned by an organization
      description: |-
        Deletes a pipeline release, where the pipeline is identified by its resource
        name, formed by its parent organization and ID.
      operationId: PipelinePublicService_DeleteOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release.name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release.name}/rename:
    post:
      summary: Rename a release in a pipeline owned by an organization
      description: |-
        Updates the ID of a pipeline release, where the pipeline is identified by
        its resource name, formed by the parent organization and ID. Since this is
        an output-only field, a custom method is required to modify it.

        The pipeline release name will be updated accordingly, as it is  composed by
        the pipeline name and the ID of the release (e.g.
        `organizations/luigi/pipelines/pizza-recipe-generator/releases/v0.2.1`).
      operationId: PipelinePublicService_RenameOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRenameOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release.name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              new_pipeline_release_id:
                type: string
                description: |-
                  The new resource ID. This will transform the resource name into
                  `organizations/{organization.id}/pipelines/{pipeline.id}/releases{new_release_id}`.
            description: |-
              RenameOrganizationPipelineReleaseRequest represents a request to rename a
              release in an organization-owned pipeline.
            required:
              - new_pipeline_release_id
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release.name}/restore:
    post:
      summary: Set the version of a pipeline owned by an organization to a pinned release
      description: |-
        Sets the pipeline configuration to a pinned version defined by a release.

        The pipeline is identified by its resource name, formed by its parent
        organization and ID.
      operationId: PipelinePublicService_RestoreOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRestoreOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release.name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release.name}/trigger:
    post:
      summary: Trigger a version of a pipeline owned by an organization
      description: |-
        Triggers the synchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent
        organization and ID.
      operationId: PipelinePublicService_TriggerOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release.name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              inputs:
                type: array
                items:
                  type: object
                description: Pipeline input parameters.
            description: |-
              TriggerOrganizationPipelineReleaseRequest represents a request to trigger a
              pinned release of an organization-owned pipeline.
            required:
              - inputs
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release.name}/triggerAsync:
    post:
      summary: Trigger a version of a pipeline owned by an organization asynchronously
      description: |-
        Triggers the asynchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent
        organization and ID.
      operationId: PipelinePublicService_TriggerAsyncOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerAsyncOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release.name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              inputs:
                type: array
                items:
                  type: object
                description: Pipeline input parameters.
            description: |-
              TriggerOrganizationPipelineReleaseRequest represents a request to trigger a
              pinned release of an organization-owned pipeline asynchronously.
            required:
              - inputs
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release.name}/watch:
    get:
      summary: Get the state of a release in a pipeline owned by an organization
      description: |-
        Gets the state of a pipeline release, where the pipeline is identified by
        its resource name, formed by the parent organization and ID of the pipeline.
      operationId: PipelinePublicService_WatchOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaWatchOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release.name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{permalink}/lookUp:
    get:
      summary: Get a pipeline by UID
      description: |-
        Returns the details of a pipeline by a permalink defined by the resource
        UID.
      operationId: PipelinePublicService_LookUpPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaLookUpPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: permalink
          description: |-
            The permalink of the pipeline, which allows its access by UID.
            - Format: `pipelines/{pipeline.uid}`.
          in: path
          required: true
          type: string
          pattern: pipelines/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
  /v1beta/{pipeline.name_1}:
    patch:
      summary: Update a pipeline owned by an organization
      description: |-
        Udpates a pipeline, accessing it by its resource name, which is defined by

        In REST requests, only the supplied pipeline fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pipeline.name_1
          description: |-
            The name of the pipeline, defined by its owner and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: pipeline
          description: The pipeline fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Pipeline UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Pipeline resource ID (used in `name` as the last segment). This conforms
                  to RFC-1034, which restricts to letters, numbers, and hyphen, with the
                  first character a letter, the last a letter or a number, and a 63
                  character maximum.
              description:
                type: string
                description: Pipeline description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe describes the components of a Pipeline and how they are connected.
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              openapi_schema:
                type: object
                description: OpenAPI schema.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline delete time.
                readOnly: true
              sharing:
                $ref: '#/definitions/v1betaSharing'
                description: Pipeline sharing information.
              metadata:
                type: object
                description: Metadata holds console-related data such as the pipeline builder layout.
              owner_name:
                type: string
                description: Owner Name.
                readOnly: true
              owner:
                type: object
                description: Owner details.
                readOnly: true
              releases:
                type: array
                items:
                  type: object
                  $ref: '#/definitions/v1betaPipelineRelease'
                description: Releases holds the history of pipeline versions.
                readOnly: true
              readme:
                type: string
                description: README holds the pipeline documentation.
              permission:
                $ref: '#/definitions/v1betaPermission'
                description: Permission defines how a pipeline can be used.
                readOnly: true
              visibility:
                $ref: '#/definitions/v1betaPipelineVisibility'
                description: Pipeline visibility.
                readOnly: true
            title: The pipeline fields that will replace the existing ones.
      tags:
        - PipelinePublicService
  /v1beta/{pipeline.name}:
    patch:
      summary: Update a pipeline owned by a user
      description: |-
        Udpates a pipeline, accessing it by its resource name, which is defined by
        the parent user and the ID of the pipeline. The authenticated user must be
        the parent of the pipeline in order to modify it.

        In REST requests, only the supplied pipeline fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pipeline.name
          description: |-
            The name of the pipeline, defined by its owner and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: pipeline
          description: The pipeline fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Pipeline UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Pipeline resource ID (used in `name` as the last segment). This conforms
                  to RFC-1034, which restricts to letters, numbers, and hyphen, with the
                  first character a letter, the last a letter or a number, and a 63
                  character maximum.
              description:
                type: string
                description: Pipeline description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe describes the components of a Pipeline and how they are connected.
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              openapi_schema:
                type: object
                description: OpenAPI schema.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline delete time.
                readOnly: true
              sharing:
                $ref: '#/definitions/v1betaSharing'
                description: Pipeline sharing information.
              metadata:
                type: object
                description: Metadata holds console-related data such as the pipeline builder layout.
              owner_name:
                type: string
                description: Owner Name.
                readOnly: true
              owner:
                type: object
                description: Owner details.
                readOnly: true
              releases:
                type: array
                items:
                  type: object
                  $ref: '#/definitions/v1betaPipelineRelease'
                description: Releases holds the history of pipeline versions.
                readOnly: true
              readme:
                type: string
                description: README holds the pipeline documentation.
              permission:
                $ref: '#/definitions/v1betaPermission'
                description: Permission defines how a pipeline can be used.
                readOnly: true
              visibility:
                $ref: '#/definitions/v1betaPipelineVisibility'
                description: Pipeline visibility.
                readOnly: true
            title: The pipeline fields that will replace the existing ones.
      tags:
        - PipelinePublicService
  /v1beta/{release.name_1}:
    patch:
      summary: Update a release in a pipeline owned by an organization
      description: |-
        Updates the details of a pipeline release, where the pipeline is identified
        by its resource name, formed by its parent organization and ID.
      operationId: PipelinePublicService_UpdateOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: release.name_1
          description: |-
            The name of the release, defined by its owner and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}
          in: path
          required: true
          type: string
          pattern: organizationsr/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: release
          description: |-
            The pipeline release fields that will replace the existing ones.
            A pipeline release resource to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Release UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Release resource ID (used in `name` as the last segment). It must be a
                  sematic version vX.Y.Z.
              description:
                type: string
                description: Release description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe of the versioned pipeline.
                readOnly: true
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              openapi_schema:
                type: object
                description: OpenAPI schema.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline deletion time.
                readOnly: true
              alias:
                type: string
                description: Alias.
                readOnly: true
              metadata:
                type: object
                description: |-
                  Key-value object with console-related data such as the pipeline builder
                  layout.
              readme:
                type: string
                description: README.
            title: |-
              The pipeline release fields that will replace the existing ones.
              A pipeline release resource to update
      tags:
        - PipelinePublicService
  /v1beta/{release.name}:
    patch:
      summary: Update a release in a pipeline owned by a user
      description: |-
        Updates the details of a pipeline release, where the pipeline is
        identified by its resource name, formed by its parent user and ID.

        The authenticated user must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_UpdateUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: release.name
          description: |-
            The name of the release, defined by its owner and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}
          in: path
          required: true
          type: string
          pattern: usersr/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: release
          description: |-
            The pipeline release fields that will replace the existing ones.
            A pipeline release resource to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Release UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Release resource ID (used in `name` as the last segment). It must be a
                  sematic version vX.Y.Z.
              description:
                type: string
                description: Release description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe of the versioned pipeline.
                readOnly: true
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              openapi_schema:
                type: object
                description: OpenAPI schema.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline deletion time.
                readOnly: true
              alias:
                type: string
                description: Alias.
                readOnly: true
              metadata:
                type: object
                description: |-
                  Key-value object with console-related data such as the pipeline builder
                  layout.
              readme:
                type: string
                description: README.
            title: |-
              The pipeline release fields that will replace the existing ones.
              A pipeline release resource to update
      tags:
        - PipelinePublicService
  /v1beta/{token.name}:
    get:
      summary: Get an API token
      description: Returns the details of an API token.
      operationId: MgmtPublicService_GetToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: token.name
          description: |-
            The resource name of the token, which allows its access by ID.
            - Format: `tokens/{token.id}`.
          in: path
          required: true
          type: string
          pattern: tokens/[^/]+
      tags:
        - MgmtPublicService
    delete:
      summary: Delete an API token
      description: Deletes an API token.
      operationId: MgmtPublicService_DeleteToken
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteTokenResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: token.name
          description: |-
            The resource name of the token, which allows its access by ID.
            - Format: `tokens/{token.id}`.
          in: path
          required: true
          type: string
          pattern: tokens/[^/]+
      tags:
        - MgmtPublicService
  /v1beta/{user.name}:
    get:
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: MgmtPublicService_GetUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user.name
          description: |-
            The resource name of the user, which allows its access by ID.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - MgmtPublicService
  /v1beta/{user.name}/connectors:
    get:
      summary: List user connectors
      description: Returns a paginated list of connectors that belong to the specified user.
      operationId: PipelinePublicService_ListUserConnectors
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListUserConnectorsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user.name
          description: |-
            The parent resource, i.e., the user that created the connectors.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: page_size
          description: |-
            The maximum number of connectors to return. If this parameter is
            unspecified, at most 10 connectors will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_UNSPECIFIED: Unspecified, equivalent to BASIC.
             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_CONFIGURATION: Contains the connector configuration.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_CONFIGURATION
        - name: filter
          description: Filter expression to list connectors
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted connectors in the result.
          in: query
          required: false
          type: boolean
      tags:
        - PipelinePublicService
    post:
      summary: Create a new user connector
      description: |-
        Creates a new connector under the parenthood of a user. Users can only
        create a connector parents of that resource (i.e. the authenticated user
        must match the `parent` path parameter).
      operationId: PipelinePublicService_CreateUserConnector
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateUserConnectorResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user.name
          description: |-
            The parent resource, i.e., the user that creates the connector.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: connector
          description: The properties of the connector to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaConnector'
      tags:
        - PipelinePublicService
  /v1beta/{user.name}/memberships:
    get:
      summary: List user memberships
      description: Returns the memberships of a user.
      operationId: MgmtPublicService_ListUserMemberships
      responses:
        "200":
          description: A successful response.
[...]
