swagger: "2.0"
info:
  title: "\U0001F4A7 VDP"
  description: VDP endpoints to manage pipeline resources
  version: v0.44.1-beta
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: Component
    description: Components
  - name: Pipeline
    description: Pipelines
  - name: Pipeline Release
    description: Pipeline Releases
  - name: Pipeline Trigger
    description: Pipeline Triggers
  - name: Secret
    description: Namespace Secrets
  - name: Integration
    description: Namespace Integrations
host: api.instill.tech
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1beta/pipelines:
    get:
      summary: List accessible pipelines
      description: Returns a paginated list of pipelines that are visible to the requester.
      operationId: PipelinePublicService_ListPipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: showDeleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the user can see the pipeline.
             - VISIBILITY_PUBLIC: Other users can see the pipeline.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Pipeline
  /v1beta/namespaces/{namespaceId}/pipelines:
    get:
      summary: List namespace pipelines
      description: Returns a paginated list of pipelines of a namespace
      operationId: PipelinePublicService_ListNamespacePipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespacePipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: showDeleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the user can see the pipeline.
             - VISIBILITY_PUBLIC: Other users can see the pipeline.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
      tags:
        - Pipeline
    post:
      summary: Create a new pipeline
      description: Creates a new pipeline under a namespace.
      operationId: PipelinePublicService_CreateNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The namespace that creates the pipeline.
          in: path
          required: true
          type: string
        - name: pipeline
          description: The properties of the pipeline to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Pipeline'
      tags:
        - Pipeline
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}:
    get:
      summary: Get a pipeline
      description: Returns the details of a pipeline.
      operationId: PipelinePublicService_GetNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - Pipeline
    delete:
      summary: Delete a pipeline
      description: |-
        Deletes a pipeline, accesing it by its resource name, which is defined by
        the parent namespace and the ID of the pipeline. The authenticated namespace must be
        the parent of the pipeline in order to delete it.
      operationId: PipelinePublicService_DeleteNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
      tags:
        - Pipeline
    patch:
      summary: Update a pipeline
      description: |-
        Udpates a pipeline, accessing it by its resource name, which is defined by
        the parent namespace and the ID of the pipeline. The authenticated namespace must be
        the parent of the pipeline in order to modify it.

        In REST requests, only the supplied pipeline fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: pipeline
          description: The pipeline fields that will replace the existing ones.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Pipeline'
      tags:
        - Pipeline
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/validate:
    post:
      summary: Validate a pipeline
      description: |-
        Validates a pipeline by its resource name, which is defined by the parent
        namespace and the ID of the pipeline.

        Validation checks the recipe of the pipeline and the status of its components.
      operationId: PipelinePublicService_ValidateNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ValidateNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ValidateNamespacePipelineBody'
      tags:
        - Pipeline
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/rename:
    post:
      summary: Rename a pipeline
      description: |-
        Updates the ID of a pipeline. Since this is an output-only field, a custom
        method is required to modify it.

        The pipeline name will be updated accordingly, as it is  composed by the
        parent namespace and ID of the pipeline (e.g.
        `namespaces/luigi/pipelines/pizza-recipe-generator`).

        The authenticated namespace must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_RenameNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/RenameNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RenameNamespacePipelineBody'
      tags:
        - Pipeline
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/clone:
    post:
      summary: Clone a pipeline
      description: |-
        Clones a pipeline owned by a namespace. The new pipeline may have a different
        parent, and this can be either a namespace or an organization.
      operationId: PipelinePublicService_CloneNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CloneNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CloneNamespacePipelineBody'
      tags:
        - Pipeline
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/trigger:
    post:
      summary: Trigger a pipeline
      description: |-
        Triggers the execution of a pipeline synchronously, i.e., the result is
        sent back to the namespace right after the data is processed. This method is
        intended for real-time inference when low latency is of concern.

        The pipeline is identified by its resource name, formed by the parent namespace
        and ID of the pipeline.

        For more information, see [Run NamespacePipeline](https://www.instill.tech/docs/vdp/run).
      operationId: PipelinePublicService_TriggerNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerNamespacePipelineBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/trigger-stream:
    post:
      summary: Trigger a pipeline via streaming
      description: |-
        Triggers the execution of a pipeline asynchronously and streams back the response.
        This method is intended for real-time inference when low latency is of concern
        and the response needs to be processed incrementally.

        The pipeline is identified by its resource name, formed by the parent namespace
        and ID of the pipeline.
      operationId: PipelinePublicService_TriggerNamespacePipelineWithStream
      responses:
        "200":
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/TriggerNamespacePipelineWithStreamResponse'
              error:
                $ref: '#/definitions/rpc.Status'
            title: Stream result of TriggerNamespacePipelineWithStreamResponse
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerNamespacePipelineWithStreamBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/trigger-async:
    post:
      summary: Trigger a pipeline asynchronously
      description: |-
        Triggers the execution of a pipeline asynchronously, i.e., the result
        contains the necessary information to access the result and status of the
        operation. This method is intended for cases that require long-running
        workloads.

        The pipeline is identified by its resource name, formed by the parent namespace
        and ID of the pipeline.

        For more information, see [Run NamespacePipeline](https://www.instill.tech/docs/vdp/run).
      operationId: PipelinePublicService_TriggerAsyncNamespacePipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerAsyncNamespacePipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerAsyncNamespacePipelineBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/releases:
    get:
      summary: List the releases in a pipeline
      description: |-
        Lists the commited versions of a pipeline, identified by its resource
        name, which is formed by the parent namespace and ID of the pipeline.
      operationId: PipelinePublicService_ListNamespacePipelineReleases
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespacePipelineReleasesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of releases to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: showDeleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
      tags:
        - Pipeline Release
    post:
      summary: Create a pipeline release
      description: |-
        Commits the version of a pipeline, identified by its resource name, which
        is formed by the parent namespace and ID of the pipeline.

        The authenticated namespace must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_CreateNamespacePipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateNamespacePipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: release
          description: The release information.
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelineRelease'
      tags:
        - Pipeline Release
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/releases/{releaseId}:
    get:
      summary: Get a pipeline release
      description: |-
        Gets the details of a pipeline release, where the pipeline is identified
        by its resource name, formed by its parent namespace and ID.
      operationId: PipelinePublicService_GetNamespacePipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespacePipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: releaseId
          description: Release ID
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - Pipeline Release
    delete:
      summary: Delete a pipeline release
      description: |-
        Deletes a pipeline release, where the pipeline is identified by its
        resource name, formed by its parent namespace and ID.

        The authenticated namespace must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_DeleteNamespacePipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteNamespacePipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: releaseId
          description: Release ID
          in: path
          required: true
          type: string
      tags:
        - Pipeline Release
    patch:
      summary: Update a pipeline release
      description: |-
        Updates the details of a pipeline release, where the pipeline is
        identified by its resource name, formed by its parent namespace and ID.

        The authenticated namespace must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_UpdateNamespacePipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateNamespacePipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: releaseId
          description: Release ID
          in: path
          required: true
          type: string
        - name: release
          description: |-
            The pipeline release fields that will replace the existing ones.
            A pipeline release resource to update
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelineRelease'
      tags:
        - Pipeline Release
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/releases/{releaseId}/clone:
    post:
      summary: Clone a pipeline release
      description: |-
        Clones a pipeline release owned by a namespace. The new pipeline may have a different
        parent, and this can be either a namespace or an organization.
      operationId: PipelinePublicService_CloneNamespacePipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CloneNamespacePipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: releaseId
          description: Release ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CloneNamespacePipelineReleaseBody'
      tags:
        - Pipeline Release
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/releases/{releaseId}/trigger:
    post:
      summary: Trigger a pipeline release
      description: |-
        Triggers the synchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent namespace
        and ID.
      operationId: PipelinePublicService_TriggerNamespacePipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerNamespacePipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: releaseId
          description: Release ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerNamespacePipelineReleaseBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/releases/{releaseId}/trigger-async:
    post:
      summary: Trigger a pipeline release asynchronously
      description: |-
        Triggers the asynchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent namespace
        and ID.
      operationId: PipelinePublicService_TriggerAsyncNamespacePipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TriggerAsyncNamespacePipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pipelineId
          description: Pipeline ID
          in: path
          required: true
          type: string
        - name: releaseId
          description: Release ID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerAsyncNamespacePipelineReleaseBody'
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/namespaces/{namespaceId}/secrets:
    get:
      summary: List secrets
      description: |-
        Returns a paginated list of secrets that belong to the specified
        namespace.
      operationId: PipelinePublicService_ListNamespaceSecrets
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespaceSecretsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: pageSize
          description: |-
            The maximum number of secrets to return. If this parameter is unspecified,
            at most 10 pipelines will be returned. The cap value for this parameter is
            100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page secret.
          in: query
          required: false
          type: string
      tags:
        - Secret
    post:
      summary: Create a secret
      description: Creates a new secret under the parenthood of an namespace.
      operationId: PipelinePublicService_CreateNamespaceSecret
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateNamespaceSecretResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: secret
          description: The properties of the secret to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Secret'
      tags:
        - Secret
  /v1beta/namespaces/{namespaceId}/secrets/{secretId}:
    get:
      summary: Get a secret
      description: |-
        Returns the details of an namespace-owned secret by its resource name,
        which is defined by the parent namespace and the ID of the secret.
      operationId: PipelinePublicService_GetNamespaceSecret
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespaceSecretResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: secretId
          description: Secret ID
          in: path
          required: true
          type: string
      tags:
        - Secret
    delete:
      summary: Delete a secret
      description: |-
        Deletes a secret, accesing it by its resource name, which is defined by
        the parent namespace and the ID of the secret.
      operationId: PipelinePublicService_DeleteNamespaceSecret
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteNamespaceSecretResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: secretId
          description: Secret ID
          in: path
          required: true
          type: string
      tags:
        - Secret
    patch:
      summary: Update a secret
      description: |-
        Udpates a secret, accessing it by its resource name, which is defined by

        In REST requests, only the supplied secret fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateNamespaceSecret
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateNamespaceSecretResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID
          in: path
          required: true
          type: string
        - name: secretId
          description: Secret ID
          in: path
          required: true
          type: string
        - name: secret
          description: The secret fields to update.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Secret'
      tags:
        - Secret
  /v1beta/component-definitions:
    get:
      summary: List component definitions
      description: |-
        Returns a paginated list of component definitions, regardless their type.
        This offers a single source of truth, with pagination and filter
        capabilities, for the components that might be used in a VDP pipeline.
      operationId: PipelinePublicService_ListComponentDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListComponentDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: |-
            The maximum number of component definitions to return. If this parameter
            is unspecified, at most 10 definitions will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (removes the `spec`
            field).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `component_type="COMPONENT_TYPE_AI"`.
            - Example: `tasks:"TASK_TEXT_GENERATION"`.
          in: query
          required: false
          type: string
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Component
  /v1beta/operations/{operationId}:
    get:
      summary: Get the details of a long-running operation
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations such as asynchronous pipeline triggers.
      operationId: PipelinePublicService_GetOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: operationId
          description: |-
            The name of the operation resource. Asynchronous methods will contain this
            information in their response.
          in: path
          required: true
          type: string
        - name: Instill-Requester-Uid
          description: Indicates the authenticated user is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/namespaces/{namespaceId}/pipelines/{pipelineId}/runs:
    get:
      summary: List Pipeline Runs
      description: |-
        Returns a paginated list of runs for a given pipeline. When the requester
        is the owner of the pipeline, they will be able to all the pipeline runs,
        regardless the requester. Other requesters will only be able to see the
        runs requested by themselves.
      operationId: PipelinePublicService_ListPipelineRuns
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPipelineRunsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: The ID of the owner of the pipeline.
          in: path
          required: true
          type: string
        - name: pipelineId
          description: The ID of the pipeline for which the runs will be listed.
          in: path
          required: true
          type: string
        - name: page
          description: The page number to retrieve.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageSize
          description: |-
            The maximum number of items per page to return. The default and cap values
            are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/pipeline-runs/{pipelineRunId}/component-runs:
    get:
      summary: List Component runs
      description: Returns the information of each component execution within a pipeline run.
      operationId: PipelinePublicService_ListComponentRuns
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListComponentRunsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pipelineRunId
          description: The unique identifier of the pipeline run to list component runs for.
          in: path
          required: true
          type: string
        - name: page
          description: The page number to retrieve.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageSize
          description: |-
            The maximum number of items per page to return. The default and cap values
            are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired run view in the response.
            The basic view excludes input / output data.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/dashboard/pipelines/runs:
    get:
      summary: List Pipeline Runs of a Namespace (user or organization)
      description: |-
        Returns a paginated list of runs for 1 or more pipelines. This is mainly used by dashboard.
        The requester can view all the runs by the requester across different pipelines.
      operationId: PipelinePublicService_ListPipelineRunsByRequester
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPipelineRunsByRequesterResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: page
          description: The page number to retrieve.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageSize
          description: |-
            The maximum number of items per page to return. The default and cap values
            are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            The following filters are supported:
            - `status`
            - `source`

            **Example**: `status="RUN_STATUS_COMPLETED"`.
          in: query
          required: false
          type: string
        - name: orderBy
          description: |-
            Order by field, with options for ordering by `id`, `create_time` or `update_time`.
            Format: `order_by=id` or `order_by=create_time desc`, default is `asc`.
          in: query
          required: false
          type: string
        - name: start
          description: |-
            Beginning of the time range from which the records will be fetched.
            The default value is the beginning of the current day, in UTC.
          in: query
          required: false
          type: string
          format: date-time
        - name: stop
          description: |-
            End of the time range from which the records will be fetched.
            The default value is the current timestamp.
          in: query
          required: false
          type: string
          format: date-time
        - name: requesterId
          description: Requester ID.
          in: query
          required: true
          type: string
        - name: Instill-Requester-Uid
          description: Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to
          in: header
          required: false
          type: string
      tags:
        - Pipeline Trigger
  /v1beta/namespaces/{namespaceId}/connections:
    get:
      summary: List namespace connections
      description: Returns a paginated list of connections created by a namespace.
      operationId: PipelinePublicService_ListNamespaceConnections
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListNamespaceConnectionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: pageSize
          description: The maximum number of items to return. The default and cap values are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token. By default, the first page will be returned.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter expression.
            The following filters are supported:
            - `integrationId`
            - `qConnection` (fuzzy search on connection ID, integration title or vendor)

            **Examples**:
            - List connections where app name, vendor or connection ID match `googl`: `q="googl"`.
            - List connections where the component type is `openai` (e.g. to setup a connector within a pipeline): `integrationId="openai"`.
          in: query
          required: false
          type: string
      tags:
        - Integration
    post:
      summary: Create a connection
      description: Creates a connection under the ownership of a namespace.
      operationId: PipelinePublicService_CreateNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/CreateNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: ID of the namespace that owns the connection.
          in: path
          required: true
          type: string
        - name: connection
          description: Properties of the connection to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/Connection'
            required:
              - connection
      tags:
        - Integration
  /v1beta/namespaces/{namespaceId}/connections/{connectionId}:
    get:
      summary: Get a namespace connection
      description: Returns the details of a connection.
      operationId: PipelinePublicService_GetNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: connectionId
          description: Connection ID.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired view in the response.

             - VIEW_BASIC: Default view.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Integration
    delete:
      summary: Delete a connection
      description: Deletes a connection.
      operationId: PipelinePublicService_DeleteNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/DeleteNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: connectionId
          description: Connection ID.
          in: path
          required: true
          type: string
      tags:
        - Integration
    patch:
      summary: Update a connection
      description: Updates a connection with the supplied connection fields.
      operationId: PipelinePublicService_UpdateNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/UpdateNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: ID of the namespace that owns the connection.
          in: path
          required: true
          type: string
        - name: connectionId
          description: ID of the connection to be updated, as present in the database.
          in: path
          required: true
          type: string
        - name: connection
          description: |-
            Connection object with the new properties to be updated. Immutable and
            output-only fields will be ignored. The Setup property must be updated
            in block (no partial update is supported).
          in: body
          required: true
          schema:
            $ref: '#/definitions/Connection'
            required:
              - connection
      tags:
        - Integration
  /v1beta/namespaces/{namespaceId}/connections/{connectionId}/test:
    post:
      summary: Test a connection
      description: |-
        Makes a request to the 3rd party app that the connection is configured to
        communicate with, and checks the result of the call. If the test fails,
        the response status and error message will provide more information about
        the failure.

        Note that this action might affect the quota or billing of the integrated
        account in the 3rd party app.
      operationId: PipelinePublicService_TestNamespaceConnection
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/TestNamespaceConnectionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: connectionId
          description: Connection ID.
          in: path
          required: true
          type: string
      tags:
        - Integration
  /v1beta/namespaces/{namespaceId}/connections/{connectionId}/referenced-pipelines:
    get:
      summary: List pipelines that reference a connection
      description: |-
        Returns a paginated list with the IDs of the pipelines that reference a
        given connection. All the pipelines will belong to the same namespace as
        the connection.
      operationId: PipelinePublicService_ListPipelineIDsByConnectionID
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListPipelineIDsByConnectionIDResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: namespaceId
          description: Namespace ID.
          in: path
          required: true
          type: string
        - name: connectionId
          description: Connection ID.
          in: path
          required: true
          type: string
        - name: pageSize
          description: The maximum number of items to return. The default and cap values are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token. By default, the first page will be returned.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter expression.
            The following filters are supported:
            - `q` (fuzzy search on pipeline ID)
          in: query
          required: false
          type: string
      tags:
        - Integration
  /v1beta/integrations:
    get:
      summary: List integrations
      description: Returns a paginated list of available integrations.
      operationId: PipelinePublicService_ListIntegrations
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/ListIntegrationsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: pageSize
          description: The maximum number of items to return. The default and cap values are 10 and 100, respectively.
          in: query
          required: false
          type: integer
          format: int32
        - name: pageToken
          description: Page token. By default, the first page will be returned.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter expression.
            The following filters are supported:
            - `qIntegration` (fuzzy search on title or vendor)

            **Examples**:
            - List integrations where app name or vendor match `googl`: `q="googl"`.
          in: query
          required: false
          type: string
      tags:
        - Integration
  /v1beta/integrations/{integrationId}:
    get:
      summary: Get an integration
      description: Returns the details of an integration.
      operationId: PipelinePublicService_GetIntegration
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/GetIntegrationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpc.Status'
      parameters:
        - name: integrationId
          description: Integration ID.
          in: path
          required: true
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired view in the response.

             - VIEW_BASIC: Default view.
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - Integration
definitions:
  Any:
    type: object
    properties:
      '@type':
        type: string
        description: |-
          A URL/resource name that uniquely identifies the type of the serialized
          protocol buffer message. This string must contain at least
          one "/" character. The last segment of the URL's path must represent
          the fully qualified name of the type (as in
          `path/google.protobuf.Duration`). The name should be in a canonical form
          (e.g., leading "." is not accepted).

          In practice, teams usually precompile into the binary all types that they
          expect it to use in the context of Any. However, for URLs which use the
          scheme `http`, `https`, or no scheme, one can optionally set up a type
          server that maps type URLs to message definitions as follows:

          * If no scheme is provided, `https` is assumed.
          * An HTTP GET on the URL must yield a [google.protobuf.Type][]
            value in binary format, or produce an error.
          * Applications are allowed to cache lookup results based on the
            URL, or have them precompiled into a binary to avoid any
            lookup. Therefore, binary compatibility needs to be preserved
            on changes to types. (Use versioned type names to manage
            breaking changes.)

          Note: this functionality is not currently available in the official
          protobuf release, and it is not used for type URLs beginning with
          type.googleapis.com. As of May 2023, there are no widely used type server
          implementations and no plans to implement one.

          Schemes other than `http`, `https` (or the empty scheme) might be
          used with implementation specific semantics.
    additionalProperties: {}
    description: |-
      `Any` contains an arbitrary serialized protocol buffer message along with a
      URL that describes the type of the serialized message.

      Protobuf library provides support to pack/unpack Any values in the form
      of utility functions or additional generated methods of the Any type.

      Example 1: Pack and unpack a message in C++.

          Foo foo = ...;
          Any any;
          any.PackFrom(foo);
          ...
          if (any.UnpackTo(&foo)) {
            ...
          }

      Example 2: Pack and unpack a message in Java.

          Foo foo = ...;
          Any any = Any.pack(foo);
          ...
          if (any.is(Foo.class)) {
            foo = any.unpack(Foo.class);
          }
          // or ...
          if (any.isSameTypeAs(Foo.getDefaultInstance())) {
            foo = any.unpack(Foo.getDefaultInstance());
          }

       Example 3: Pack and unpack a message in Python.

          foo = Foo(...)
          any = Any()
          any.Pack(foo)
          ...
          if any.Is(Foo.DESCRIPTOR):
            any.Unpack(foo)
            ...

       Example 4: Pack and unpack a message in Go

           foo := &pb.Foo{...}
           any, err := anypb.New(foo)
           if err != nil {
             ...
           }
           ...
           foo := &pb.Foo{}
           if err := any.UnmarshalTo(foo); err != nil {
             ...
           }

      The pack methods provided by protobuf library will by default use
      'type.googleapis.com/full.type.name' as the type URL and the unpack
      methods only use the fully qualified type name after the last '/'
      in the type URL, for example "foo.bar.com/x/y.z" will yield type
      name "y.z".

      JSON
      ====
      The JSON representation of an `Any` value uses the regular
      representation of the deserialized, embedded message, with an
      additional field `@type` which contains the type URL. Example:

          package google.profile;
          message Person {
            string first_name = 1;
            string last_name = 2;
          }

          {
            "@type": "type.googleapis.com/google.profile.Person",
            "firstName": <string>,
            "lastName": <string>
          }

      If the embedded message type is well-known and has a custom JSON
      representation, that representation will be embedded adding a field
      `value` which holds the custom JSON in addition to the `@type`
      field. Example (for message [google.protobuf.Duration][]):

          {
            "@type": "type.googleapis.com/google.protobuf.Duration",
            "value": "1.212s"
          }
  CloneNamespacePipelineBody:
    type: object
    properties:
      description:
        type: string
        description: Pipeline description.
      sharing:
        description: Pipeline sharing information.
        allOf:
          - $ref: '#/definitions/Sharing'
      targetNamespaceId:
        type: string
        description: Target Namespace ID.
      targetPipelineId:
        type: string
        description: Target Pipeline ID.
    description: |-
      CloneNamespacePipelineRequest represents a request to clone a pipeline owned by a
      user.
    required:
      - targetNamespaceId
      - targetPipelineId
  CloneNamespacePipelineReleaseBody:
    type: object
    properties:
      description:
        type: string
        description: Pipeline description.
      sharing:
        description: Pipeline sharing information.
        allOf:
          - $ref: '#/definitions/Sharing'
      targetNamespaceId:
        type: string
        description: Target Namespace ID.
      targetPipelineId:
        type: string
        description: Target Pipeline ID.
    description: |-
      CloneNamespacePipelineReleaseRequest represents a request to clone a pipeline
      release owned by a user.
    required:
      - targetNamespaceId
      - targetPipelineId
  CloneNamespacePipelineReleaseResponse:
    type: object
    description: CloneNamespacePipelineReleaseResponse contains a cloned pipeline.
  CloneNamespacePipelineResponse:
    type: object
    description: CloneNamespacePipelineResponse contains a cloned pipeline.
  ComponentDefinition:
    type: object
    properties:
      name:
        type: string
        title: |-
          The name of the component definition, defined by its ID.
          - Format: `component-definitions/{id}`
        readOnly: true
      uid:
        type: string
        description: Component definition UUID.
        readOnly: true
      id:
        type: string
        description: |-
          Component definition resource ID (used in `name` as the last segment). This
          conforms to RFC-1034, which restricts to letters, numbers, and hyphen,
          with the first character a letter, the last a letter or a number, and a 63
          character maximum.
      title:
        type: string
        description: Component definition title.
        readOnly: true
      documentationUrl:
        type: string
        description: Component definition documentation URL.
        readOnly: true
      icon:
        type: string
        description: |-
          Component definition icon. This is a path that's relative to the root of
          the component implementation (see `source_url`) and that allows
          frontend applications to pull and locate the icons.
        readOnly: true
      spec:
        description: Component definition specification.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Spec'
      type:
        description: Component definition type.
        readOnly: true
        allOf:
          - $ref: '#/definitions/ComponentType'
      tombstone:
        type: boolean
        description: |-
          Component definition tombstone. If true, this configuration is permanently
          off. Otherwise, the configuration is active.
        readOnly: true
      public:
        type: boolean
        description: |-
          The public flag determines whether this connector definition is available
          to all workspaces.
        readOnly: true
      custom:
        type: boolean
        description: |-
          Component definition custom flag, i.e., whether this is a custom
          component definition.
        readOnly: true
      vendor:
        type: string
        description: Component definition vendor name.
        readOnly: true
      vendorAttributes:
        type: object
        description: Vendor-specific attributes.
        readOnly: true
      sourceUrl:
        type: string
        description: |-
          Source code URL. This points to the source code where the component is
          implemented.
        readOnly: true
      version:
        type: string
        description: |-
          Component definition version. This is a string that fulfills the SemVer
          specification (e.g. `1.0.0-beta`).
        readOnly: true
      tasks:
        type: array
        items:
          type: object
          $ref: '#/definitions/ComponentTask'
        description: List of tasks that can be executed by the component.
        readOnly: true
      description:
        type: string
        description: Short description of the component.
        readOnly: true
      releaseStage:
        description: Release stage.
        readOnly: true
        allOf:
          - $ref: '#/definitions/ReleaseStage'
    description: ComponentDefinition describes a certain type of Component.
  ComponentDefinition.View:
    type: string
    enum:
      - VIEW_BASIC
      - VIEW_FULL
    description: |-
      View defines how a component definition is presented.

       - VIEW_BASIC: Default view, only includes basic information (removes the `spec`
      field).
       - VIEW_FULL: Full representation.
  ComponentRun:
    type: object
    properties:
      pipelineRunUid:
        type: string
        description: Links to the parent PipelineRun.
        readOnly: true
      componentId:
        type: string
        description: Unique identifier for each pipeline component.
        readOnly: true
      status:
        description: Completion status of the component.
        readOnly: true
        allOf:
          - $ref: '#/definitions/RunStatus'
      totalDuration:
        type: integer
        format: int32
        description: Time taken to execute the component in milliseconds.
        readOnly: true
      startTime:
        type: string
        format: date-time
        description: Time when the component started execution.
        readOnly: true
      completeTime:
        type: string
        format: date-time
        description: Time when the component finished execution.
        readOnly: true
      error:
        type: string
        description: Error message if the component failed.
        readOnly: true
      inputsReference:
        type: array
        items:
          type: object
          $ref: '#/definitions/FileReference'
        description: Input files for the run.
        readOnly: true
      inputs:
        type: array
        items:
          type: object
        description: Component input parameters.
        readOnly: true
      outputsReference:
        type: array
        items:
          type: object
          $ref: '#/definitions/FileReference'
        description: Output files from the run.
        readOnly: true
      outputs:
        type: array
        items:
          type: object
        description: Component inference outputs.
        readOnly: true
      creditAmount:
        type: number
        format: float
        description: Credits used of internal accounting metric.
        readOnly: true
    description: ComponentRun represents the execution details of a single component within a pipeline run.
  ComponentTask:
    type: object
    properties:
      name:
        type: string
        description: The task name, e.g. `TASK_TEXT_GENERATION`.
        readOnly: true
      title:
        type: string
        description: Title is the task name in a human-friendly format.
        readOnly: true
      description:
        type: string
        description: Description contains information about the task.
        readOnly: true
    description: |-
      ComponentTask contains information about a task that a component can
      perform.
  ComponentType:
    type: string
    enum:
      - COMPONENT_TYPE_AI
      - COMPONENT_TYPE_DATA
      - COMPONENT_TYPE_OPERATOR
      - COMPONENT_TYPE_APPLICATION
      - COMPONENT_TYPE_GENERIC
    description: |-
      ComponentType defines the component type based on its task features.

       - COMPONENT_TYPE_AI: Connect with an AI model.
       - COMPONENT_TYPE_DATA: Connect with a remote data source.
       - COMPONENT_TYPE_OPERATOR: Manipulate data.
       - COMPONENT_TYPE_APPLICATION: Connect with an external application.
       - COMPONENT_TYPE_GENERIC: Generic.
  Connection:
    type: object
    properties:
      uid:
        type: string
        description: UUID-formatted unique identifier.
        readOnly: true
      id:
        type: string
        description: ID.
      namespaceId:
        type: string
        description: ID of the namespace owning the connection.
      integrationId:
        type: string
        description: |-
          Integration ID. It determines for which type of components can reference
          this connection.
      integrationTitle:
        type: string
        description: |-
          Integration title. This helps the console display the results grouped by
          integration ID without needing an extra call to fetch title by integration
          ID.
        readOnly: true
      method:
        description: |-
          Connection method. It references the setup schema provided by the
          integration.
        allOf:
          - $ref: '#/definitions/Method'
      setup:
        type: object
        description: |-
          Connection details. This field is required on creation, optional on view.
          When viewing the connection details, the setup values will be redacted.
      scopes:
        type: array
        items:
          type: string
        description: |-
          A list of scopes that identify the resources that the connection will be
          able to access on the user's behalf. This is typically passed on creation
          when the setup has been generated through an OAuth flow with a limited set
          of scopes.
      identity:
        type: string
        description: |-
          When the connection method is METHOD_OAUTH, this field will hold the
          identity (e.g., email, username) with which the access token has been
          generated.
      oAuthAccessDetails:
        type: object
        description: |-
          When the connection method is METHOD_OAUTH, the access token might come
          with some extra information that might vary across vendors. This
          information is passed as connection metadata.
      view:
        title: |-
          View defines how the connection is presented. The following fields are
          only shown in the FULL view:
          - setup
          - scopes
          - oAuthAccessDetails
        readOnly: true
        allOf:
          - $ref: '#/definitions/pipeline.v1beta.View'
      createTime:
        type: string
        format: date-time
        description: Creation timestamp.
        readOnly: true
      updateTime:
        type: string
        format: date-time
        description: Last update timestamp.
        readOnly: true
    description: |-
      Connection contains the parameters to communicate with a 3rd party app. A
      component may reference a connection in their setup. One connection may be
      used by several components and pipelines.
    required:
      - id
      - namespaceId
      - integrationId
      - method
      - setup
  CreateNamespaceConnectionResponse:
    type: object
    properties:
      connection:
        description: The created connection.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Connection'
    description: CreateNamespaceConnectionResponse contains the created connection.
  CreateNamespacePipelineReleaseResponse:
    type: object
    properties:
      release:
        description: The created pipeline release object.
        readOnly: true
        allOf:
          - $ref: '#/definitions/PipelineRelease'
    description: CreateNamespacePipelineReleaseResponse contains the created release.
  CreateNamespacePipelineResponse:
    type: object
    properties:
      pipeline:
        description: The created pipeline resource.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Pipeline'
    description: CreateNamespacePipelineResponse contains the created pipeline.
  CreateNamespaceSecretResponse:
    type: object
    properties:
      secret:
        description: The created secret resource.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Secret'
    description: CreateNamespaceSecretResponse contains the created secret.
  DataSpecification:
    type: object
    properties:
      input:
        type: object
        description: JSON schema describing the component input data.
        readOnly: true
      output:
        type: object
        description: JSON schema describing the component output data.
        readOnly: true
    description: DataSpecification describes the JSON schema of component input and output.
  DeleteNamespaceConnectionResponse:
    type: object
    description: DeleteNamespaceConnectionResponse is an empty response.
  DeleteNamespacePipelineReleaseResponse:
    type: object
    description: DeleteNamespacePipelineReleaseResponse is an empty response.
  DeleteNamespacePipelineResponse:
    type: object
    description: DeleteNamespacePipelineResponse is an empty response.
  DeleteNamespaceSecretResponse:
    type: object
    description: DeleteNamespaceSecretResponse is an empty response.
  Endpoints:
    type: object
    properties:
      webhooks:
        type: object
        additionalProperties:
          $ref: '#/definitions/WebhookEndpoint'
        description: Webhook endpoints.
        readOnly: true
    description: Endpoints describe the endpoints of a pipeline.
  ErrPipelineValidation:
    type: object
    properties:
      location:
        type: string
        title: Location
      error:
        type: string
        title: error
    description: |-
      ErrPipelineValidation contains information about a failed pipeline
      validation.
  FileReference:
    type: object
    properties:
      name:
        type: string
        description: Name of the file.
      type:
        type: string
        description: Format of the file (e.g., PDF, TXT, JPG).
      size:
        type: string
        format: int64
        description: Size of the file in bytes.
      url:
        type: string
        description: URL of the file (e.g., S3 URL).
    description: FileReference represents metadata for a file.
    required:
      - name
      - type
      - size
      - url
  GetIntegrationResponse:
    type: object
    properties:
      integration:
        description: The requested integration.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Integration'
    description: GetIntegrationResponse contains the requested integration.
  GetNamespaceConnectionResponse:
    type: object
    properties:
      connection:
        description: The requested connection.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Connection'
    description: GetNamespaceConnectionResponse contains the requested connection.
  GetNamespacePipelineReleaseResponse:
    type: object
    properties:
      release:
        description: The pipeline release resource.
        readOnly: true
        allOf:
          - $ref: '#/definitions/PipelineRelease'
    description: GetNamespacePipelineReleaseResponse contains the requested pipeline release.
  GetNamespacePipelineResponse:
    type: object
    properties:
      pipeline:
        description: The pipeline resource.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Pipeline'
    description: GetNamespacePipelineResponse contains the requested pipeline.
  GetNamespaceSecretResponse:
    type: object
    properties:
      secret:
        description: The secret resource.
        allOf:
          - $ref: '#/definitions/Secret'
    description: GetNamespaceSecretResponse contains the requested secret.
  GetOperationResponse:
    type: object
    properties:
      operation:
        description: The long-running operation.
        readOnly: true
        allOf:
          - $ref: '#/definitions/longrunning.Operation'
    description: GetOperationResponse contains the long-running operation details.
  Integration:
    type: object
    properties:
      uid:
        type: string
        description: UUID-formatted unique identifier. It references a component definition.
        readOnly: true
      id:
        type: string
        description: |-
          Identifier of the integration, which references a component definition.
          Components with that definition ID will be able to use the connections
          produced by this integration.
        readOnly: true
      title:
        type: string
        description: Title, reflects the app name.
        readOnly: true
      description:
        type: string
        description: Short description of the integrated app.
        readOnly: true
      vendor:
        type: string
        description: Integrated app vendor name.
        readOnly: true
      icon:
        type: string
        description: |-
          Integration icon. This is a path that's relative to the root of
          the component implementation and that allows frontend applications to pull
          and locate the icons.
          See the `icon` field in the `ComponentDefinition` entity for more
          information.
        readOnly: true
      helpLink:
        description: Reference to the vendor's documentation to expand the integration details.
        readOnly: true
        allOf:
          - $ref: '#/definitions/Link'
      setupSchema:
        type: object
        description: |-
          The connection setup field definitions. Each integration will require
          different data to connect to the 3rd party app.
        readOnly: true
      oAuthConfig:
        description: |-
          Configuration parameters required for the OAuth setup flow. This field
          will be present only if the integration supports OAuth 2.0.
        readOnly: true
        allOf:
          - $ref: '#/definitions/OAuthConfig'
      view:
        title: |-
          View defines how the integration is presented. The following fields are
          only shown in the FULL view:
          - schemas
          - setupSchema
          - oAuthConfig
        readOnly: true
        allOf:
          - $ref: '#/definitions/pipeline.v1beta.View'
      schemas:
        type: array
        items:
          type: object
          $ref: '#/definitions/SetupSchema'
        description: |-
          Schemas defines the supported schemas for the connection setup.
          We haven't found a case for a schema that changes on the connection method
          (components don't care about how the connection was built), so the schema
          will be provided in the setupSchema field and the OAuth support and
          configuration will be provided in oAuthConfig.
        readOnly: true
    description: |-
      Integration contains the parameters to create a connection between
      components and 3rd party apps.
  Link:
    type: object
    properties:
      text:
        type: string
        description: Text contains the message to display.
        readOnly: true
      url:
        type: string
        description: URL contains the reference the link will redirect to.
        readOnly: true
    description: Link contains the information to display an reference to an external URL.
  ListComponentDefinitionsResponse:
    type: object
    properties:
      componentDefinitions:
        type: array
        items:
          type: object
          $ref: '#/definitions/ComponentDefinition'
        description: A list of component definition resources.
      totalSize:
        type: integer
        format: int32
        description: Total number of component definitions.
      pageSize:
        type: integer
        format: int32
        description: The requested page size.
      page:
        type: integer
        format: int32
        description: The requested page offset.
    description: ListComponentDefinitionsResponse contains a list of component definitions.
  ListComponentRunsResponse:
    type: object
    properties:
      componentRuns:
        type: array
        items:
          type: object
          $ref: '#/definitions/ComponentRun'
        description: The list of component runs.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: The total number of component runs matching the request.
        readOnly: true
      page:
        type: integer
        format: int32
        description: The current page number.
        readOnly: true
      pageSize:
        type: integer
        format: int32
        description: The number of items per page.
        readOnly: true
    description: ListComponentRunsResponse is the response message for ListComponentRuns.
  ListIntegrationsResponse:
    type: object
    properties:
      integrations:
        type: array
        items:
          type: object
          $ref: '#/definitions/Integration'
        description: A list of integrations matching the request parameters.
        readOnly: true
      nextPageToken:
        type: string
        description: Next page token.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: Total number of items.
        readOnly: true
    description: ListIntegrationsResponse contains a paginated list of integrations.
  ListNamespaceConnectionsResponse:
    type: object
    properties:
      connections:
        type: array
        items:
          type: object
          $ref: '#/definitions/Connection'
        description: A list of connections matching the request parameters.
        readOnly: true
      nextPageToken:
        type: string
        description: Next page token.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: Total number of items.
        readOnly: true
    description: ListNamespaceConnectionsResponse contains a paginated list of connections.
  ListNamespacePipelineReleasesResponse:
    type: object
    properties:
      releases:
        type: array
        items:
          type: object
          $ref: '#/definitions/PipelineRelease'
        description: A list of pipeline release resources.
        readOnly: true
      nextPageToken:
        type: string
        description: Next page token.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: Total number of pipeline releases.
        readOnly: true
    description: ListNamespacePipelineReleasesResponse contains a list of pipeline releases.
  ListNamespacePipelinesResponse:
    type: object
    properties:
      pipelines:
        type: array
        items:
          type: object
          $ref: '#/definitions/Pipeline'
        description: A list of pipeline resources.
        readOnly: true
      nextPageToken:
        type: string
        description: Next page token.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: Total number of pipelines.
        readOnly: true
    description: ListNamespacePipelinesResponse contains a list of pipelines.
  ListNamespaceSecretsResponse:
    type: object
    properties:
      secrets:
        type: array
        items:
          type: object
          $ref: '#/definitions/Secret'
        description: A list of secret resources.
        readOnly: true
      nextPageToken:
        type: string
        description: Next page secret.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: Total number of secret resources.
        readOnly: true
    description: ListNamespaceSecretsResponse contains a list of secrets.
  ListPipelineIDsByConnectionIDResponse:
    type: object
    properties:
      pipelineIds:
        type: array
        items:
          type: string
        description: A list of pipeline IDs matching the request parameters.
        readOnly: true
      nextPageToken:
        type: string
        description: Next page token.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: Total number of items.
        readOnly: true
    description: ListPipelineIDsByConnectionIDResponse contains a paginated list of integrations.
  ListPipelineReleasesAdminResponse:
    type: object
    properties:
      releases:
        type: array
        items:
          type: object
          $ref: '#/definitions/PipelineRelease'
        description: A list of pipeline releases.
      nextPageToken:
        type: string
        description: Next page token.
      totalSize:
        type: integer
        format: int32
        description: Total number of pipeline releases.
    description: |-
      ListPipelineReleasesAdminResponse contains a list of pipeline releases
      requested by an admin user.
      For the moment, the pipeline recipes will be UID-based (permalink) instead
      of name-based. This is a temporary solution.
  ListPipelineRunsByRequesterResponse:
    type: object
    properties:
      pipelineRuns:
        type: array
        items:
          type: object
          $ref: '#/definitions/PipelineRun'
        description: The list of pipeline runs.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: The total number of pipeline runs matching the request.
        readOnly: true
      page:
        type: integer
        format: int32
        description: The current page number.
        readOnly: true
      pageSize:
        type: integer
        format: int32
        description: The number of items per page.
        readOnly: true
    description: ListPipelineRunsByRequesterResponse is the response message for ListPipelineRunsByRequester.
  ListPipelineRunsResponse:
    type: object
    properties:
      pipelineRuns:
        type: array
        items:
          type: object
          $ref: '#/definitions/PipelineRun'
        description: The list of pipeline runs.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: The total number of pipeline runs matching the request.
        readOnly: true
      page:
        type: integer
        format: int32
        description: The current page number.
        readOnly: true
      pageSize:
        type: integer
        format: int32
        description: The number of items per page.
        readOnly: true
    description: ListPipelineRunsResponse is the response message for ListPipelineRuns.
  ListPipelinesAdminResponse:
    type: object
    properties:
      pipelines:
        type: array
        items:
          type: object
          $ref: '#/definitions/Pipeline'
        description: A list of pipeline resources.
      nextPageToken:
        type: string
        description: Next page token.
      totalSize:
        type: integer
        format: int32
        description: Total number of pipelines.
    description: |-
      ListPipelinesAdminResponse contains a list of pipelines requested by an
      admin user.
      For the moment, the pipeline recipes will be UID-based (permalink) instead
      of name-based. This is a temporary solution.
  ListPipelinesResponse:
    type: object
    properties:
      pipelines:
        type: array
        items:
          type: object
          $ref: '#/definitions/Pipeline'
        description: A list of pipeline resources.
        readOnly: true
      nextPageToken:
        type: string
        description: Next page token.
        readOnly: true
      totalSize:
        type: integer
        format: int32
        description: Total number of pipelines.
        readOnly: true
    description: ListPipelinesResponse contains a list of pipelines.
  LookUpPipelineAdminResponse:
    type: object
    properties:
      pipeline:
        description: The requested pipeline.
        allOf:
          - $ref: '#/definitions/Pipeline'
    description: LookUpPipelineAdminResponse contains the requested pipeline.
  Method:
    type: string
    enum:
      - METHOD_DICTIONARY
      - METHOD_OAUTH
    description: |-
      Method defines how the connection is set up.

       - METHOD_DICTIONARY: Key-value collection. The user is responsible of fetching the connection
      details from the 3rd party service.
       - METHOD_OAUTH: Access token created via OAuth 2.0 authorization.
  NullValue:
    type: string
    description: |-
      `NullValue` is a singleton enumeration to represent the null value for the
      `Value` type union.

      The JSON representation for `NullValue` is JSON `null`.
  OAuthConfig:
    type: object
    properties:
      authUrl:
        type: string
        description: |-
          The URL of the OAuth server to initiate the authentication and
          authorization process.
        readOnly: true
      accessUrl:
        type: string
        description: |-
          The URL of the OAuth server to exchange the authorization code for an
          access token.
        readOnly: true
      scopes:
        type: array
        items:
          type: string
        description: |-
          A list of scopes that identify the resources that the connection will be
          able to access on the user's behalf.
        readOnly: true
    description: |-
      OAuthConfig contains the configuration parameters for fetching an access
      token via an OAuth 2.0 flow.
  Organization:
    type: object
    properties:
      name:
        type: string
        description: |-
          The name of the organization, defined by its ID.
          - Format: `organization/{organization.id}`.
        readOnly: true
      uid:
        type: string
        description: Organization UUID.
        readOnly: true
      id:
        type: string
        description: |-
          Resource ID (used in `name` as the last segment). This conforms to
          RFC-1034, which restricts to letters, numbers, and hyphen, with the first
          character a letter, the last a letter or a number, and a 63 character
          maximum.

          Note that the ID can be updated.
      createTime:
        type: string
        format: date-time
        description: Creation time.
        readOnly: true
      updateTime:
        type: string
        format: date-time
        description: Update time.
        readOnly: true
      owner:
        description: The user that owns the organization.
        readOnly: true
        allOf:
          - $ref: '#/definitions/v1beta.User'
      profile:
        description: Profile.
        allOf:
          - $ref: '#/definitions/OrganizationProfile'
      permission:
        title: Permission
        readOnly: true
        allOf:
[...]
