swagger: "2.0"
info:
  title: "\U0001F4A7 VDP"
  description: VDP endpoints to manage pipeline resources
  version: v0.29.0-beta
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
tags:
  - name: PipelinePublicService
    description: Public VDP endpoints
host: api.instill.tech
basePath: /vdp
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1beta/pipelines:
    get:
      summary: List accessible pipelines
      description: Returns a paginated list of pipelines that are visible to the requester.
      operationId: PipelinePublicService_ListPipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListPipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the user can see the pipeline.
             - VISIBILITY_PUBLIC: Other users can see the pipeline.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
      tags:
        - PipelinePublicService
  /v1beta/{permalink}/lookUp:
    get:
      summary: Get a pipeline by UID
      description: |-
        Returns the details of a pipeline by a permalink defined by the resource
        UID.
      operationId: PipelinePublicService_LookUpPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaLookUpPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: permalink
          description: |-
            The permalink of the pipeline, which allows its access by UID.
            - Format: `pipelines/{pipeline.uid}`.
          in: path
          required: true
          type: string
          pattern: pipelines/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
  /v1beta/{user_name}/pipelines:
    get:
      summary: List user pipelines
      description: |-
        Returns a paginated list of pipelines that belong to the specified user.
        The parent user may be different from the authenticated user, in which
        case the results will contain the pipelines that are visible to the
        latter.
      operationId: PipelinePublicService_ListUserPipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListUserPipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            The parent resource, i.e., the user that created the pipelines.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: page_size
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the user can see the pipeline.
             - VISIBILITY_PUBLIC: Other users can see the pipeline.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
      tags:
        - PipelinePublicService
    post:
      summary: Create a new user pipeline
      description: |-
        Creates a new pipeline under the parenthood of a user. Users can only
        create a pipeline as the parent of that resource (i.e. the authenticated
        user must match the `parent` path parameter).
      operationId: PipelinePublicService_CreateUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            The parent resource, i.e., the user that creates the pipeline.
            - Format: `users/{user.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+
        - name: pipeline
          description: The properties of the pipeline to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaPipeline'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_name}:
    get:
      summary: Get a pipeline owned by a user
      description: |-
        Returns the details of a user-owned pipeline by its resource name, which is defined
        by the parent user and the ID of the pipeline.
      operationId: PipelinePublicService_GetUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
    delete:
      summary: Delete a pipeline owned by a user
      description: |-
        Deletes a pipeline, accesing it by its resource name, which is defined by
        the parent user and the ID of the pipeline. The authenticated user must be
        the parent of the pipeline in order to delete it.
      operationId: PipelinePublicService_DeleteUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{pipeline_name}:
    patch:
      summary: Update a pipeline owned by a user
      description: |-
        Udpates a pipeline, accessing it by its resource name, which is defined by
        the parent user and the ID of the pipeline. The authenticated user must be
        the parent of the pipeline in order to modify it.

        In REST requests, only the supplied pipeline fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pipeline_name
          description: |-
            The name of the pipeline, defined by its parent and ID.
            - Format: `{parent_type}/{parent.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: pipeline
          description: The pipeline fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Pipeline UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Pipeline resource ID (used in `name` as the last segment). This conforms
                  to RFC-1034, which restricts to letters, numbers, and hyphen, with the
                  first character a letter, the last a letter or a number, and a 63
                  character maximum.
              description:
                type: string
                description: Pipeline description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe describes the components of a Pipeline and how they are connected.
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline delete time.
                readOnly: true
              sharing:
                $ref: '#/definitions/v1betaSharing'
                description: Pipeline sharing information.
              metadata:
                type: object
                description: Metadata holds console-related data such as the pipeline builder layout.
              owner_name:
                type: string
                description: Owner Name.
                readOnly: true
              releases:
                type: array
                items:
                  type: object
                  $ref: '#/definitions/v1betaPipelineRelease'
                description: Releases holds the history of pipeline versions.
                readOnly: true
              readme:
                type: string
                description: README holds the pipeline documentation.
              permission:
                $ref: '#/definitions/v1betaPermission'
                description: Permission defines how a pipeline can be used.
                readOnly: true
              visibility:
                $ref: '#/definitions/v1betaPipelineVisibility'
                description: Pipeline visibility.
                readOnly: true
              owner:
                $ref: '#/definitions/v1betaOwner'
                description: Pipeline owner.
                readOnly: true
              data_specification:
                $ref: '#/definitions/v1betaDataSpecification'
                description: Data specifications.
                readOnly: true
            title: The pipeline fields that will replace the existing ones.
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_name}/validate:
    post:
      summary: Validate a pipeline a pipeline owned by a user
      description: |-
        Validates a pipeline by its resource name, which is defined by the parent
        user and the ID of the pipeline.

        Validation checks the recipe of the pipeline and the status of its components.
      operationId: PipelinePublicService_ValidateUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaValidateUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceValidateUserPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_name}/rename:
    post:
      summary: Rename a pipeline owned by a user
      description: |-
        Updates the ID of a pipeline. Since this is an output-only field, a custom
        method is required to modify it.

        The pipeline name will be updated accordingly, as it is  composed by the
        parent user and ID of the pipeline (e.g.
        `users/luigi/pipelines/pizza-recipe-generator`).

        The authenticated user must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_RenameUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRenameUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceRenameUserPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_name}/clone:
    post:
      summary: Clone a pipeline owned by a user
      description: |-
        Clones a pipeline owned by a user. The new pipeline may have a different
        parent, and this can be either a user or an organization.
      operationId: PipelinePublicService_CloneUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCloneUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceCloneUserPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_name}/trigger:
    post:
      summary: Trigger a pipeline owned by a user
      description: |-
        Triggers the execution of a pipeline synchronously, i.e., the result is
        sent back to the user right after the data is processed. This method is
        intended for real-time inference when low latency is of concern.

        The pipeline is identified by its resource name, formed by the parent user
        and ID of the pipeline.

        For more information, see [Trigger
        Pipeline](https://www.instill.tech/docs/latest/core/concepts/pipeline#trigger-pipeline).
      operationId: PipelinePublicService_TriggerUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerUserPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_name}/triggerAsync:
    post:
      summary: Trigger a pipeline owned by a user asynchronously
      description: |-
        Triggers the execution of a pipeline asynchronously, i.e., the result
        contains the necessary information to access the result and status of the
        operation. This method is intended for cases that require long-running
        workloads.

        The pipeline is identified by its resource name, formed by the parent user
        and ID of the pipeline.

        For more information, see [Trigger
        Pipeline](https://www.instill.tech/docs/latest/core/concepts/pipeline#trigger-pipeline).
      operationId: PipelinePublicService_TriggerAsyncUserPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerAsyncUserPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent user
            and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerAsyncUserPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_name}/releases:
    get:
      summary: List the releases in a pipeline owned by a user
      description: |-
        Lists the commited versions of a pipeline, identified by its resource
        name, which is formed by the parent user and ID of the pipeline.
      operationId: PipelinePublicService_ListUserPipelineReleases
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListUserPipelineReleasesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            The parent resource where this pipeline release will be created.
            Format: `users/{user.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: page_size
          description: |-
            The maximum number of releases to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
      tags:
        - PipelinePublicService
    post:
      summary: Release a version of a pipeline owned by a user
      description: |-
        Commits the version of a pipeline, identified by its resource name, which
        is formed by the parent user and ID of the pipeline.

        The authenticated user must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_CreateUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_name
          description: |-
            Name of the pipeline for which the release will be created.
            Format: `users/{user.id}/pipelines/{pipeline.id}`
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+
        - name: release
          description: The release information.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaPipelineRelease'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_release_name}:
    get:
      summary: Get a release in a pipeline owned by a user
      description: |-
        Gets the details of a pipeline release, where the pipeline is identified
        by its resource name, formed by its parent user and ID.
      operationId: PipelinePublicService_GetUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
    delete:
      summary: Delete a release in a pipeline owned by a user
      description: |-
        Deletes a pipeline release, where the pipeline is identified by its
        resource name, formed by its parent user and ID.

        The authenticated user must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_DeleteUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{pipeline_release_name}:
    patch:
      summary: Update a release in a pipeline owned by a user
      description: |-
        Updates the details of a pipeline release, where the pipeline is
        identified by its resource name, formed by its parent user and ID.

        The authenticated user must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_UpdateUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pipeline_release_name
          description: |-
            The name of the release, defined by its parent and ID.
            - Format: `{parent_type}/{parent.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: release
          description: |-
            The pipeline release fields that will replace the existing ones.
            A pipeline release resource to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Release UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Release resource ID (used in `name` as the last segment). It must be a
                  sematic version vX.Y.Z.
              description:
                type: string
                description: Release description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe of the versioned pipeline.
                readOnly: true
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline deletion time.
                readOnly: true
              alias:
                type: string
                description: Alias.
                readOnly: true
              metadata:
                type: object
                description: |-
                  Key-value object with console-related data such as the pipeline builder
                  layout.
              readme:
                type: string
                description: README.
              data_specification:
                $ref: '#/definitions/v1betaDataSpecification'
                description: Data specifications.
                readOnly: true
            title: |-
              The pipeline release fields that will replace the existing ones.
              A pipeline release resource to update
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_release_name}/restore:
    post:
      summary: Set the version of a pipeline owned by a user to a pinned release
      description: |-
        Sets the pipeline configuration to a pinned version defined by a release.

        The pipeline is identified by its resource name, formed by its parent user
        and ID.

        The authenticated user must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_RestoreUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRestoreUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_release_name}/watch:
    get:
      summary: Get the state of a release in a pipeline owned by a user
      description: |-
        Gets the state of a pipeline release, where the pipeline is identified by
        its resource name, formed by the parent user and ID of the pipeline.
      operationId: PipelinePublicService_WatchUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaWatchUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_release_name}/rename:
    post:
      summary: Rename a release in a pipeline owned by a user
      description: |-
        Updates the ID of a pipeline release, where the pipeline is identified by
        its resource name, formed by the parent user and ID. Since this is an
        output-only field, a custom method is required to modify it.

        The pipeline release name will be updated accordingly, as it is  composed
        by the pipeline name and the ID of the release (e.g.
        `users/luigi/pipelines/pizza-recipe-generator/releases/v0.2.1`).

        The authenticated user must be the parent of the pipeline in order to
        perform this action.
      operationId: PipelinePublicService_RenameUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRenameUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceRenameUserPipelineReleaseBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_release_name}/trigger:
    post:
      summary: Trigger a version of a pipeline owned by a user
      description: |-
        Triggers the synchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent user
        and ID.
      operationId: PipelinePublicService_TriggerUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerUserPipelineReleaseBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_release_name}/triggerAsync:
    post:
      summary: Trigger a version of a pipeline owned by a user asynchronously
      description: |-
        Triggers the asynchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent user
        and ID.
      operationId: PipelinePublicService_TriggerAsyncUserPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerAsyncUserPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format: `users/{user.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: users/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerAsyncUserPipelineReleaseBody'
      tags:
        - PipelinePublicService
  /v1beta/{organization_name}/pipelines:
    get:
      summary: List organization pipelines
      description: |-
        Returns a paginated list of pipelines that belong to the specified
        organization.
      operationId: PipelinePublicService_ListOrganizationPipelines
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationPipelinesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            The parent resource, i.e., the organization that created the pipelines.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: page_size
          description: |-
            The maximum number of pipelines to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
            - Example:
            `recipe.components.definition_name:"operator-definitions/2ac8be70-0f7a-4b61-a33d-098b8acfa6f3"`.
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
        - name: visibility
          description: |-
            Limit results to pipelines with the specified visibility.

             - VISIBILITY_PRIVATE: Only the user can see the pipeline.
             - VISIBILITY_PUBLIC: Other users can see the pipeline.
          in: query
          required: false
          type: string
          enum:
            - VISIBILITY_PRIVATE
            - VISIBILITY_PUBLIC
      tags:
        - PipelinePublicService
    post:
      summary: Create a new organization pipeline
      description: Creates a new pipeline under the parenthood of an organization.
      operationId: PipelinePublicService_CreateOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            The parent resource, i.e., the organization that creates the pipeline.
            - Format: `organizations/{organization.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+
        - name: pipeline
          description: The properties of the pipeline to be created.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaPipeline'
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_name}:
    get:
      summary: Get a pipeline owned by an organization
      description: |-
        Returns the details of an organization-owned pipeline by its resource name,
        which is defined by the parent organization and the ID of the pipeline.
      operationId: PipelinePublicService_GetOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
    delete:
      summary: Delete a pipeline owned by an organization
      description: |-
        Deletes a pipeline, accesing it by its resource name, which is defined by
        the parent organization and the ID of the pipeline.
      operationId: PipelinePublicService_DeleteOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{pipeline_name_1}:
    patch:
      summary: Update a pipeline owned by an organization
      description: |-
        Udpates a pipeline, accessing it by its resource name, which is defined by

        In REST requests, only the supplied pipeline fields will be taken into
        account when updating the resource.
      operationId: PipelinePublicService_UpdateOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pipeline_name_1
          description: |-
            The name of the pipeline, defined by its parent and ID.
            - Format: `{parent_type}/{parent.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: pipeline
          description: The pipeline fields that will replace the existing ones.
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Pipeline UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Pipeline resource ID (used in `name` as the last segment). This conforms
                  to RFC-1034, which restricts to letters, numbers, and hyphen, with the
                  first character a letter, the last a letter or a number, and a 63
                  character maximum.
              description:
                type: string
                description: Pipeline description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe describes the components of a Pipeline and how they are connected.
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline delete time.
                readOnly: true
              sharing:
                $ref: '#/definitions/v1betaSharing'
                description: Pipeline sharing information.
              metadata:
                type: object
                description: Metadata holds console-related data such as the pipeline builder layout.
              owner_name:
                type: string
                description: Owner Name.
                readOnly: true
              releases:
                type: array
                items:
                  type: object
                  $ref: '#/definitions/v1betaPipelineRelease'
                description: Releases holds the history of pipeline versions.
                readOnly: true
              readme:
                type: string
                description: README holds the pipeline documentation.
              permission:
                $ref: '#/definitions/v1betaPermission'
                description: Permission defines how a pipeline can be used.
                readOnly: true
              visibility:
                $ref: '#/definitions/v1betaPipelineVisibility'
                description: Pipeline visibility.
                readOnly: true
              owner:
                $ref: '#/definitions/v1betaOwner'
                description: Pipeline owner.
                readOnly: true
              data_specification:
                $ref: '#/definitions/v1betaDataSpecification'
                description: Data specifications.
                readOnly: true
            title: The pipeline fields that will replace the existing ones.
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_name}/validate:
    post:
      summary: Validate a pipeline a pipeline owned by an organization
      description: |-
        Validates a pipeline by its resource name, which is defined by the parent
        organization and the ID of the pipeline.

        Validation checks the recipe of the pipeline and the status of its
        components.
      operationId: PipelinePublicService_ValidateOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaValidateOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceValidateOrganizationPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_name}/rename:
    post:
      summary: Rename a pipeline owned by an organization
      description: |-
        Updates the ID of a pipeline. Since this is an output-only field, a custom
        method is required to modify it.

        The pipeline name will be updated accordingly, as it is  composed by the
        parent organization and ID of the pipeline (e.g.
        `organizations/luigi/pipelines/pizza-recipe-generator`).
      operationId: PipelinePublicService_RenameOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRenameOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceRenameOrganizationPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{user_pipeline_name_1}/clone:
    post:
      summary: Clone a pipeline owned by an organization
      description: |-
        Clones a pipeline owned by an organization. The new pipeline may have a
        different parent, and this can be either a user or an organization.
      operationId: PipelinePublicService_CloneOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCloneOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: user_pipeline_name_1
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceCloneOrganizationPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_name}/trigger:
    post:
      summary: Trigger a pipeline owned by an organization
      description: |-
        Triggers the execution of a pipeline synchronously, i.e., the result is sent
        back to the organization right after the data is processed. This method is
        intended for real-time inference when low latency is of concern.

        The pipeline is identified by its resource name, formed by the parent
        organization and ID of the pipeline.

        For more information, see [Trigger
        Pipeline](https://www.instill.tech/docs/latest/core/concepts/pipeline#trigger-pipeline).
      operationId: PipelinePublicService_TriggerOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerOrganizationPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_name}/triggerAsync:
    post:
      summary: Trigger a pipeline owned by an organization asynchronously
      description: |-
        Triggers the execution of a pipeline asynchronously, i.e., the result
        contains the necessary information to access the result and status of the
        operation. This method is intended for cases that require long-running
        workloads.

        The pipeline is identified by its resource name, formed by the parent
        organization and ID of the pipeline.

        For more information, see [Trigger
        Pipeline](https://www.instill.tech/docs/latest/core/concepts/pipeline#trigger-pipeline).
      operationId: PipelinePublicService_TriggerAsyncOrganizationPipeline
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerAsyncOrganizationPipelineResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_name
          description: |-
            The resource name of the pipeline, which allows its access by parent
            organization and ID.
            - Format: `organizations/{organization.id}/pipelines/{pipeline.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerAsyncOrganizationPipelineBody'
      tags:
        - PipelinePublicService
  /v1beta/{organization_name}/releases:
    get:
      summary: List the releases in a pipeline owned by an organization
      description: |-
        Lists the commited versions of a pipeline, identified by its resource name,
        which is formed by the parent organization and ID of the pipeline.
      operationId: PipelinePublicService_ListOrganizationPipelineReleases
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOrganizationPipelineReleasesResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            The parent resource where this pipeline release will be created.
            Format: `organizations/{organization.id}/pipelines/{pipeline.id}`
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: page_size
          description: |-
            The maximum number of releases to return. If this parameter is
            unspecified, at most 10 pipelines will be returned. The cap value for this
            parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: show_deleted
          description: Include soft-deleted pipelines in the result.
          in: query
          required: false
          type: boolean
      tags:
        - PipelinePublicService
    post:
      summary: Release a version of a pipeline owned by an organization
      description: |-
        Commits the version of a pipeline, identified by its resource name, which is
        formed by the parent organization and ID of the pipeline.
      operationId: PipelinePublicService_CreateOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCreateOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_name
          description: |-
            Name of the pipeline for which the release will be created.
            Format: `organizations/{organization.id}/pipelines/{pipeline.id}`
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+
        - name: release
          description: The release information.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaPipelineRelease'
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release_name}:
    get:
      summary: Get a release in a pipeline owned by an organization
      description: |-
        Gets the details of a pipeline release, where the pipeline is identified by
        its resource name, formed by its parent organization and ID.
      operationId: PipelinePublicService_GetOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired pipeline view in the response.

             - VIEW_BASIC: Default view, only includes basic information.
             - VIEW_FULL: Full representation.
             - VIEW_RECIPE: Contains the recipe of the resource.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
            - VIEW_RECIPE
      tags:
        - PipelinePublicService
    delete:
      summary: Delete a release in a pipeline owned by an organization
      description: |-
        Deletes a pipeline release, where the pipeline is identified by its resource
        name, formed by its parent organization and ID.
      operationId: PipelinePublicService_DeleteOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaDeleteOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{pipeline_release_name_1}:
    patch:
      summary: Update a release in a pipeline owned by an organization
      description: |-
        Updates the details of a pipeline release, where the pipeline is identified
        by its resource name, formed by its parent organization and ID.
      operationId: PipelinePublicService_UpdateOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaUpdateOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: pipeline_release_name_1
          description: |-
            The name of the release, defined by its parent and ID.
            - Format: `{parent_type}/{parent.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: release
          description: |-
            The pipeline release fields that will replace the existing ones.
            A pipeline release resource to update
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Release UUID.
                readOnly: true
              id:
                type: string
                description: |-
                  Release resource ID (used in `name` as the last segment). It must be a
                  sematic version vX.Y.Z.
              description:
                type: string
                description: Release description.
              recipe:
                $ref: '#/definitions/v1betaRecipe'
                description: Recipe of the versioned pipeline.
                readOnly: true
              create_time:
                type: string
                format: date-time
                description: Pipeline creation time.
                readOnly: true
              update_time:
                type: string
                format: date-time
                description: Pipeline update time.
                readOnly: true
              delete_time:
                type: string
                format: date-time
                description: Pipeline deletion time.
                readOnly: true
              alias:
                type: string
                description: Alias.
                readOnly: true
              metadata:
                type: object
                description: |-
                  Key-value object with console-related data such as the pipeline builder
                  layout.
              readme:
                type: string
                description: README.
              data_specification:
                $ref: '#/definitions/v1betaDataSpecification'
                description: Data specifications.
                readOnly: true
            title: |-
              The pipeline release fields that will replace the existing ones.
              A pipeline release resource to update
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release_name}/restore:
    post:
      summary: Set the version of a pipeline owned by an organization to a pinned release
      description: |-
        Sets the pipeline configuration to a pinned version defined by a release.

        The pipeline is identified by its resource name, formed by its parent
        organization and ID.
      operationId: PipelinePublicService_RestoreOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRestoreOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release_name}/watch:
    get:
      summary: Get the state of a release in a pipeline owned by an organization
      description: |-
        Gets the state of a pipeline release, where the pipeline is identified by
        its resource name, formed by the parent organization and ID of the pipeline.
      operationId: PipelinePublicService_WatchOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaWatchOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release_name}/rename:
    post:
      summary: Rename a release in a pipeline owned by an organization
      description: |-
        Updates the ID of a pipeline release, where the pipeline is identified by
        its resource name, formed by the parent organization and ID. Since this is
        an output-only field, a custom method is required to modify it.

        The pipeline release name will be updated accordingly, as it is  composed by
        the pipeline name and the ID of the release (e.g.
        `organizations/luigi/pipelines/pizza-recipe-generator/releases/v0.2.1`).
      operationId: PipelinePublicService_RenameOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaRenameOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceRenameOrganizationPipelineReleaseBody'
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release_name}/trigger:
    post:
      summary: Trigger a version of a pipeline owned by an organization
      description: |-
        Triggers the synchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent
        organization and ID.
      operationId: PipelinePublicService_TriggerOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerOrganizationPipelineReleaseBody'
      tags:
        - PipelinePublicService
  /v1beta/{organization_pipeline_release_name}/triggerAsync:
    post:
      summary: Trigger a version of a pipeline owned by an organization asynchronously
      description: |-
        Triggers the asynchronous execution of of a pipeline. While the trigger
        endpoint (where the release version isn't specified) triggers the pipeline
        at its latest release, this method allows the client to specified any
        committed release.

        The pipeline is identified by its resource name, formed by its parent
        organization and ID.
      operationId: PipelinePublicService_TriggerAsyncOrganizationPipelineRelease
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaTriggerAsyncOrganizationPipelineReleaseResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: organization_pipeline_release_name
          description: |-
            The resource name of the pipeline release, which allows its access by
            parent pipeline and ID.
            - Format:
            `organizations/{organization.id}/pipelines/{pipeline.id}/releases/{release.id}`.
          in: path
          required: true
          type: string
          pattern: organizations/[^/]+/pipelines/[^/]+/releases/[^/]+
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PipelinePublicServiceTriggerAsyncOrganizationPipelineReleaseBody'
      tags:
        - PipelinePublicService
  /v1beta/{name}:
    get:
      summary: Get the details of a long-running operation
      description: |-
        This method allows requesters to request the status and outcome of
        long-running operations such as asynchronous pipeline triggers.
      operationId: PipelinePublicService_GetOperation
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOperationResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: name
          description: |-
            The name of the operation resource. Asynchronous methods will contain this
            information in their response.
          in: path
          required: true
          type: string
          pattern: operations/[^/]+
      tags:
        - PipelinePublicService
  /v1beta/connector-definitions:
    get:
      summary: List connector definitions
      description: Returns a paginated list of connector definitions.
      operationId: PipelinePublicService_ListConnectorDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListConnectorDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of connector definitions to return. If this parameter
            is unspecified, at most 10 definitions will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (removes the `spec`
            field).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - PipelinePublicService
  /v1beta/{connector_definition_name}:
    get:
      summary: Get connector definition
      description: Returns the details of a connector definition.
      operationId: PipelinePublicService_GetConnectorDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetConnectorDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: connector_definition_name
          description: |-
            The resource name of the connector definition, which allows its access by ID.
            - Format: `connector-definitions/{id}`.
          in: path
          required: true
          type: string
          pattern: connector-definitions/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (removes the `spec`
            field).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - PipelinePublicService
  /v1beta/operator-definitions:
    get:
      summary: List operator definitions
      description: Returns a paginated list of operator definitions.
      operationId: PipelinePublicService_ListOperatorDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListOperatorDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of OperatorDefinitions to return. The
            service may return fewer than this value. If unspecified, at most 10
            OperatorDefinitions will be returned. The maximum value is 100;
            values above 100 will be coerced to 100.
          in: query
          required: false
          type: integer
          format: int32
        - name: page_token
          description: Page token.
          in: query
          required: false
          type: string
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `create_time>timestamp("2000-06-19T23:31:08.657Z")`.
          in: query
          required: false
          type: string
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (removes the `spec`
            field).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - PipelinePublicService
  /v1beta/component-definitions:
    get:
      summary: List component definitions
      description: |-
        Returns a paginated list of component definitions, regardless their type.
        This offers a single source of truth, with pagination and filter
        capabilities, for the components that might be used in a VDP pipeline.
      operationId: PipelinePublicService_ListComponentDefinitions
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaListComponentDefinitionsResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: page_size
          description: |-
            The maximum number of component definitions to return. If this parameter
            is unspecified, at most 10 definitions will be returned. The cap value for
            this parameter is 100 (i.e. any value above that will be coerced to 100).
          in: query
          required: false
          type: integer
          format: int32
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (removes the `spec`
            field).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
        - name: filter
          description: |-
            Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter
            expression.
            - Example: `component_type="COMPONENT_TYPE_CONNECTOR_AI"`.
            - Example: `tasks:"TASK_TEXT_GENERATION"`.
          in: query
          required: false
          type: string
        - name: page
          description: Page number.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - PipelinePublicService
  /v1beta/{operator_definition_name}:
    get:
      summary: Get operator definition
      description: Returns the details of an operator definition.
      operationId: PipelinePublicService_GetOperatorDefinition
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaGetOperatorDefinitionResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: operator_definition_name
          description: |-
            The resource name of the operator definition, which allows its access by ID.
            - Format: `operator-definitions/{id}`.
          in: path
          required: true
          type: string
          pattern: operator-definitions/[^/]+
        - name: view
          description: |-
            View allows clients to specify the desired resource view in the response.

             - VIEW_BASIC: Default view, only includes basic information (removes the `spec`
            field).
             - VIEW_FULL: Full representation.
          in: query
          required: false
          type: string
          enum:
            - VIEW_BASIC
            - VIEW_FULL
      tags:
        - PipelinePublicService
  /v1beta/check-name:
    post:
      summary: Check the availibity of a resource name
      description: |-
        Check whether a resource name is already in use. Currently this endpoint
        only supports pipeline and connector resource names.
      operationId: PipelinePublicService_CheckName
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1betaCheckNameResponse'
        "401":
          description: Returned when the client credentials are not valid.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
        - name: body
          description: |-
            CheckNameRequest represents a request to verify if a name is
            available.
          in: body
          required: true
          schema:
            $ref: '#/definitions/v1betaCheckNameRequest'
      tags:
        - PipelinePublicService
definitions:
  CheckNameResponseName:
    type: string
    enum:
      - NAME_AVAILABLE
      - NAME_UNAVAILABLE
    description: |-
      Name defines the availability of a resource name.

       - NAME_AVAILABLE: Available.
       - NAME_UNAVAILABLE: Unavailable.
  ComponentDefinitionReleaseStage:
    type: string
    enum:
      - RELEASE_STAGE_OPEN_FOR_CONTRIBUTION
      - RELEASE_STAGE_COMING_SOON
      - RELEASE_STAGE_ALPHA
      - RELEASE_STAGE_BETA
      - RELEASE_STAGE_GA
    description: |-
      - RELEASE_STAGE_OPEN_FOR_CONTRIBUTION: This component is unimplemented and community contributions are welcome
      for this component.

      It is recommended that the major and minor versions for definitions at
      this release stage is kept at 0, e.g., `0.0.1`, `0.0.4`, etc.
       - RELEASE_STAGE_COMING_SOON: The implementation of this component is planned and will be tackled by
      the Instill AI team.

      It is recommended that the major and minor versions for definitions at
      this release stage is kept at 0, e.g., `0.0.1`, `0.0.4`, etc.
       - RELEASE_STAGE_ALPHA: Initial implementation intended to gather feedback and issues from early
      adopters. Alpha releases are discouraged for production use cases.

      The `version` field in the definition must have `alpha` as its first
      pre-release identifier, e.g., `0.1.0-alpha`, `0.1.3-alpha.1`.
       - RELEASE_STAGE_BETA: The connector has reached stability and no backwards incompatible
      changes are expected. Before reaching general availability, it should be
      validated by a broader group of users. Some fixes might be added during
      this process.

      The `version` field in the definition must have `beta` as its first
      pre-release identifier, e.g., `0.1.0-beta`, `0.1.3-beta.1`.
       - RELEASE_STAGE_GA: Generally available - ready for use in production and fully supported by
      Instill AI.
    title: |-
      ReleaseStage defines the release stage of a component. This is used to
      group components with the same pre-relase groups (e.g. `0.1.0-beta`,
      `0.1.0-beta.1` -> `RELEASE_STAGE_BETA`) and to include other "in progress"
      (i.e. coming soon, open for contributions) stages that may not be relevant
      within semantic versioning.
      See the documentation of each value for potential constraints between
      `version` and `release_stage` fields.`
  PipelinePublicServiceCloneOrganizationPipelineBody:
    type: object
    properties:
      target:
        type: string
        title: |-
          The target pipeline name. It can be under a user or an organization
          namespace, so the following formats are accepted:
          - `users/{user.id}/pipelines/{pipeline.id}`
          - `organizations/{organization.id}/pipelines/{pipeline.id}`
    description: |-
      CloneOrganizationPipelineRequest represents a request to clone a pipeline
      owned by an organization.
    required:
      - target
  PipelinePublicServiceCloneUserPipelineBody:
    type: object
    properties:
      target:
        type: string
        title: |-
          The target pipeline name. It can be under a user or an organization
          namespace, so the following formats are accepted:
          - `users/{user.id}/pipelines/{pipeline.id}`
          - `organizations/{organization.id}/pipelines/{pipeline.id}`
    description: |-
      CloneUserPipelineRequest represents a request to clone a pipeline owned by a
      user.
    required:
      - target
  PipelinePublicServiceRenameOrganizationPipelineBody:
    type: object
    properties:
      new_pipeline_id:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `organizations/{organization.id}/pipelines/{new_pipeline_id}`.
    description: |-
      RenameOrganizationPipelineRequest represents a request to rename the name of
      a pipeline owned by an organization.
    required:
      - new_pipeline_id
  PipelinePublicServiceRenameOrganizationPipelineReleaseBody:
    type: object
    properties:
      new_pipeline_release_id:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `organizations/{organization.id}/pipelines/{pipeline.id}/releases{new_release_id}`.
    description: |-
      RenameOrganizationPipelineReleaseRequest represents a request to rename a
      release in an organization-owned pipeline.
    required:
      - new_pipeline_release_id
  PipelinePublicServiceRenameUserPipelineBody:
    type: object
    properties:
      new_pipeline_id:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `users/{user.id}/pipelines/{new_pipeline_id}`.
    description: |-
      RenameUserPipelineRequest represents a request to rename the name of a
      pipeline owned by a user.
    required:
      - new_pipeline_id
  PipelinePublicServiceRenameUserPipelineReleaseBody:
    type: object
    properties:
      new_pipeline_release_id:
        type: string
        description: |-
          The new resource ID. This will transform the resource name into
          `users/{user.id}/pipelines/{pipeline.id}/releases{new_release_id}`.
    description: |-
      RenameUserPipelineReleaseRequest represents a request to rename a release in
      a user-owned pipeline.
    required:
      - new_pipeline_release_id
  PipelinePublicServiceTriggerAsyncOrganizationPipelineBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerOrganizationPipelineRequest represents a request to trigger an
      organization-owned pipeline synchronously.
    required:
      - inputs
  PipelinePublicServiceTriggerAsyncOrganizationPipelineReleaseBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerOrganizationPipelineReleaseRequest represents a request to trigger a
      pinned release of an organization-owned pipeline asynchronously.
    required:
      - inputs
  PipelinePublicServiceTriggerAsyncUserPipelineBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerUserPipelineRequest represents a request to trigger a user-owned
      pipeline synchronously.
    required:
      - inputs
  PipelinePublicServiceTriggerAsyncUserPipelineReleaseBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerUserPipelineReleaseRequest represents a request to trigger a pinned
      release of a user-owned pipeline asynchronously.
    required:
      - inputs
  PipelinePublicServiceTriggerOrganizationPipelineBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerOrganizationPipelineRequest represents a request to trigger an
      organization-owned pipeline synchronously.
    required:
      - inputs
  PipelinePublicServiceTriggerOrganizationPipelineReleaseBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerOrganizationPipelineReleaseRequest represents a request to trigger a
      pinned release of an organization-owned pipeline.
    required:
      - inputs
  PipelinePublicServiceTriggerUserPipelineBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerUserPipelineRequest represents a request to trigger a user-owned
      pipeline synchronously.
    required:
      - inputs
  PipelinePublicServiceTriggerUserPipelineReleaseBody:
    type: object
    properties:
      inputs:
        type: array
        items:
          type: object
        description: Pipeline input parameters.
    description: |-
      TriggerUserPipelineReleaseRequest represents a request to trigger a pinned
      release of a user-owned pipeline.
    required:
      - inputs
  PipelinePublicServiceValidateOrganizationPipelineBody:
    type: object
    description: |-
[...]
